<!--
  ~ © NHN Commerce Corp. All rights reserved.
  ~ NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  ~
  ~ @author JongKeun Kim
  ~ @since 2021.7.8
  -->

<script id="addCouponPopupTemplate" type="text/x-handlebars-template">
    <div class="layer_wrap dimed">
    	<div id="addCouponPopup" class="box common_popup_body" style="width: 500px">
    		<div class="view" style="text-align: left;">
    			<h2>쿠폰 등록</h2>
    			<div id="form" class="ly_cont" method="post" style="min-height: auto;">
    				<div class="coupon_register_cont">
    					<p><strong>발급 받으신 쿠폰 인증 번호를 아래에 입력해주세요.</strong></p>
    					<input type="text" id="couponNumber" maxlength="20" style="display: block;width: 100%;margin: 10px 0 0 0;">
    				</div>
    				<div class="btn_center_box">
    					<button type="button" class="btn_ly_cancel layer_close btnClosePopup" data-action-type="negative"><strong>취소</strong></button>
    					<button type="button" id="addCouponSubmit" class="btn_ly_save"><strong>저장</strong></button>
    				</div>
    			</div>
    		</div>
    		<a href="#contents" class="ly_close btnClosePopup" data-action-type="negative" style="outline: 0"><img
    			src="/assets/img/mypage/icon-layer-close.png" alt="닫기"></a>
    </div>
</script>

<script type="text/javascript" src="/js/components/popup/add-coupon.js"></script>
