<!--
  ~ © NHN Commerce Corp. All rights reserved.
  ~ NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  ~
  ~ @author JongKeun Kim
  ~ @since 2021.7.14
  -->

<script id="applyCouponTemplate" type="text/x-handlebars-template">
    <div id="applyCoupon" class="ly_pop ly_effect_3 ly_show">
        <div class="ly_wrap">
            <div class="layer_common_wrapper">
                <div class="ly_head">
                    <h1 class="h_tit">쿠폰 적용하기</h1>
                </div>
                <div id="innerScrollBox" class="view couponList">
                    <h2><span>보유하신 쿠폰 중 적용가능한 쿠폰만 노출됩니다.</span></h2>

                    <div class="scroll_box bot-bor">
                        <div class="scroll_box_cont">
                        <div class="top_table_type order_table_type coupon_table">
                            <div class="table_shell">
                                <div class="top_table_type order_table_type coupon_table cart_coupon">
                                    <a
                                        href="#productCoupon"
                                        data-action="toggleOnClass"
                                        class="btn_apply_product_coupon on"
                                    >
                                        상품 쿠폰
                                    </a>
                                    <div id="productCoupon" class="apply_product_coupon_box">
                                        <div class="apply_product_coupon">
                                            {{#each products}}
                                            <div class="apply_product_coupon_title">
                                                <p>
                                                    {{safeString productName}}
                                                </p>
                                                {{#if mainOption}}
                                                <p>
                                                    <span>
                                                        {{safeString mainOption}}
                                                        {{#each optionInputs}}
                                                            -{{safeString inputLabel}}:{{safeString inputValue}}
                                                        {{/each}}
                                                    </span>
                                                </p>
                                                {{/if}}
                                                <p>
                                                    {{toCurrencyString buyAmt}}원
                                                </p>
                                            </div>
                                            <ul>
                                                <li>
                                                    <div>
                                                        <div>
                                                            <div class="form_element">
                                                                <input
                                                                    type="radio"
                                                                    name="productCoupon-{{productNo}}"
                                                                    id="productCoupon-{{productNo}}-default"
                                                                    value="default"
                                                                    data-type="product"
                                                                    data-product-no="{{productNo}}"
                                                                    checked
                                                                />
                                                                <label class="choice_s" for="productCoupon-{{productNo}}-default">
                                                                    쿠폰 미사용
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                {{#each productCoupons}}
                                                <li>
                                                    <div>
                                                        <div>
                                                            <div class="form_element">
                                                                <input
                                                                    type="radio"
                                                                    name="productCoupon-{{../productNo}}"
                                                                    id="coupon-{{couponIssueNo}}-{{../productNo}}"
                                                                    value="{{couponIssueNo}}"
                                                                    data-type="product"
                                                                    data-product-no="{{../productNo}}"
                                                                    data-skips-accumulation="{{skipsAccumulation}}"
                                                                    data-cart-coupon-usable="{{cartCouponUsable}}"
                                                                />
                                                                <label
                                                                    class="choice_s"
                                                                    for="coupon-{{couponIssueNo}}-{{../productNo}}"
                                                                >
                                                                    {{couponName}}
                                                                    {{#if fixedAmountDiscount}}
                                                                        <span>
                                                                        ({{toCurrencyString couponDiscountAmt}}원)
                                                                    </span>
                                                                    {{else}}
                                                                        <span>
                                                                        ({{discountRate}}%)
                                                                    </span>
                                                                    {{/if}}

                                                                    {{#if couponDiscountAmt}} / -{{/if}} {{toCurrencyString
                                                                        couponDiscountAmt}}원
                                                                    <span class="reason" data-attach="readonlyReason"></span>
                                                                </label>
                                                            </div>
                                                            {{#if hasLimit}}
                                                                <div class="coupon_use_limit">
                                                                    <a href="#coupon-{{couponIssueNo}}"
                                                                       data-action="toggleOnClass"
                                                                        ><img
                                                                            src="/assets/img/icon/icon_warning_2.png"
                                                                            alt="경고"
                                                                    /></a>
                                                                    <div id="coupon-{{couponIssueNo}}" class="coupon_use_limit_box">
                                                                        <div class="coupon_use_limit_box_tit">
                                                                            <p>쿠폰 사용 시 혜택 제한 안내</p>
                                                                            <a href="#content" data-action="closeTooltip" class="btn_close_coupon_use_limit"><img src="/assets/img/icon/icon_x5.png" alt="닫기"></a>
                                                                        </div>
                                                                        <div class="coupon_use_limit_box_con">
                                                                            <ul>
                                                                                {{#if skipsAccumulation}}
                                                                                    {{#unless excludingReservePayCoupon}}
                                                                                    <li>본 쿠폰 사용 시, 적립금 적립이 불가합니다.</li>
                                                                                    {{/unless}}
                                                                                {{/if}}
                                                                              {{#unless cartCouponUsable}}
                                                                                <li>본 쿠폰 사용 시, 주문 쿠폰 사용이 불가합니다.</li>
                                                                              {{/unless}}
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {{/if}}
                                                        </div>
                                                        <div>
                                                            {{#if fixedAmountDiscount}}
                                                                <span>
                                                                    {{#if minSalePrice}}
                                                                - {{toCurrencyString minSalePrice}}원 이상 구매시
                                                                    사용 가능 {{/if}}
                                                                </span>
                                                            {{else}}
                                                                {{#if minSalePrice}}
                                                                    <p>
                                                                    - {{toCurrencyString minSalePrice}}원 이상 구매시 사용 가능
                                                                    </p>
                                                                {{/if}}
                                                                {{#if maxDiscountAmt}}
                                                                    <p>
                                                                        - 최대 {{toCurrencyString maxDiscountAmt}}원 할인
                                                                    </p>
                                                                {{/if}}
                                                            {{/if}}
                                                        </div>
                                                    </div>
                                                </li>
                                                {{/each}}
                                            </ul>
                                            {{/each}}
                                        </div>
                                    </div>
                                    <a
                                        href="#orderCoupon"
                                        data-action="toggleOnClass"
                                        class="btn_apply_product_coupon on"
                                    >
                                        주문 쿠폰
                                    </a>
                                    <div id="orderCoupon" class="apply_product_coupon_box">
                                        <div class="apply_product_coupon">
                                            <div>
                                                <p>
                                                    주문 금액
                                                    <span>
                                                        (배송비 제외)
                                                    </span>
                                                </p>
                                                <p>
                                                    {{toCurrencyString productCouponDiscountedBuyAmt}}원
                                                </p>
                                            </div>
                                            <ul>
                                                <li>
                                                    <div>
                                                        <div>
                                                            <div class="form_element">
                                                                <input
                                                                    type="radio"
                                                                    name="cartCoupon"
                                                                    id="cartCouponDefault"
                                                                    value="default"
                                                                    data-type="cart"
                                                                    checked
                                                                />
                                                                <label class="choice_s" for="cartCouponDefault">
                                                                    쿠폰 미사용
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                {{#each cartCoupons}}
                                                <li>
                                                    <div>
                                                        <div>
                                                            <div class="form_element">
                                                            <input
                                                                type="radio"
                                                                name="cartCoupon"
                                                                id="coupon-{{couponIssueNo}}"
                                                                value="{{couponIssueNo}}"
                                                                data-type="cart"
                                                                data-skips-accumulation="{{skipsAccumulation}}"
                                                                data-product-coupon-usable="{{productCouponUsable}}"
                                                            />
                                                            <label
                                                                class="choice_s"
                                                                for="coupon-{{couponIssueNo}}"
                                                            >
                                                                {{couponName}} {{#if fixedAmountDiscount}}
                                                                <span>
                                                                    ({{toCurrencyString couponDiscountAmt}}원)
                                                                </span>
                                                            {{else}}
                                                                <span>
                                                                    ({{discountRate}}%)
                                                                </span>
                                                            {{/if}}

                                                                <span>{{#if couponDiscountAmt}}-{{/if}} {{toCurrencyString
                                                                        couponDiscountAmt}}</span>원
                                                                <span class="reason" data-attach="readonlyReason"></span>
                                                            </label>
                                                        </div>
                                                            {{#if hasLimit}}
                                                                <div class="coupon_use_limit">
                                                                    <a href="#coupon-{{couponIssueNo}}-{{../productNo}}"
                                                                       data-action="toggleOnClass"
                                                                    ><img
                                                                        src="/assets/img/icon/icon_warning_2.png"
                                                                        alt="경고"
                                                                    /></a>
                                                                    <div id="coupon-{{couponIssueNo}}-{{../productNo}}" class="coupon_use_limit_box">
                                                                        <div class="coupon_use_limit_box_tit">
                                                                            <p>쿠폰 사용 시 혜택 제한 안내</p>
                                                                            <a href="#content" data-action="closeTooltip" class="btn_close_coupon_use_limit"><img src="/assets/img/icon/icon_x5.png" alt="닫기"></a>
                                                                        </div>
                                                                        <div class="coupon_use_limit_box_con">
                                                                            <ul>
                                                                                {{#if skipsAccumulation}}
                                                                                    {{#unless excludingReservePayCoupon}}
                                                                                    <li>본 쿠폰 사용 시, 적립금 적립이 불가합니다.</li>
                                                                                    {{/unless}}
                                                                                {{/if}}
                                                                                {{#unless productCouponUsable}}
                                                                                    <li>본 쿠폰 사용 시, 상품 쿠폰 사용이 불가합니다.</li>
                                                                                {{/unless}}
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {{/if}}
                                                        </div>
                                                        <div>
                                                            {{#if fixedAmountDiscount}}
                                                                <span>
                                                                   {{#if minSalePrice}}
                                                                   - {{toCurrencyString minSalePrice}}원 이상 구매시
                                                                    사용 가능 {{/if}}
                                                                </span>
                                                            {{else}}
                                                                <span>
                                                                     {{#if minSalePrice}}
                                                                    - {{toCurrencyString minSalePrice}}원 이상 구매시
                                                                    사용 가능 {{/if}} {{#if maxDiscountAmt}}/ 최대 {{toCurrencyString
                                                                        maxDiscountAmt}}원 할인 {{/if}}
                                                                </span>
                                                            {{/if}}

                                                        </div>
                                                    </div>
                                                </li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </div>
                                    <div id="total" class="order_coupon_total_box">
                                        <dl>
                                            <dt>
                                                상품 쿠폰 할인 금액
                                            </dt>
                                            <dd>
                                                <strong id="productCouponDiscountAmt">{{ toCurrencyString productCouponDiscountAmt }}</strong>원
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                주문 쿠폰 할인 금액
                                            </dt>
                                            <dd>
                                                <strong id="cartCouponDiscountAmt">{{ toCurrencyString cartCouponDiscountAmt }}</strong>원
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                총 쿠폰 할인 금액
                                            </dt>
                                            <dd>
                                                <strong id="calculatedAmt">{{ toCurrencyString totalDiscountAmt }}</strong>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>

            </div>
            <div class="close_btn">
                <button type="button" class="lys_close_btn ly_btn_close" data-action="cancel">닫기</button>
            </div>
        </div>
        <div class="btn_box">
            <button type="button" class="btn_confirm" data-action="submit">
                <span>
                    쿠폰 적용
                    <span class="total_coupon_amount">(총 쿠폰 할인: {{ toCurrencyString totalDiscountAmt }}원)</span>
                </span>
            </button>
        </div>
    </div>
</script>
<script src="/js/components/popup/apply-coupon.js" />
