<!--
  ~  © 2021. NHN Commerce Corp. All rights reserved.
  ~  NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  ~
  ~  @author hyeyeon-park
  ~  @since 2021.7.27
  -->

<script id="checkArticlePasswordPopupTemplate" type="text/x-handlebars-template">
    <div class='layer_wrap dimed'>
        <div class='box common_popup_body'>
            <div class='view' style='text-align: left;'>
                <h2>
                    {{title}}
                </h2>
                <div class='scroll_box'>
                    <p class="{{iconType}}">
                        {{{message}}}
                    </p>
                </div>
                <div class='inputbox'>
                    <input type='password' name='password' maxlength='20' data-pattern='password' />
                </div>
                <div class='btn_box'>
                    <button type='button' class='btn_cancel btnClosePopup' data-action-type='negative'>
                        <span>
                            닫기
                        </span>
                    </button>
                    <button type='button' class='btn_confirm' data-action-type='positive'>
                        <span>
                            확인
                        </span>
                    </button>
                </div>
            </div>
            <a href='javascript:void(0)' class='ly_close btnClosePopup' data-action-type='negative'>
                <img src='/assets/img/mypage/icon-layer-close.png' alt='닫기' />
            </a>
        </div>
    </div>
</script>
<script type="text/javascript" src="/js/components/popup/check-article-password.js"></script>
