<!--
  ~  © 2021. NHN Commerce Corp. All rights reserved.
  ~  NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  ~
  ~  @author hyeyeon-park
  ~  @since 2021.7.28
  -->

<script id="checkArticlePasswordPopupTemplate" type="text/x-handlebars-template">
    <div class="ly_pop ly_effect_3 ly_show">
      <div class="ly_wrap">
        <div class="layer_common_wrapper">
          <div class="ly_head">
            <h1 class="h_tit">{{title}}</h1>
          </div>

          <div>
            <h2>{{title}}</h2>
            <div class="scroll_box">
              <p>{{{message}}}</p>
            </div>
            <div class='inputbox'>
              <input type='password' name='password' maxlength='20' data-pattern='password' />
            </div>
          </div>

          <ul class="btn_box">
            <li><button type="button" class="address_cancel_btn ly_btn_close btnClosePopup" data-action-type="negative">닫 기</button></li>
            <li><button type="button" id="btnConfirm" class="address_save_btn" data-action-type="positive">확 인</button>
          </ul>

          <div class="close_btn">
            <button type="button" class="lys_close_btn ly_btn_close btnClosePopup" data-action-type="negative">닫기</button>
          </div>
        </div>
      </div>
    </div>
</script>
<script type="text/javascript" src="/js/components/popup/check-article-password.js"></script>
