<script id="findAddressPopupAddressTemplate" type="text/x-handlebars-template">
    <ul id='addressTemplate' data-template-id='findAddressPopupAddressTemplate'>
        {{#each this}}
            <li class='address_item' data-address="{{address}}" data-jibun-address="{{jibunAddress}}" data-zip-code="{{zipCode}}">
                <dl class='road'>
                    <dt>
                        <span>
                            도로명
                        </span>
                        &nbsp
                    </dt>
                    <dd>
                        {{address}}
                    </dd>
                </dl>
                <dl class='ground'>
                    <dt>
                        <span>
                            지&nbsp;&nbsp;&nbsp;번
                        </span>
                        &nbsp;
                    </dt>
                    <dd>
                        {{jibunAddress}}
                    </dd>
                </dl>
                <span>
                    {{zipCode}}
                </span>
            </li>
        {{/each}}
    </ul>
</script>
<script id="findAddressPopupTemplate" type="text/x-handlebars-template">
    <div class='ly_pop ly_show'>
        <div class='ly_wrap' style='overflow: hidden'>
            <div class='layer_common_wrapper address_popup_container' style='padding-bottom:0'>
                <div class='ly_head'>
                    <h1 class='h_tit'>
                        우편번호 찾기
                    </h1>
                </div>
                <div class='post-search'>
                    <div class='search-form' id='search-form'>
                        <label for='addressKeyword'></label>
                        <input
                            id='addressKeyword'
                            class='address_search_name'
                            name='address_search_keyword'
                            type='text'
                            placeholder='검색어(도로명,지번,건물명)를 입력해주세요'
                        />
                        <input id='searchAddressBtn' class='button btnFindAddress' type='button' value='검색' />
                    </div>
                    <div id='tip' class='post-search-tip'>
                        <h2>
                            TIP
                        </h2>
                        <p>
                            아래와 같이 검색하면 더욱 정확한 결과가 검색됩니다.
                        </p>
                        <dl>
                            <dt>
                                도로명 + 건물번호
                            </dt>
                            <dd>
                                예) 영동대로 513, 제주 첨단로 242
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                지역명(동/리) + 번지
                            </dt>
                            <dd>
                                예) 삼성동 25, 제주 영평동 2181
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                지역명(동/리) + 건물명(아파트명)
                            </dt>
                            <dd>
                                예) 분당 주공, 삼성동 코엑스
                            </dd>
                        </dl>
                    </div>
                    <div class='search-wrapper search-result'>
                        <div class='ul_wrap'>
                            <ul id='addressTemplate' data-template-id='findAddressPopupAddressTemplate'></ul>
                            <div id='readMore'></div>
                        </div>
                        <div id='noResult' class='search-empty hide'>
                            <strong>
                                검색된 결과가 없습니다.
                            </strong>
                            <p>
                                검색어에 잘못된 철자가 없는지, 정확한 주소인지 다시 한번 확인해 주세요.
                            </p>
                            <div class='box'>
                                <h2>
                                    TIP
                                </h2>
                                <ul>
                                    <li>
                                        지번주소(동/읍/면), 도로명, 건물명(아파트)을 확인해주세요.
                                    </li>
                                    <li>
                                        일부 신축건물, 신도시의 경우 일시적으로 검색이 되지 않을 수 있습니다.
                                    </li>
                                    <li>
                                        도로명 주소를 모르실 경우
                                        <a href='//www.juso.go.kr' target='_blank'>
                                            www.juso.go.kr
                                        </a>
                                        에서 확인 가능합니다.
                                    </li>
                                    <li>
                                        동명으로 검색시 법정동명으로 검색하셔야 합니다.
                                        <br />
                                        (행정동명으로는 검색이 되지
                                        않습니다.)
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class='btn_box'>
                <li>
                    <button type='button' class='address_cancel_btn ly_btn_close btnClosePopup' data-action-type='negative'>
                        닫 기
                    </button>
                </li>
            </ul>
            <div class='close_btn'>
                <button type='button' class='lys_close_btn ly_btn_close btnClosePopup' data-action-type='negative'>
                    닫기
                </button>
            </div>
        </div>
    </div>
</script>

<script src="/js/components/popup/find-address.js"></script>

<script src="/js/components/popup/find-address.js"></script>
