<script id="inquiryPopupTemplate" type="text/x-handlebars-template">
    <div class='ly_pop ly_effect_3 ly_show'>
        <div class='ly_wrap'>
            <div class='layer_common_wrapper write_qa'>
                <div class='ly_head'>
                    <h1 class='h_tit'>
                        {{name}}
                    </h1>
                </div>

                <div id='inquiryContents' class='write_wrap' data-template-id='inquiryContentsTemplate'>
                </div>
                <div class='close_btn'>
                    <button type='button' class='lys_close_btn ly_btn_close' data-action-type='close' data-type='negative'>
                        닫기
                    </button>
                </div>
            </div>
        </div>
        <ul class='btn_box'>
            <li>
                <button type='button' class='address_cancel_btn ly_btn_close' data-type='negative'>
                    취소
                </button>
            </li>
            <li>
                <button type='button' id='btnWriteArticle' class='address_save_btn' data-type='positive'>
                    저장
                </button>
            </li>
        </ul>
    </div>
</script>

<script id="inquiryContentsTemplate" type="text/x-handlebars-template">
    <div id="inquiryContents" class="write_wrap" data-template-id='productInquiryContentTemplate'>
      <div class="box common_popup_body">
        <div class="view">
          <div class="board_write_box">
            <dl>
              <dt><label for="category">문의유형</label></dt>
              <dd>
                <div class="inp_sel">
                  <select name="type"  {{#if inquiryTypesDisabled}}disabled{{/if}}>
                    {{#each inquiryTypes}}
                      <option value="{{inquiryTypeName}}" data-type="{{inquiryTypeNo}}" {{#ifEq ../inquiryType key}}selected{{/ifEq}}>{{inquiryTypeName}}</option>
                    {{/each}}
                  </select>
                </div>
              </dd>
            </dl>

            <dl>
              <dt><label for="subject">제목</label></dt>
              <dd>
                <div class="element_box">
                  <input type="text" name="title" value="{{title}}" maxlength="50" class="js_text_length_check_input" placeholder="제목을 입력하세요" data-pattern="article">
                </div>
              </dd>
            </dl>

            <dl class="b_content">
              <dt>
                <label>내용</label>
              </dt>
              <dd>
                <div class="textarea_box">
                  <textarea id="editor" class="textarea" name="content" cols="30" rows="10" maxlength="1000" placeholder="내용을 입력해주세요." data-pattern="article">{{content}}</textarea>
                  <p class="textarea_box_length">{{content.length}}/1000</p>
                </div>
                <p>해당글은 비밀글로만 작성이 됩니다.</p>
                {{#if hasAttachment}}
                <div class="add_file_area">
                  <ul>
                    {{#if attachmentUsed}}
                    <li class="item">
                      <button class="file_face" type="button">파일첨부</button>
                      <input type="file" id="attach1" name="upfiles" class="file" title="파일찾기"
                             accept="image/png,image/jpeg,image/gif,image/jpg,image/bmp" multiple>
                    </li>
                    {{/if}}
                    <ul id='attachmentImage' class='js_add_file_area'>
                      {{#each imageUrls}}
                        <li class='vis_mode' data-image-id="{{@index}}">
                          <div>
                            {{img this}}
                            <a id='deleteAttachImage' class='del' href='#' data-type='delete'>
                              <img src='/assets/img/icon/icon_del_add_file.png' alt='삭제' data-type='delete' />
                            </a>
                          </div>
                        </li>
                      {{/each}}
                    </ul>
                  </ul>
                </div>
              {{/if}}
              </dd>
            </dl>
            {{#if hasAnswerNotifications}}
            <dl class="vertiT">
              <dt><label for="subject">답변등록<br />알림</label></dt>
              <dd>
                <div class="inp_chk_box">
                  {{#if hasSmsNotification}}
                  <span class="inp_chk">
                    <input type="checkbox" name="agree_sns_email" value="y" id="smsAgree" {{#if answerSmsSend}}checked{{/if}}>
                    <label for="smsAgree" class="check_s">SMS 수신</label>
                  </span>
                  {{/if}}
                  {{#if hasEmailNotification}}
                  <span class="inp_chk">
                    <input type="checkbox" name="agree_sns_email" value="y" id="emailAgree" {{#if answerEmailSend}}checked{{/if}}>
                    <label for="emailAgree" class="check_s">이메일 수신</label>
                  </span>
                  {{/if}}
                </div>
                <p class="inp_chk_box_bot_txt">답변등록 시 회원정보에 등록한 휴대폰번호/이메일로 안내가 발송됩니다.</p>
              </dd>
            </dl>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
</script>

<script type="text/javascript" src="/js/components/popup/inquiry.js"></script>
