<script id="joinPopupTemplate" type="text/x-handlebars-template">
    <div class="layer_wrap coupon_down_layer dimed">
        <div class="layer_wrap_cont layer_join_open_id">
            <div class="ly_tit">
                <h4>
                    간편로그인 회원가입
                </h4>
            </div>
            <div class="ly_cont">
                <div class="scroll_box join_form">
                    <p class="join_form_top_txt">
                        쇼핑몰 이용을 위해 {{profile.providerType}} 회원 정보로 가입됩니다. <br />
                        제공된 서비스는 쇼핑몰 탈퇴 시 까지 보관됩니다.
                    </p>
                    <div class="join_form_box">
                        {{#hasUserInfo profile}}
                        <table>
                            <colgroup>
                                <col style="width: 120px;" />
                                <col />
                            </colgroup>
                            <tbody>
                                {{#if profile.memberId}}
                                <tr>
                                    <th scope="row">아이디</th>
                                    <td>{{profile.memberId}}</td>
                                </tr>
                                {{/if}}
                                {{#if profile.memberName}}
                                <tr>
                                    <th scope="row">이름</th>
                                    <td>{{profile.memberName}}</td>
                                </tr>
                                {{/if}}
                                {{#if profile.email}}
                                <tr>
                                    <th scope="row">이메일</th>
                                    <td>{{profile.email}}</td>
                                </tr>
                                {{/if}}
                                {{#if profile.mobileNo}}
                                <tr>
                                    <th scope="row">휴대폰 번호</th>
                                    <td>{{profile.mobileNo}}</td>
                                </tr>
                                {{/if}}
                                {{#if profile.sex}}
                                {{#ifNe profile.sex 'X'}}
                                <tr>
                                    <th scope="row">성별</th>
                                    <td>
                                        {{#ifEq profile.sex 'M'}}남자{{/ifEq}} {{#ifEq profile.sex 'F'}}여자{{/ifEq}}
                                    </td>
                                </tr>
                                {{/ifNe}}
                                {{/if}}
                                {{#if profile.birthday}}
                                <tr>
                                    <th scope="row">생일</th>
                                    <td>{{profile.birthday}}</td>
                                </tr>
                                {{/if}}
                            </tbody>
                        </table>
                        {{else}}
                        <div>{{profile.mallName}} 계정으로 쇼핑몰에 연결됩니다.</div>
                        {{/hasUserInfo}}
                    </div>
                    {{#each optionalTerms}}
                    <div class="join_agreement_box ">
                        <div class="form_element">
                            <input type="checkbox" id="agreeCheckbox-{{key}}" name="termItem"
                                   class="option" data-term-id="{{key}}">
                            <label for="agreeCheckbox-{{key}}" class="check_s">
                              <em><b>[선택] {{#if contents}}<span class="agreement_detail" data-term-id="{{key}}">{{label}}</span>{{/if}}</em>
                            </label>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <div class="btn_center_box">
                    <button id="btnAllCouponDown" class="btn_ly_download btnCloseLayer" data-action-type="positive">
                        <strong>동의하고 가입하기</strong>
                    </button>
                </div>
                <div class="join_form_agree_txt">
                    본인은 만 14세 이상이며,
                    <label class="check_s" for="USE"><strong>이용약관</strong></label>
                    <span class="agreement_detail" data-term-id="USE">(내용보기)</span>,
                    <label class="check_s" for="PI_COLLECTION_AND_USE_REQUIRED"
                        ><strong>개인정보 수집 및 이용동의</strong></label
                    >
                    <span class="agreement_detail" data-term-id="PI_COLLECTION_AND_USE_REQUIRED">(내용보기)</span><br />
                    내용을 확인하였으며 동의합니다
                </div>
            </div>
            <a href="#close" class="ly_close btnCloseLayer" data-action-type="negative"
                ><img src="/assets/img/mypage/icon-layer-close.png" alt="닫기"
            /></a>
        </div>
    </div>
</script>
<script type="text/javascript" src="/js/components/popup/join-open-id.js"></script>
