<script id="messagePopupTemplate" type="text/x-handlebars-template">
    <div class='ly_pop ly_effect_3 ly_show'>
        <div class='ly_wrap'>
            <div class='layer_common_wrapper'>
                <div class='ly_head'>
                    <h1 class='h_tit'>
                        {{title}}
                    </h1>
                </div>
                <div class='notice_box'>
                    <p>
                        {{{message}}}
                    </p>
                </div>
                <ul class='btn_box'>
                    <li>
                        <button type='button' class='address_cancel_btn ly_btn_close btnClosePopup' data-action-type='negative'>
                            닫 기
                        </button>
                    </li>
                    {{#if yesOrNo}}
                        <li>
                            <button type='button' class='address_save_btn btnClosePopup' data-action-type='positive'>
                                확 인
                            </button>
                        </li>
                    {{/if}}
                </ul>
                <div class='close_btn'>
                    <button type='button' class='lys_close_btn ly_btn_close btnClosePopup' data-action-type='negative'>
                        닫기
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/javascript" src="/js/components/popup/message.js"></script>
