<template id="myShippingListPopupTemplate" type="text/x-handlebars-template">
    <div class="ly_pop ly_effect_3 ly_show">
        <div id="myShippingListLayer" class="ly_wrap">
            <div class="layer_common_wrapper">
                <div class="ly_head">
                    <h1 class="h_tit">나의 배송지 관리</h1>
                </div>
                <div class="my_delivery_list address_list" style="padding-bottom: 44px;">
                    <div id="shippingList" data-template-id="shippingListTemplate"></div>
                    <div id="readMore"></div>
                </div>
                <div class="close_btn">
                    <button type="button" class="lys_close_btn ly_btn_close btnClosePopup">닫기</button>
                </div>
            </div>
        </div>
        <ul class="btn_box">
            <li><button type="button" class="address_cancel_btn ly_btn_close btnClosePopup">닫기</button></li>
            <li><button type="button" class="address_save_btn" id="choiceSubmit">선택</button></li>
        </ul>
    </div>
</template>

<script type="text/x-handlebars-template" id="shippingListTemplate">
    <ul>
        {{#each this}}
            <li>
                <div>
                    <span class='inp_rdo'>
                        <input type='radio' id="address-{{addressNo}}" name='addressItem' value="{{addressNo}}" />
                    </span>
                    <label for="address-{{addressNo}}" style='display:block'>
                        <p class='delivery_user'>
                            {{#ifEq defaultYn 'Y'}}
                                <span class='basics_delivery'>
                                    기본배송지
                                </span>
                            {{/ifEq}}
                            {{addressName}} {{receiverName}}
                        </p>
                        <p class='delivery_number'>
                            {{receiverContact1}}
                        </p>
                        <p class='delivery_zipNum'>
                            ({{receiverZipCd}})
                        </p>
                        <p class='delivery_address'>
                            {{receiverAddress}} {{receiverDetailAddress}}
                        </p>
                    </label>
                    <div class='btn_my_delivery_list'>
                        <a href='#deliveryAddLayer' class='btn_gray_small btn_open_layer' data-action='modifyAddress' data-address-no="{{addressNo}}">
                            <span data-address-no="{{addressNo}}">
                                수정
                            </span>
                        </a>
                        <a href='#' class='btn_gray_small js_delete btnDeleteAddress' data-action='deleteAddress' data-address-no="{{addressNo}}">
                            <span data-address-no="{{addressNo}}">
                                삭제
                            </span>
                        </a>
                    </div>
                </div>
            </li>
        {{/each}}
    </ul>
</script>

<script src="/js/components/popup/my-shipping-list.js" />
