<!--
  ~  © 2021. NHN Commerce Corp. All rights reserved.
  ~  NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  ~
  ~  @author hyeyeon-park
  ~  @since 2021.10.29
  -->
<script id="payProcessTemplate" type="text/x-handlebars-template">
    <div class="layer_wrap dimed">
      <div class="box common_popup_body" style='position: absolute; margin: 0px; top: 30px; left:10px; z-index: 10405;'>
        <div class="view" style="text-align: left;">
          <h2>결제 진행중</h2>
          <div class='ly_wrap'>
            <div class='escrow_cont'>
              <p>
                잠시후 결제창이 자동으로 열리게 됩니다.
                <br />
                결제창이 열리지 않으면 아래 결제창 열기를 눌러주세요.
              </p>
              <div class='btn_center_box'>
                <button type='button' class='pg_order_open_btn' id='openPgBtn'>
                  <em>
                    결제창 열기
                  </em>
                </button>
              </div>
            </div>
            <ul class="btn_pg_box">
              <li>
                <a href="/pages/order/order.html?ordersheetno={{orderSheetNo}}" class='pg_order_cancel_btn' id='cancelPgBtn'>
                <em>
                  결제 취소
                </em>
                </a>              </li>
              <li>
                <a href='/pages/order/cart.html' class='pg_order_cart_btn' id='cartMoveBtn'>
                  <em>
                    장바구니 이동
                  </em>
                </a>              </li>
            </ul>
          </div>
        </div>
        <a href="/pages/order/order.html?ordersheetno={{orderSheetNo}}" class="ly_close btnClosePopup" data-action-type="negative" style="outline: 0"><img
          src="/assets/img/icon/btn_layer_close.png" alt="닫기"></a>
      </div>
</script>

<script type="text/javascript" src="/js/components/popup/pay-process.js"></script>
