<script id="photoReviewDetailTemplate" type="text/x-handlebars-template">
    <div class='ly_pop ly_effect_3 ly_show'>
        <div class='ly_wrap wrap-scroll'>
            <div class='layer_common_wrapper layer_shipping_address_regist' id='photoReviewDetail'>
                <div class='ly_head'>
                    <h1 class='h_tit'>
                        {{productReviewConfig.name}}
                    </h1>
                </div>
                <div data-template-id='photoReviewDetailContentTemplate' id='photoReviewDetailContent'></div>
            </div>
            <div class='close_btn'>
                <button type='button' class='lys_close_btn ly_btn_close' data-action-type='closePopup'>
                    닫기
                </button>
            </div>
        </div>
    </div>
</script>

<script id="photoReviewDetailContentTemplate" type="text/x-handlebars-template">
    <div id='photoReviewDetailContent' data-template-id='photoReviewDetailContentTemplate' class='scroll_box ly_content'>
        <div class='p-layer-top'>
          <span class='rating'>
            <span style="width:calc({{rate}} * 20%);"></span>
          </span>
          <span class='p-date'>
            {{substring registerYmdt 0 10}}
          </span>
        </div>
        <div class='p-layer-img'>
            {{#each fileUrls}}
            <span class="img-frame img-frame--normal">
              {{#ifEq @index 0}}
              <button class='p-layer-arrow p-layer-arrow-prev' data-action-type="prevReview">
                <span class='hidden'>
                  prev
                </span>
              </button>
              <button class='p-layer-arrow p-layer-arrow-next' data-action-type="nextReview">
                <span class='hidden'>
                  next
                </span>
              </button>
              {{/ifEq}}
              <img data-action-type='reviewImages' data-image-no='{{ @index }}' src="{{this}}" alt="상품 후기 이미지">
            </span>
            {{/each}}

        </div>

        <em class='em'>
          {{registerName}}
        </em>
        <div class='p-layer-option'>
          <span>
            {{getOptionNameAndValue orderedOption.optionName orderedOption.optionValue}}
          </span>
        </div>
        <!-- 글 -->
        <div class='p-comment'>
          {{#ifEq bestReviewYn "Y"}}
          <img src='/assets/img/goods_icon/good_icon_best.png' />
          {{/ifEq}}
          <pre>{{content}}</pre>
          <!-- 좋아요 -->
          <div class='p-layer-likes'>
            {{#if expandedReviewConfig.useReviewRecommend}}
            <label class='user-trigger user-trigger--like'>
              <input type='checkbox' />
              <span id="reviewRecommendParents" class='user-trigger__txt {{#if isLogin}}{{#ifEq recommendable false}}on{{/ifEq}}{{/if}}' data-action-type='reviewRecommend'>
                <span id="recommendCnt">
                  {{recommendCnt}}
                </span>
              </span>
            </label>
                {{/if}}
                {{#if canComment}}
                {{#ifNe commentCount 0}}
                <label class='user-trigger user-trigger--cmt'>
                  <input type='checkbox' />
                  <span class='user-trigger__txt' data-action-type='showComments'>
                    <span>
                      댓글 {{commentCount}}
                    </span>
                  </span>
            </label>
            {{/ifNe}}
            {{/if}}
          </div>
          <!-- // 좋아요 -->
        </div>
        <!-- reply -->
        <div data-template-id="commentTemplate" id='reviewComment'></div>
        <!-- // reply -->

    </div>
</script>

<script id="commentTemplate" type="text/x-handlebars-template">
    <div id='reviewComment' data-template-id='commentTemplate'>
        {{#each contents}}
            <div class='reply'>
                <p class='reply-user'>
                    <span class='em'>
                        관리자
                    </span>
                    <span class='p-date'>
                        {{date}}
                    </span>
                </p>
                {{content}}
            </div>
        {{/each}}
        {{#if hasMoreCommentsBtn}}
            <button class='p-more' data-action-type='moreComments'>
                댓글 더보기
            </button>
        {{/if}}
    </div>
</script>

<script type="text/javascript" src="/js/components/popup/photo-review-detail.js"></script>
