<script id="photoReviewsTemplate" type="text/x-handlebars-template">
    <div class='layer_wrap dimed'>
        <div class='box common_popup_body'>
            <div class='p-grid' id='photoReviewContents'>
                <p class='p-grid-label'>
                    포토 ({{totalCount}})
                </p>
                <div class='p-grid-wrap'>
                    <div class='p-grid-thumbs' id='reviewImages'>
                        {{#each contents}}
                            <button class='img-frame reviewImg' data-review-no="{{reviewNo}}">
                                <img src="{{getFirstItem urls}}" alt='포토리뷰' />
                                {{#ifGt attachedFileCount 1}}
                                    <p class='add_img_length'>
                                        {{attachedFileCount}}
                                    </p>
                                {{/ifGt}}
                            </button>
                        {{/each}}
                    </div>
                </div>
                <a href='#close' class='ly_close btnClosePopup' data-action-type='negative'>
                    <img src='/assets/img/mypage/icon-layer-close.png' alt='닫기' />
                </a>
            </div>
        </div>
    </div>
</script>

<script type="text/javascript" src="/js/components/popup/photo-reviews.js"></script>
