<!--
  ~ © NHN Commerce Corp. All rights reserved.
  ~ NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  ~
  ~ @author Bomee Yoon
  ~ @since 2021.7.21
  -->

<script id="productInquiryContentTemplate" type="text/x-handlebars-template">
    <table class='board_write_table' id='productInquiryContent' data-template-id='productInquiryContentTemplate'>
        <colgroup>
            <col style="width: 23%;" />
            <col style="width: 77%;" />
        </colgroup>
        <tbody>
        <tr>
            <th>문의유형</th>
            <td>
                <select name="type" {{#ifEq replied true}}disabled{{/ifEq}}>
                    {{#each inquiryTypes}}
                        {{option value label ../type ''}}
                    {{/each}}
                </select>
            </td>
        </tr>
        <tr>
            <th>상품</th>
            <td
                id='selectedProduct'
                data-image-url="{{imageUrl}}"
                data-product-no="{{productNo}}"
                data-product-name="{{productName}}"
            >
                <div class='board_goods_select'>
                    {{#if productName}}
                        {{#ifNe unchangeable true}}
                            <button title='찾아보기' class='btn_goods_select' data-action-type='searchProduct'>
                                다른 상품 선택
                            </button>
                        {{/ifNe}}
                        <div>
                    <span class='select_item_img'>
                        {{#if imageUrl}}
                            <img src="{{imageUrl}}" alt="{{productName}} 상품이미지" />
                        {{/if}}
                    </span>
                            <span class='select_item_info'>
                        <em>
                            <a href="/pages/product/view.html?productNo={{productNo}}">
                            {{safeString productName}}
                            </a>
                        </em>
                    </span>
                        </div>
                    {{else}}
                        {{#ifEq mode 'registration'}}
                            <span>
                        문의를 작성할 상품을 선택해주세요.
                    </span>
                            <button title='찾아보기' class='btn_goods_select' data-action-type='searchProduct'>
                                상품 선택
                            </button>
                        {{/ifEq}}
                    {{/if}}
                </div>
            </td>
        </tr>
        <tr class="form_element" style="display: table-row">
            <th scope="row">내용</th>
            <td class="write_editor">
                <div class="element_box">
                    <textarea id="editor" name="content" cols="30" rows="10" maxlength="1000" data-pattern="article" {{#ifEq replied true}}disabled{{/ifEq}}></textarea>
                    <span class="text_length">{{content.length}}/1000</span>
                </div>
                {{#if displayOption.secretPostingUsed}}
                <div>
                    <input type="checkbox" name="secreted" id="secreted" {{#if secreted}}checked{{/if}}>
                    <label for="secreted" class="check_s">비밀글</label>
                </div>
                {{/if}}
            </td>
        </tr>
        </tbody>
    </table>
</script>

<script id="productInquiryPopupTemplate" type="text/x-handlebars-template">
    <div class='layer_wrap dimed' id='productInquiryPopupTemplate'>
        <div class='box common_popup_body' style='width: 600px;'>
            <div class='view' style='text-align: left;'>
                <h2 class='boardTitle'>
                    {{name}}
                </h2>
                <div class='board_write_box'>
                    <table class='board_write_table' id='productInquiryContent' data-template-id='productInquiryContentTemplate'>
                    </table>
                    <div class='btn_box'>
                        <button type='button' class='btn_cancel' data-action-type='close'>
                            취소
                        </button>
                        <button type='button' class='btn_confirm' data-action-type='submit'>
                            저장
                        </button>
                    </div>
                </div>
            </div>
            <button class='ly_close' data-action-type='close' style='outline: 0;'>
                <img src='/assets/img/mypage/icon-layer-close.png' alt='닫기' />
            </button>
        </div>
    </div>
</script>
<script src="/js/components/popup/product-inquiry.js"></script>
