<!--
  ~  © 2021. NHN Commerce Corp. All rights reserved.
  ~  NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  ~
  ~  @author hyeyeon-park
  ~  @since 2021.8.20
  -->

<script id="productReviewPopupTemplate" type="text/x-handlebars-template">
    <div class="ly_pop ly_effect_3 ly_show">
      <div class="ly_wrap">
        <div class="layer_common_wrapper write_qa">
          <div class="ly_head">
            <h1 class="h_tit">
              {{productReviewConfig.name}}
            </h1>
          </div>

          <div id="productInquiryContent" class="write_wrap">
            <div class="box common_popup_body">
              <div class="view">
                <div class="board_write_box">
                  <dl>
                    <dt><label>주문상품</label></dt>
                    <dd>
                      <div id='selectedProductBox' data-template-id='selectedProductTemplate'></div>
                      <div class="itemselect">
                      {{#if canSelectProduct}}
                        <div class="itemselect_comment js_selected_info_text" style="display: none;">선택된 상품이 없습니다.</div>
                      {{/if}}

                      {{#if needsSelectProductBtn}}
                        <div class="item_select_btn_box"><a href="javascript:void(0)" id='selectOrderProduct' class="prd_select_btn btn_order_goods_select" data-type="goods">상품 선택</a></div>
                      {{/if}}
                        </div>
                    </dd>
                  </dl>

                  <dl>
                    <dt><label>평가</label></dt>
                    <dd>
                      <ul class='rating_star'>
                        <li>
                          1
                        </li>
                        <li>
                          2
                        </li>
                        <li>
                          3
                        </li>
                        <li>
                          4
                        </li>
                        <li>
                          5
                        </li>
                      </ul>
                    </dd>
                  </dl>
                  <dl class="b_content">
                    <dt>
                      <label>내용</label>
                    </dt>
                    <dd>
                      <div class="textarea_box">
                        <textarea id="editor" class="textarea" name="content" cols="30" rows="10" maxlength="1000"  placeholder="{{expandedReviewConfig.writingReviewNoticeText}}" data-pattern="article" {{#ifEq replied true}}disabled{{/ifEq}}>{{articles.content}}</textarea>
                        <p class="textarea_box_length">{{#if myProductReview}}
                          {{myProductReview.content.length}}
                        {{else}}
                          0
                        {{/if}}/1000</p>
                      </div>

                      <div class="add_file_area" id="attachmentBox">
                        <ul>
                          <li class="item file_upload_sec">
                            <button class="file_face" type="button">파일첨부</button>
                            <input type="file" id="attach1" name="upfiles" class="file" title="파일찾기"
                                   accept="image/png,image/jpeg,image/gif,image/jpg,image/bmp" multiple>
                          </li>
                          <ul id ="attachImages" class="js_add_file_area" data-template-id="attachmentsTemplate">
                          </ul>
                        </ul>
                      </div>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>

          <div class="close_btn">
            <button type="button" class="lys_close_btn ly_btn_close" data-action-type="close">닫기</button>
          </div>
        </div>
      </div>
        <ul class="btn_box">
            <li><button type="button" class="address_cancel_btn ly_btn_close" data-action-type="close">이전</button></li>
            <li><button type="button" id="btnAddReview" class="address_save_btn" data-action-type="submit">저장</button>
        </ul>

    </div>
</script>

<script id="selectedProductTemplate" type="text/x-handlebars-template">
    <div id='selectedProductBox' data-template-id='selectedProductTemplate'>
        <div class='js_select_item'>
            <input type='hidden' name='productNo' data-product-no="{{product.productNo}}" />
            {{#each options}}
                {{#if @first}}
                    <input type='hidden' name='optionNo' data-option-no="{{optionNo}}" />
                    <input type='hidden' name='orderOptionNo' data-order-option-no="{{orderOptionNo}}" />
                {{/if}}
            {{/each}}

            <span class='select_item_img'>
                <a href="/pages/product/view.html?productNo={{product.productNo}}">
                    {{img product.imageUrls '' '' product.productName '' 'max-width:50px;'}}
                </a>
            </span>
            <span class='select_item_info'>
                <a href="/pages/product/view.html?productNo={{product.productNo}}">
                    {{safeString product.productName}}
                </a>
                <span class='option_name_value c_gray'>
                    {{#each options}}
                        {{#if optionUsed}}
                            {{#if @first}}
                                {{{getOptionNameAndValue optionName optionValue}}}
                            {{/if}}
                        {{else}}
                            {{safeString optionNameValue}}
                        {{/if}}
                    {{/each}}
                    {{#if product.optionText}}
                        {{safeString product.optionText}}
                    {{/if}}
                </span>
                <span class='select_item_order_status c_red'>
                    {{#each options}}
                        {{#if @first}}
                            {{#if orderStatusType}}
                                {{setOrderStateValue orderStatusType}}
                            {{else}}
                                {{optionOrderStatus}}
                            {{/if}}
                        {{/if}}
                    {{/each}}
                    {{#if product.orderStatusType}}
                        {{setOrderStateValue product.orderStatusType}}
                    {{/if}}
                </span>
            </span>
        </div>
    </div>
</script>

<script id="attachmentsTemplate" type="text/x-handlebars-template">
    <ul id='attachImages' class='js_add_file_area' data-template-id='attachmentsTemplate'>
        {{#each attachedImages}}
            <li class='vis_mode' data-image-id="{{@index}}">
                <div>
                    {{img imageUrl}}
                    <a id='deleteAttachImage' class='del' href='#'>
                        <img src='/assets/img/icon/icon_del_add_file.png' alt='삭제' />
                    </a>
                </div>
            </li>
        {{/each}}
    </ul>
</script>
<script type="text/javascript" src="/js/components/popup/product-review.js"></script>
