<!--
  ~  © 2021. NHN Commerce Corp. All rights reserved.
  ~  NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  ~
  ~  @author hyeyeon-park
  ~  @since 2021.8.9
  -->
<script id="searchProductPopupTemplate" type="text/x-handlebars-template">
    <div class='ly_pop ly_srch' id='popupSearch'>
        <div class='ly_wrap'>
            <div class='_header_search'>
                <div class='layer_search_box'>
                    <dl>
                        <dt>
                            <label for='sch'>
                                검색
                            </label>
                        </dt>
                        <dd>
                            <div class='keyword_box'>
                                <input
                                    type='search'
                                    name='keyword'
                                    id='searchKeyword'
                                    title='상품을 검색하세요.'
                                    placeholder='상품을 검색하세요.'
                                    autocomplete='off'
                                />
                                <button type='button' class='bn_wrg' style='display: block;'>
                                    취소
                                </button>
                            </div>
                        </dd>
                    </dl>
                    <button type='button' class='h_search_btn'>
                        검색
                    </button>
                    <button type='button' class='h_search_close_btn ly_btn_close btnClosePopup'>
                        닫기
                    </button>
                </div>
                <!-- //layer_search_box -->
                <div class='layer_search_content ly_ct'>
                    <div class='search_bx_area'>
                        <div class='latest_search_tab on' data-type='recent'>
                            <h3>
                                최근검색어
                            </h3>
                        </div>
                        <div id='recentList' class='latest_search_list_box recent_list' data-template-id='searchListTemplate'>
                        </div>

                        <div class='latest_search_tab' data-type='popular' style='display: none'>
                            <h3>
                                인기검색어
                            </h3>
                        </div>
                        <div id='popularList' class='latest_search_list_box popular_list' data-template-id='popularListTemplate' style='display: none;'>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //layer_search -->
            <!-- 검색 폼 -->
        </div>
    </div>
</script>
<script id="popularListTemplate" type="text/x-handlebars-template">
    <div id='popularList' class='latest_search_list_box popular_list' style='display: none;'>
        <ul class='latest_search_list'>
            {{#each popularKeywords}}
                <li class='popular'>
                    <a href="/pages/product/list.html?keyword={{this}}">
                        {{this}}
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
</script>
<script id="searchListTemplate" type="text/x-handlebars-template">
    <ul class='latest_search_list'>
        {{#each recentKeywords}}
            <li data-key="{{@index}}" data-value="{{word}}">
                <div class='link'>
                    <a href="/pages/product/list.html?keyword={{word}}">
                        {{word}}
                    </a>
                </div>
                <div class='date'>
                    {{date}}
                </div>
                <div class='keyword_delete'>
                    <button type='button' class='js_recent_keyword_delete'>
                        삭제
                    </button>
                </div>
            </li>
        {{else}}
            <li class='no-data'>
                <div>
                    최근 검색어가 없습니다.
                </div>
            </li>
        {{/each}}
    </ul>
    {{#if recentKeywords}}
        <div class='js_recent_all_delete latest_search_del'>
            전체삭제
        </div>
    {{/if}}
</script>
<script type="text/javascript" src="/js/components/popup/search-product.js"></script>
