<!--
  ~  © 2021. NHN Commerce Corp. All rights reserved.
  ~  NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  ~
  ~  @author hyeyeon-park
  ~  @since 2021.7.2
  -->

<script id="slideImagesPopupTemplate" type="text/x-handlebars-template">
    <div class='ly_pop ly_effect_3 ly_show'>
        <div class='ly_wrap'>
            <div class='layer_common_wrapper'>
                <div class='st-container layer_slide_cont' id='stContainter'>
                    <div class='contents-inner'>
                        <div class='layer_slide'>
                            <div class='ly_head'>
                                {{#if title}}
                                    <h1 class='h_tit'>
                                        {{title}}
                                    </h1>
                                {{/if}}
                            </div>
                            <div class='ly_ct'>
                                <div class='layer_img_slide'>
                                    <div class='slider-wrap'>
                                        {{#each imageObjectList}}
                                            <div>
                                                {{img imageUrl '' '' fileName ''}}
                                                {{#if value}}
                                                    <p>
                                                        {{value}}
                                                    </p>
                                                {{/if}}
                                            </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='close_btn'>
                    <button type='button' class='lys_close_btn ly_btn_close btnClosePopup' data-action-type='negative'>
                        닫기
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/javascript" src="/js/components/popup/slide-images.js"></script>
