@charset "utf-8";
/*───────────────────────────────────────────────────────────

	 리스트 타입 및 옵션

───────────────────────────────────────────────────────────*/


/*** 쇼핑몰 메인본문 | main/index.php ***/
.main_goods_cont{margin-bottom:30px;}
.main_banner_row{text-align:center}
.main_slide > div {width: 100%;}
.main_slide > div img,
.main_slide .slick-slide img {width: 100%;}
.main_slide .slick-prev,
.main_slide .slick-next {font-size: 0; line-height: 0; position: absolute; top: 45%; display: block; width: 27px; height: 44px; padding: 0; -webkit-transform: translate(0, -45%); -ms-transform: translate(0, -45%); transform: translate(0, -45%); cursor: pointer; z-index:10; border:none; background:none;}
.main_slide .slick-prev {background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); background-repeat:no-repeat; left: 10px; right: auto;}
.main_slide .slick-next {background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); background-repeat:no-repeat; right: 10px; left: auto;}
.main_slide .slick-dots {position: absolute; bottom: 10px; display: block; width: 100%; padding: 0; margin: 0; text-align: center;}
.main_slide .slick-dots li {position: relative; display: inline-block; margin: 0 5px; padding: 0; cursor: pointer;}
.main_slide .slick-dots li button {font-size: 0; line-height: 0; display: block; width: 8px; height: 8px; padding: 5px; cursor: pointer; border: 0; outline: none; border-radius: 100%; background: #ffffff; opacity:0.75;}
.main_slide .slick-dots li.slick-active button {background: #ffffff; opacity:1;}

.main_con{padding:0 20px; margin-top:25px;}
.main_con img{vertical-align:top;}
.main_top{width:calc(100% + 20px); position:relative;}
.main_top .main_top_left{position:absolute; top:50%; left:0; transform: translateY(-50%); width:120px;}
.main_top .main_top_left a{display:block;}
.main_top .main_top_right{width:calc(100% - 145px); margin-left:145px;}

.ban a{display:block;}
.ban img{width:100%;}
.full_ban{width:calc(100% + 40px); margin-left:-20px;}

.marT10{margin-top:10px;}
.marT30{margin-top:30px;}
.marT40{margin-top:40px;}
.marT55{margin-top:55px;}

.main_ban_img01,
.main_ban_img02,
.main_ban_img03{display:inline-block; float:left;}
.main_ban_img01{padding:0 0 1px 0;}
.main_ban_img03{padding:0 0 0 1px;}
.main_ban_img01.right{margin-left: 10px;}
.main_ban_img01.left{margin-right: 10px;}
.main_cont_slide{text-align:center; overflow: hidden;}

.main_banner_column{float:left; width:600px;}
.main_banner_row .main_banner_column:first-child{
    text-align: left;
}
.main_banner_row .main_banner_column:last-child{
    text-align: right;
}
.scroll_wrap{top:1070px;}

.main_cont_slide_ban{height:580px; position:relative; overflow: hidden;}
.main_cont_slide_ban a img{position:absolute; top:0; left:50%; transform:translateX(-50%);}

.main_banner_goods{width:1200px; margin:0 auto 69px;}
.main_banner_goods:after{content:''; display:block; clear:both;}
.main_banner_goods > div{min-height:260px;}

.main_banner_2{width:1200px; margin:0 auto 30px;}
.main_banner_2:after{content:''; display:block; clear:both;}
.main_banner_2 > div{width:580px;}
.main_banner_2_left{float:left;}
.main_banner_2_right{float:right;}
.main_banner_2_right > div{margin-top:12px;}
.main_banner_2_right > div:first-child{margin-top:0;}

.both_wrap {margin: 30px 0;}
.main_right_goods{width:100%;}
.main_right_goods .main_goods_cont{width:100%;}


/* instagram */
.instagram_widget {padding: 10px;}
.instagram_widget .instagram_widget_head {display: flex; justify-content: space-between; margin-bottom: 15px;}
.instagram_widget .instagram_widget_contents {display: flex; flex-flow: row wrap; justify-content: start; margin: -5px;}
.instagram_widget .instagram_widget_contents li {box-sizing: border-box; width: 33.3333%; padding: 5px;}
.instagram_widget .instagram_widget_contents li a {display: block; position: relative; padding-top: 100%; border: 1px solid #e5e5e5;}
.instagram_widget .instagram_widget_contents li a img {position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;}

/* plus-review */
.plus-review_widget .widget-head {display: flex; justify-content: space-between; margin-bottom: 30px;}
.plus-review_widget .widget-tit {font-size: 22px;}
.plus-review_widget .widget-btn {padding: 6px 15px;border: 1px solid #D6D6D6;font-weight: bold;display: inline-block;}