@charset "utf-8";

/*** 목록 | board/skin/qa/list.html ***/

.list_comment {}
.list_comment .boardlist {}

.list_comment .boardlist .board_btn{font-size:14px; font-weight:bold; color:#fff; text-align:center; display:block; background:#454545; border:none; border-radius:0; margin:0 10px; padding:10px 9px;}

/* 검색 */
.list_comment .boardlist .board_comment_write {position:relative; padding:10px 0 10px 10px;}
.list_comment .boardlist .board_comment_write .comment_write_input {width:calc(100% - 77px);}
.list_comment .boardlist .board_comment_write .comment_write_input input {width:100%; height:36px; text-indent:10px; border:1px solid #dddddd; font-size:14px; color:#5e5e5e; font-weight:bold;}
.list_comment .boardlist .board_comment_write .comment_write_input input::placeholder{color:#bbb;}
.list_comment .boardlist .board_comment_write .comment_write_btn_comp {position:absolute; top:10px; right:10px; width:67px}
.list_comment .boardlist .board_comment_write .comment_write_btn_area{margin-top:8px;}
.list_comment .boardlist .board_comment_write .inp_chk input{width:11px; height:13px; background:url('/assets/img/icon/icon_board_secret2_off.png') left center no-repeat; margin-right:3px}
.list_comment .boardlist .board_comment_write .inp_chk input:checked{background:url('/assets/img/icon/icon_board_secret2_on.png') left center no-repeat; margin-right:3px}
.list_comment .boardlist .board_comment_write .comment_write_btn_add_file{font-size:11px; color:#2a2a2a; letter-spacing:-0.27px; text-align:center; padding:0 9px 0 10px; border:solid 1px #e0e0e0; background:#fff; line-height:25px; margin-left:10px;}
.list_comment .boardlist .board_comment_write .add_file_area{margin:10px 10px 0 0; padding:10px 0 0; border-top:solid 1px #f0f0f0;}

/* 공지 및 기본 글 */
.list_comment .boardlist .goods_area .notice_list {}
.list_comment .boardlist .goods_area .notice_list > li { position:relative; padding:15px 10px; border-bottom: 1px solid #e5e5e5; min-height:60px; box-sizing:border-box;}
.list_comment .boardlist .goods_area .notice_list > li.import{background:#f8f8f8;}
.list_comment .boardlist .goods_area .notice_list > li > a {display:block; font-size:0; position:relative; padding-right:35px}
.list_comment .boardlist .goods_area .notice_list > li > a:after{content:''; display:block; width:14px; height:8px; background:url('/assets/img/icon/icon_detail_board_arrow.png') left top no-repeat; background-size:14px 8px; position:absolute; top:22px; right:10px;}
.list_comment .boardlist .goods_area .notice_list > li > a.on:after{background:url('/assets/img/icon/icon_detail_board_arrow_on.png') left top no-repeat; background-size:14px 8px;}
.list_comment .boardlist .goods_area .notice_list > li:first-child {border-top: 1px solid #e5e5e5; }
.list_comment .boardlist .goods_area .notice_list > li .notice_img {display:inline-block; width:74px; height:74px; position:absolute; top:0; left:0;}
.list_comment .boardlist .goods_area .notice_list > li .board_comment_noimg {display:inline-block; width:100%; vertical-align:top;}
.list_comment .boardlist .goods_area .notice_list > li .board_comment_img {display:inline-block; width:calc(100% - 100px); vertical-align:top;}
.list_comment .boardlist .goods_area .notice_list > li .board_comment_noimg .notice_img + div{padding-left:82px}
.list_comment .boardlist .goods_area .notice_list > li .board_comment_noimg .notice_title {padding:0 0 8px 0;}
.list_comment .boardlist .goods_area .notice_list > li .board_comment_noimg .notice_title .icon img {vertical-align:top;}
.list_comment .boardlist .goods_area .notice_list > li .board_comment_noimg .notice_title .text {display:-webkit-box; width:100%; overflow:hidden; text-overflow:ellipsis; font-size:14px; color:#222222; -webkit-line-clamp:1; -webkit-box-orient:vertical; word-break:break-all; position:relative;}
.list_comment .boardlist .goods_area .notice_list > li > a.on .board_comment_noimg .notice_title .text{-webkit-line-clamp:unset;}
.list_comment .boardlist .goods_area .notice_list > li .board_comment_noimg .notice_title .text img {vertical-align:middle;}
.list_comment .boardlist .goods_area .notice_list > li .board_comment_noimg .notice_title .noti_title{font-size:10px; color:#fff; font-weight:normal; letter-spacing:-0.25px; display:inline-block; background:#5d5d5d; padding:0 4px; margin-right:4px;}
.list_comment .boardlist .goods_area .notice_list > li > a.on .board_comment_noimg .notice_title .noti_title{margin-right:8px;}
.list_comment .boardlist .goods_area .notice_list > li .board_comment_noimg .notice_info {position:absolute; bottom:0; right:10px; }
.list_comment .boardlist .goods_area .notice_list > li .board_comment_noimg .notice_info span {display:inline-block; padding:1px 5px 1px 5px; font-size:11px; border:1px solid #c5c5c5; color:#848484; box-sizing:border-box;}
.list_comment .boardlist .goods_area .notice_list > li .board_comment_noimg .notice_info span.reply_complete {background:#666; border:1px solid #3e3d3c; color:#ffffff;}
.list_comment .boardlist .goods_area li .notice_data {width:calc(100% - 70px); color:#999; font-size:13px; letter-spacing:-0.32px;}
.list_comment .boardlist .goods_area li .notice_data span {padding:0 10px 0 0; font-size:13px; color:#3a3a3a; letter-spacing:-0.32px;}
.list_comment .boardlist .goods_area .notice_list > li.list_comment > a{padding-right:45px}
.list_comment .boardlist .goods_area .notice_list > li.list_comment .board_comment_noimg .notice_title .text{padding-left:12px;}
.list_comment .boardlist .goods_area .notice_list > li.list_comment .board_comment_noimg .notice_title .text:after{content:''; width:7px; height:9px; position:absolute; top:4px; left:0px; background:url('/assets/img/icon/ico_coment_re_arrow.png') left top no-repeat;}
.list_comment .boardlist .goods_area li.no_data{font-size:13px; letter-spacing:-0.32px; color:#333; text-align:center; border:none; width:100%; padding:100px 0;}

/* 아이콘 */
.list_comment .boardlist .goods_area .icon_new{display:inline-block; width:18px; height:18px; margin:0px 0 0 5px; background:#3e3d3c; line-height:18px; font-size:10px; color:#fff; text-align:center; vertical-align:top;}
.list_comment .boardlist .goods_area .icon_hot{display:inline-block; height:18px; margin:0px 0 0 5px; padding:0 5px 0 5px; background:#3e3d3c; line-height:18px; font-size:12px; color:#ffffff; vertical-align:top;}

/* 상품 데이터 */
.list_comment .boardlist .goods_data {margin:10px 0 0 0; color:#999; font-size:11px;}
.list_comment .boardlist .goods_data .data, .goods_data .info {display:block;}
.goods_data .info {word-break:break-all;}
.list_comment .boardlist .goods_data .data span, .goods_data .info span:first-child {display:inline-block; position:relative; padding:0 20px 0 0;  }
.list_comment .boardlist .goods_data .data span:after, .goods_data .info span:first-child:after { content:''; display:block; position:absolute; top:50%; right:10px; margin:-4px 0 0 0; width:1px; height:8px; background: #cacaca;}
.list_comment .boardlist .goods_data .data time {display:inline-block; font-weight:bold;}

/* 페이징 */
.list_comment .boardlist .page_btn_box {text-align:center; margin:30px 0 20px; }
.list_comment .boardlist .page_btn_box .page_number {display:inline-block; height:21px; padding:0 30px 0 30px; color:#9e9e9e; font-size:15px; line-height:21px; vertical-align:middle; letter-spacing:0;}
.list_comment .boardlist .page_btn_box .page_number strong { color: #5e5e5e; }
.list_comment .boardlist .page_btn_box .prev_btn {overflow:hidden; display:inline-block; width:11px; height:21px; background:url('/assets/img/icon/icon_arrow_prev2.png') no-repeat 0 0; background-size:11px 21px; font-size:1px; color:transparent;  vertical-align: middle; border:none;}
.list_comment .boardlist .page_btn_box .next_btn {overflow:hidden; display: inline-block; width: 11px; height:21px; background:url('/assets/img/icon/icon_arrow_next2.png') no-repeat 0 0; background-size: 11px 21px; font-size:1px; color:transparent; vertical-align: middle; border:none;}
.list_comment .boardlist .no_list {padding:55px 10px 55px 10px; border-top:1px solid #e5e5e5; font-size:12px; text-align:center;}

.list_comment .boardlist .goods_area .notice_list .add_file_area{padding:0; margin-top:10px; display:none;}
.list_comment_cont_btn{margin-top:3px; display:none;}
.list_comment_cont_btn > a{display:inline-block; fotn-size:11px; color:#2a2a2a; text-align:center; width:42px; line-height:25px; border:solid 1px #d4d4d4; margin-left:5px; background:#fff;}
.list_comment_cont_btn > a:first-child{margin-left:0;}
.list_comment .boardlist .goods_area .notice_list > li > a.on + .add_file_area,
.list_comment .boardlist .goods_area .notice_list > li > a.on + .add_file_area + .list_comment_cont_btn{display:block;}

.list_comment .more_btn{width:200px; margin:20px auto 0; display:block;}
