<!--
  ~  © 2021. NHN Commerce Corp. All rights reserved.
  ~  NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  ~
  ~  @author hyeyeon-park
  ~  @since 2021.6.29
  -->

<div id="footer_wrap">
        <div class="footer_content">
            <div>
                {{#with bottom}}
                <div class="footer_left">
                    <div class="foot_list">
                        <ul>
                            <li>
                                <a href="/pages/service/guide.html"><strong>이용안내</strong></a>
                            </li>
                            <li>
                                <a href="/pages/service/privacy-policy.html"><strong>개인정보처리방침</strong></a>
                            </li>
                            <li>
                                <a href="/pages/service/use-terms.html"><strong>이용약관</strong></a>
                            </li>
                            <li>
                                <a href="/pages/my/product-inquiries.html"><strong>제휴문의</strong></a>
                            </li>
                        </ul>
                    </div>
                    <!-- //foot_list -->
                    <div class="foot_cont">
                        {{#with business}}
                        <div class="foot_info">
                            <p>{{serviceBasicInfo.companyName}} {{serviceBasicInfo.address}} {{ serviceBasicInfo.addressDetail }}</p>
                            <div class="foot_info_list">
                                <dl>
                                    <dt>대표 :</dt>
                                    <dd>{{serviceBasicInfo.representativeName}}</dd>
                                </dl>
                                <dl>
                                    <dt>사업자등록번호 :</dt>
                                    <dd>
                                        {{businessRegistration.no}}
                                        <a href="{{businessRegistration.url}}" class="btn_licensee_info" target="_blank">사업자번호조회</a>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>통신판매업신고번호 :</dt>
                                    <dd>{{serviceBasicInfo.onlineMarketingBusinessDeclarationNo}}</dd>
                                </dl>
                                <dl>
                                    <dt>개인정보처리책임자 :</dt>
                                    <dd>{{serviceBasicInfo.privacyManagerName}}</dd>
                                </dl>
                            </div>
                            <div class="foot_info_list">
                                <dl>
                                    <dt>대표번호 :</dt>
                                    <dd><strong>{{serviceBasicInfo.representPhoneNo}}</strong></dd>
                                </dl>
                                <dl>
                                    <dt>팩스번호 :</dt>
                                    <dd>{{serviceBasicInfo.faxNo}}</dd>
                                </dl>
                                <dl>
                                    <dt>메일 :</dt>
                                    <dd>
                                        <a href="mailto:{{mall.serviceCenter.email}}" class="btn_email">{{mall.serviceCenter.email}}</a>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt></dt>
                                    <dd>호스트제공 : 엔에이치엔커머스(주)</dd>
                                </dl>
                            </div>
                            <!-- // -->
                            {{#if since}}
                            <p class="copyright">Copyright {{since}} {{companyName}} all rights reserved.</p>
                            {{/if}}
                        </div>
                        <div class="foot_certify">
                            {{#if termsConfig}} {{img termsConfig.fairLogoUrl}} {{/if}} {{#if mall.escrowLogo.exposure}} {{{mall.escrowLogo.logoHtml}}} {{/if}}
                            {{#if mall.ssl}} {{{mall.ssl.trustSeal}}} {{/if}}
                        </div>
                        {{/with}}
                    </div>
                </div>
                <div class="footer_right">
                    <div class="content_info_wrap">
                        <div class="content_info">
                            <div class="cs_center">
                                <h3>CS CENTER</h3>
                                {{#if mall.serviceCenter}}
                                <p>{{mall.serviceCenter.phoneNo}}</p>
                                <p>{{mall.serviceCenter.email}}</p>
                                {{else}}
                                <p>-</p>
                                {{/if}}
                            </div>
                        </div>
                        <!-- //content_info -->
                    </div>
                </div>
                {{/with}}
            </div>
        </div>
    </div>
    <!-- //content_info_wrap -->
</div>
<script type="text/javascript" src="/js/components/footer.js"></script>
