<!--
  ~  © 2021. NHN Commerce Corp. All rights reserved.
  ~  NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  ~
  ~  @author hyeyeon-park
  ~  @since 2021.6.29
  -->

  <div class="dk-bottom-search">
    <div class="footer-logo">
		<span><img src="/_dbook/img/footer_logo.png" alt="" /></span>
	</div>
    <div id="categoryAll"></div>
    <div class="top_search">
      <div class="top_search_cont" id="keywordSearch">
          <div class="top_text_cont">
              <input
                  type="text"
                  id="search_form"
                  name="keyword"
                  class="top_srarch_text"
                  placeholder=""
                  autocomplete="off"
              />
              <button type="button" id="btnSearchTop" title="검색" value="검색">
                  <img src="/_dbook/img/btn_top_search.png" class="btn_top_srarch" alt="검색" />
              </button>
          </div>
      </div>
    </div>
    <!-- 디자인교과서.fe footer sns -->
    <div class="dk-footer-sns">
		<ul>
			<li><a href="https://www.instagram.com/binwoos/" target="_blank" class="sp-sns-insta"><img src="/_dbook/img/footer_sns_ico2.png"></a></li>
		</ul>
	</div>
</div>
<div id="footer_wrap">
    <div class="content_info_wrap">
        <div class="footer_content">
            <div>
                {{#with bottom}}
                <div class="footer_left">
                    <div class="foot_list">
                        <ul>
                            <li>
                                <a href="#none">이용안내</a>
                            </li>
                            <li>
                                <a href="/pages/service/privacy-policy.html"><strong>개인정보처리방침</strong></a>
                            </li>
                            <li>
                                <a href="/pages/service/use-terms.html">이용약관</a>
                            </li>
                            <li>
                                <a href="#none">제휴문의</a>
                            </li>
                        </ul>
                    </div>
                    <!-- //foot_list -->
                    <div class="foot_cont dk-noto">
                        {{#with business}}
                        <div class="foot_info">
                            <div><span>상호 : {{serviceBasicInfo.companyName}}</span><span>대표 : {{serviceBasicInfo.representativeName}}</span><span> EMAIL : </span><a href="mailto:{{mall.serviceCenter.email}}" class="btn_email">{{mall.serviceCenter.email}}</a><span>사업자번호 : {{businessRegistration.no}}</span>
                                <a href="{{businessRegistration.url}}" class="btn_licensee_info" target="_blank">[사업자번호조회]</a> <span>통신판매업신고번호 : {{serviceBasicInfo.onlineMarketingBusinessDeclarationNo}}</span></div>
                            <p>주소 : {{serviceBasicInfo.address}} {{ serviceBasicInfo.addressDetail }} <span>대표번호 : {{serviceBasicInfo.representPhoneNo}}</span></p>
                            {{#if since}}
                            <p class="copyright">copyright {{since}} {{companyName}} all rights reserved.</p>
                            {{/if}}
                        </div>
                        <div class="foot_certify">
                            {{#if termsConfig}} {{img termsConfig.fairLogoUrl}} {{/if}} {{#if mall.escrowLogo.exposure}} {{{mall.escrowLogo.logoHtml}}} {{/if}}
                            {{#if mall.ssl}} {{{mall.ssl.trustSeal}}} {{/if}}
                        </div>
                        {{/with}}
                    </div>
                </div>
                {{/with}}
            </div>
        </div>
    </div>
    <!-- //content_info_wrap -->
</div>
<script type="text/javascript" src="/js/components/footer.js"></script>