<!--
  ~ © NHN Commerce Corp. All rights reserved.
  ~ NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  ~
  ~ @author Daejoong Son
  ~ @since 2021.7.14
  -->

<script id="designPopupNormalTemplate" type="text/x-handlebars-template">
    <div>
        {{#if isFixedTop}}
            <div class='mobile_top_banner'>
                <div class='top_banner_in'>
                    <div class='top_banner_content'>
                        {{{content}}}
                    </div>
                    <div class='top_banner_ctrl'>
                        <a href='javascript:void(0)' class='top_banner_close' id='design-popup-close'>
                            <img src='/assets/img/icon/icon_x2.png' alt='닫기' />
                        </a>
                        {{#if visibleToday}}
                            <a href='javascript:void(0)' class='top_banner_today' id='design-popup-today'>
                                <label>
                                    <input type='checkbox' class='checkbox' />
                                    오늘 하루 보이지 않음
                                </label>
                            </a>
                        {{/if}}
                    </div>
                </div>
            </div>
        {{else}}
            <div class='sys_pop'>
                <div class='box'>
                    <div class='view'>
                        {{{content}}}
                    </div>

                    <div class='bottom'>
                        {{#if visibleToday}}
                            <div class='today' id='design-popup-today'>
                                <label for="design-popup-today-{{popupNo}}">
                                    오늘 하루 보이지 않음
                                </label>
                                <input type='checkbox' id="design-popup-today-{{popupNo}}" />
                            </div>
                        {{/if}}
                        <div class='close_box'{{#unless visibleToday}}style='width:100%'{{/unless}}>
                            <button type='button' class='close' id='design-popup-close'>
                                닫기
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
    </div>
</script>

<script type="text/javascript" src="/js/components/design-popup/design-popup-normal.js"></script>
