@charset "UTF-8";

.dn, .hidden {display:none;}
.c_red,.c-red, .c_point {color:#fa2828!important;}
.c_blue,.c-blue {color:#1200ff!important;}
.c_gray{color:#ccc}
/* Slider */
.slider_wrap{overflow:hidden; position:relative; display:block; margin:0 auto; box-sizing:border-box;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-touch-callout:none;
    -khtml-user-select:none;
    -ms-touch-action:pan-y;
    touch-action:pan-y;
    -webkit-tap-highlight-color:transparent;
}
.slick-slider{overflow:hidden; position:relative; display:block; margin:0 auto; box-sizing:border-box; text-align:center;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-touch-callout:none;
    -khtml-user-select:none;
    -ms-touch-action:pan-y;
    touch-action:pan-y;
    -webkit-tap-highlight-color:transparent;
}
.slick-slider .slick-list{display:block; overflow:hidden; position:relative; margin:0; padding:0;}
.slick-slider .slick-track, .slider_wrap .slick-list{
    -webkit-transform:translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    -ms-transform:translate3d(0, 0, 0);
    -o-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
}
.slick-track{display:block; position:relative; top:0; left:0;}
.slick-track:before,
.slick-track:after{display:table; content:'';}
.slick-track:after{clear:both;}
.slick-loading .slick-track{visibility:hidden;}
.slick-slide{display:none; float:left; height:100%; min-height:1px;}
[dir='rtl'] .slick-slide{float:right;}
/*.slick-slide img{display:block; position:static !important; top:0px !important;}*/
.slick-slide.slick-loading img{display:none;}
.slick-slide.dragging img{pointer-events:none;}
.slick-slide{display:block;}
.slick-loading .slick-slide{visibility:hidden;}
.slick-vertical .slick-slide{display:block; height:auto; border:1px solid transparent;}
.slick-arrow.slick-hidden{display:none;}
.slick-prev,
.slick-next{font-size:0; line-height:0; position:absolute; top:45%; display:block; width:50px; height:100px; padding:0; cursor:pointer; z-index:10; background-repeat:no-repeat;
    -webkit-transform:translate(0, -45%);
    -ms-transform:translate(0, -45%);
    transform:translate(0, -45%);
}
.slick-prev{left:0px; right:auto;}
.slick-next{left:auto; right:0px;}
.slick-dots{display:block; position:absolute; bottom:30px; width:100%; margin:0; padding:0; text-align:center;}
.slick-dots li{display:inline-block; position:relative; margin:0 5px; padding:0; cursor:pointer;}
.slick-dots li button{display:block; padding:5px; font-size:0; line-height:0; cursor:pointer; border:0; outline:none; opacity:0.75;}
.slick-dots li.slick-active button{opacity:1;}

/* 팝업관련 */
.ly_pop {position:fixed; background:#ffffff; z-index:1001;}
.ly_pop .view{text-align:left;}
.ly_head {position:relative; height:42px; padding:0 71px; z-index:10; background:#fff; border-bottom:1px solid #c3c3c3; text-align:center; line-height:45px}
.ly_head .h_tit {color:#333; font-size:15px;width: 100%;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.ly_ct {overflow:hidden; overflow-y:scroll; -webkit-overflow-scrolling:touch; }
.layer_common_wrapper{height:100%;}
.layer_common_wrapper .scroll_box{overflow-x: hidden;overflow-y: auto;max-height: calc(100vh - 140px);}
.ly_pop .close_btn{position: absolute;top: 0;right: 0;z-index: 100;}

/* 레이어 팝업 */
.layer_common_wrapper{padding-bottom:44px; box-sizing: border-box;}
.layer_common_wrapper .notice_box {width:100%; padding:20px 0 20px 0; background:#ffffff;}
.layer_common_wrapper .notice_box p {font-size:11px; line-height:15px; color:#9d9d9d; text-align:center;}
.layer_common_wrapper .close_btn {position:absolute; top:0; right:0; z-index:100;}
.ly_pop .btn_box {position:fixed; bottom:0; left:0; width:100%; background:#fff; border-top:1px solid #cccccc;}
.ly_pop .btn_box:after{content:''; display:block; clear:both;}
.ly_pop .btn_box li{float:left; box-sizing: border-box; width:50%;}
.ly_pop .btn_box li:only-child{width:100%;}
.ly_pop .btn_box span {display:block; padding:10px;}

/*** 회원로그인 | member/join_agreement.html & member/join.html ***/

/* 회원가입 스탭 */
.join_step {padding:10px 10px 10px 10px;}
.join_step ul {display:table; width:100%;}
.join_step ul li {position:relative; display:table-cell; padding:0 10px; font-size:14px; text-align:center; border:1px solid #d6d6d6; border-right:none; vertical-align:middle; line-height:1em; height:40px;}
.join_certify_box {margin: 16px;}
/* 회원가입 스탭 OFF */
.join_step ul li:last-child {border-right:1px solid #d6d6d6;}
.join_step ul li::before {position:absolute; top:-1px; right:-1px; display:block; margin:0 -21px 0 0; z-index:1; content:''; border:10px solid transparent; border-width: 21px 11px; border-left-color:#D6D6D6;}
.join_step ul li:last-child::before {display:none;}
.join_step ul li::after {position:absolute; top:-1px; right:-1px; display:block; margin:0 -20px 0 0; z-index:1; content:''; border:10px solid transparent; border-width: 21px 11px; border-left-color:#ffffff;}
.join_step ul li:last-child::after {display:none;}

/* 회원가입 스탭 ON */
.join_step ul li.on {color:#ffffff; background:#3e3d3c; border:1px solid #3e3d3c; border-right:none;}
.join_step ul li.on::before {position:absolute; top:-1px; right:-1px; display:block; margin:0 -21px 0 0; z-index:1; content:''; border:10px solid transparent; border-width: 21px 11px; border-left-color:#3e3d3c;}
.join_step ul li.on:last-child::before {display:none;}
.join_step ul li.on::after {position:absolute; top:-1px; right:-1px; display:block; margin:0 -20px 0 0; z-index:1; content:''; border:10px solid transparent; border-width: 21px 11px; border-left-color:#3e3d3c;}
.join_step ul li.on:last-child::after {display:none;}

/* 회원가입/ 회원수정 인풋 fail valid */
.fail_valid{border:2px solid #FF4C2E !important}
/* RADIO */
.inp_rdo {display:inline-block; padding:5px 0 5px 0;}
.inp_rdo input {display:inline-block; width:20px; height:20px; margin:-3px 5px 0 0; vertical-align:middle; background:url('/assets/img/icon/icon_rad_chk.png') no-repeat center; background-size:100%; border:none;}
.inp_rdo input:checked {background:url('/assets/img/icon/icon_rad_chk_on.png') no-repeat center; background-size:100%;}
.inp_rdo label {margin:0 15px 0 0;}

/* CHECK BOX */
.inp_chk input {display:inline-block; width:20px; height:20px; margin:-3px 5px 0 0; vertical-align:middle; background:url('/assets/img/icon/icon_chk.gif') no-repeat center; background-size:100%; border:none;}
.inp_chk input:checked {background:url('/assets/img/icon/icon_chk_on.gif') no-repeat center; background-size:100%;}
.inp_chk label {}

/* 체크박스 라디오버튼 스타일 */
.form_element{display:inline-block; overflow:hidden; position:relative;}
span.form_element{display:inline-block;}
.form_element label{position:relative;top:0;left:0;display:inline-block;min-width:20px;min-height:20px;padding:0 0 0 27px;background:url('/assets/img/common/input/check_off.png') no-repeat 1px top;}
.form_element label:hover{background:url('/assets/img/common/input/check_over.png') no-repeat 1px top;}
.form_element label.on{background:url('/assets/img/common/input/check_on.png') no-repeat 1px top;}
.form_element label.choice{background:url('/assets/img/common/input/radio_off.png') no-repeat 1px 50%;}
.form_element label.choice:hover{background:url('/assets/img/common/input/radio_over.png') no-repeat 1px 50%;}
.form_element label.choice.on{background:url('/assets/img/common/input/radio_on.png') no-repeat 1px 50%;}
.form_element label.check_s{min-width:13px;padding:0 0 0 22px;background:url('/assets/img/common/input/check_off.png') no-repeat 1px 2px;}
.form_element label.check_s:hover{background:url('/assets/img/common/input/check_over.png') no-repeat 1px 2px;}
/*.form_element label.check_s.on{background:url('/assets/img/common/input/check_on.png') no-repeat 1px 2px;}*/
.form_element input[type=checkbox]:checked + label{background:url('/assets/img/common/input/check_on.png') no-repeat 1px 2px;} /* auto drawing checked state*/
.form_element label.choice_s{min-width:13px;padding:0 0 0 22px;background:url('/assets/img/common/input/radio_off_small.png') no-repeat 1px 50%;}
.form_element label.choice_s:hover{background:url('/assets/img/common/input/radio_over_small.png') no-repeat 1px 50%;}
/*.form_element label.choice_s.on{background:url('/assets/img/common/input/radio_on_small.png') no-repeat 1px 50%;}*/
.form_element input[type=radio]:checked + label{background:url('/assets/img/common/input/radio_on_small.png') no-repeat 1px 50%;} /* auto drawing checked state*/
.form_element label.single{width:21px;height:21px;padding:1px 0 0;background-color:transparent;text-indent:-9999px;}
.form_element label.single:hover{background-color:transparent;}
.form_element label span{color:#979797;}
.form_element label img{vertical-align:middle;}
.form_element input{position:absolute;top:3px;left:1px;width:0;z-index:-1;visibility:hidden;}
/** 체크박스용 비활성화 **/
.form_element label.check_dis_s { background-image: url('/assets/img/common/input/check_dis.png'); }

/* SELECT BOX */
.inp_sel{}
.inp_sel select{width:100%; height:31px; padding:0 33px 0 6px; background:#fff url('/assets/img/icon/icon_bg_select.png') no-repeat 100% 0; background-size:400px 31px; font-size:13px; color:#333; border:1px solid #c3c3c3; box-sizing:border-box; vertical-align:1px;}

/*───────────────────────────────────────────────────────────

	 TABLE STYLE

───────────────────────────────────────────────────────────*/

/* 세금계산서 발행 */
.table_style0 {}
.table_style0 caption {display:none;}
.table_style0 tbody {}
.table_style0 tbody th {padding:8px 0 5px 0; font-size:14px; vertical-align:top;}
.table_style0 tbody td {padding:0 0 5px 0; font-size:14px;}

/* 예치금 테이블 */
.table_style1 {}
.table_style1 caption {display:none;}
.table_style1 th {padding:10px 10px 7px 10px; border-bottom:1px solid #e8e8e8; background:#f9f9f9; font-weight:normal; color:#5e5e5e; font-size:13px; text-align:center;}
.table_style1 td {padding:10px 10px 7px 10px; border-bottom:1px solid #e8e8e8; font-weight:bold; color:#5e5e5e; font-size:13px; text-align:center; word-break:keep-all;}

/* 배송지 등록 */
.table_style2 {}
.table_style2 caption {display:none;}
.table_style2 tbody {}
.table_style2 tbody th {padding:0 0 5px 0; font-size:14px; text-align:left; vertical-align:top;}
.table_style2 tbody td {padding:0 0 5px 0; font-size:14px;}

/* 지역별 배송비 레이어 정보*/
.table_style3 {width:100%;}
.table_style3 caption {display:none;}
.table_style3 tr{border: 1px solid #e8e8e8;}
.table_style3 th {padding:8px 0 8px 0; text-align:center; border:1px solid #e8e8e8; border-left:none; background:#f9f9f9;}
.table_style3 td {padding:7px 0 7px 0; text-align:center; border-bottom:1px solid #e8e8e8; border-right:1px solid #e8e8e8;}
.table_style3 th:last-child, .table_style3 td:last-child {border-right:none;}

/* 주문서 작성 */
.table_style4 {border-top:1px solid #e8e8e8; display:block;}
.table_style4 caption {display:none;}
.table_style4 tbody,
.table_style4 tr{display:block; width:100%;}
.table_style4 th,
.table_style4 td{display:block; width:100%; box-sizing:border-box;}
.table_style4 th {padding:14px 20px 6px; font-weight:bold; color:#3a3a3a; font-size:13px; text-align:left;}
.table_style4 th.required label {background: url('/assets/img/icon/icon_squre_red.png') no-repeat right top; padding-right:8px;}
.table_style4 th.vertiT{vertical-align: top;}
.table_style4 td {padding:0 20px; color:#5e5e5e; font-size:12px; text-align:left; word-break:keep-all;}
.table_style4 .add_currency {color: #717171;}
.table_style4 .error{font-size:10px; letter-spacing:-0.25px; color:#fa2828; margin-top:3px;}
.table_style4 td.noMember_txt{padding-top:10px; font-size:11px; letter-spacing:-0.27px; color:#e90606;}
.table_style4 td.noMember_txt p{padding-left:14px; background: url('/assets/img/icon/icon_squre_red.png') no-repeat left 5px;}

.table_style5 {border-top:1px solid #e8e8e8;}
.table_style5 caption {display:none;}
.table_style5 th {width:82px; padding:10px 10px 7px 24px; border-bottom:1px solid #e8e8e8; font-weight:normal; color:#3a3a3a; font-size:13px; text-align:left;}
.table_style5 th.required label {background: url('/assets/img/icon/icon_squre_red.png') no-repeat right top; padding-right:8px;}
.table_style5 th.vertiT{vertical-align: top;}
.table_style5 td {padding:10px 10px 7px 14px; border-bottom:1px solid #e8e8e8; color:#5e5e5e; font-size:12px; text-align:left; word-break:keep-all;}
.table_style5 .add_currency {color: #717171;}
.table_style5 .error{font-size:10px; letter-spacing:-0.25px; color:#fa2828; margin-top:3px;}

/* Slider */
.slider-wrap {position:relative; display:block; box-sizing:border-box; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; -webkit-touch-callout:none; -khtml-user-select:none; -ms-touch-action:pan-y; touch-action:pan-y; -webkit-tap-highlight-color:transparent;}
.slider-wrap .slick-list {position:relative; display:block; overflow:hidden; margin:0; padding:0;}
.slider-wrap .slick-track,
.slider-wrap .slick-list { -webkit-transform:translate3d(0, 0, 0); -moz-transform:translate3d(0, 0, 0); -ms-transform:translate3d(0, 0, 0); -o-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0);}
.slider-wrap .slick-track {position: relative; top:0; left:0; display:block;}
.slider-wrap .slick-track:before,
.slider-wrap .slick-track:after {display: table; content: '';}
.slider-wrap .slick-track:after {clear: both;}
.slider-wrap .slick-loading .slick-track {visibility: hidden;}
.slider-wrap .slick-slide {display:none; float:left; height:100%; min-height:1px;padding:0 5px;}
[dir='rtl'] .slick-slide{float:right;}
.slider-wrap .slick-slide img {display:block;}
.slider-wrap .slick-slide.slick-loading img {display:none;}
.slider-wrap .slick-slide.dragging img {pointer-events: none;}
.slider-wrap .slick-slide  {display: block;}
.slider-wrap .slick-loading .slick-slide {visibility: hidden;}
.slider-wrap .slick-vertical .slick-slide {display: block; height:auto; border:1px solid transparent;}
.slider-wrap .slick-arrow.slick-hidden {display: none;}
.slider-wrap .slick-arrow {border:none; background:none;}
/* 딤 팝업 배경*/
#layerDim {position:fixed; left:0; top:0; width:100%; height:100%; z-index:300; background:rgba(0,0,0,0.8);/*background:#000; opacity:0.5; filter:alpha(opacity=50);*/ }


/*───────────────────────────────────────────────────────────

	 리스트 타입 및 옵션 (장바구니,찜리스트,상품상세)

───────────────────────────────────────────────────────────*/


/*** 쿠폰 적용 레이어 | goods/layer_coupon_apply.php ***/
.layer_coupon_apply {position:relative; overflow:hidden; overflow-y:scroll; height:100%; background:#fff;}
.layer_coupon_apply .ly_content {overflow-x:hidden; overflow-y:auto; padding:0 15px 150px 15px;}
.layer_coupon_apply .ly_content .ly_coupon_list {}
.layer_coupon_apply .ly_content .ly_coupon_list dl {border-bottom:1px solid #cccccc; padding:15px 0 15px 0;}
.layer_coupon_apply .ly_content .ly_coupon_list dl dt {font-size:0;}
.layer_coupon_apply .ly_content .ly_coupon_list dl dt div {display:inline-block; font-size:12px;}
.layer_coupon_apply .ly_content .ly_coupon_list dl dt div.c_point { margin:0 10px 0 0; font-weight:bold;}
.layer_coupon_apply .ly_content .ly_coupon_list dl dd {padding:10px 0 0 25px; color:#9d9d9d;}
.layer_coupon_apply .ly_content .no_data {padding:20px 0 20px 0; text-align:center;}
.layer_coupon_apply .close_btn {position:absolute; top:0; right:0; z-index:100;}
.layer_coupon_apply .btn_box {position:fixed; bottom:0; left:0; width:100%; background:#fff; border-top:1px solid #cccccc;}
.layer_coupon_apply .btn_box span {display:block; padding:10px;}

/*** 쿠폰 다운받기 레이어 | goods/layer_coupon_down.php ***/

.layer_coupon_down {}
.layer_coupon_down {position:relative; background:#fff;}
.layer_coupon_down .ly_content {padding:0; }
.layer_coupon_down .ly_content .coupondown {}
/* 쿠폰 다운받기 상단 */
.layer_coupon_down .ly_content .coupondown .my_info {}
.layer_coupon_down .ly_content .coupondown .my_info ul {display:table; width:100%; padding:2px 0 2px 0; border-top:1px solid #c3c3c3; border-bottom:1px solid #c3c3c3; background:#f2f3f3;}
.layer_coupon_down .ly_content .coupondown .my_info ul li {display:table-cell; width:50%; }
.layer_coupon_down .ly_content .coupondown .my_info ul li:nth-child(1) strong {display:inline-block; margin:0 0 0 10px; font-size:14px; line-height:36px;}
.layer_coupon_down .ly_content .coupondown .my_info ul li:nth-child(1) strong span {font-size:14px; color:#fa2828; font-weight:bold;}
.layer_coupon_down .ly_content .coupondown .my_info ul li:nth-child(2) {padding-bottom:5px; text-align:right;}
.layer_coupon_down .ly_content .coupondown .my_info ul li:nth-child(2) a {margin:0 10px 0 0;}
/* 쿠폰 다운받기 리스트 */
.layer_coupon_down .ly_content .coupon_down_list {padding:15px 20px 15px 20px;}
.layer_coupon_down .ly_content .coupon_down_list ul {}
.layer_coupon_down .ly_content .coupon_down_list ul li > div:first-child {padding:20px; border:solid 1px #d8d8d8; box-sizing:border-box;}
.layer_coupon_down .ly_content .coupon_down_list ul li .coupon_left {}
.layer_coupon_down .ly_content .coupon_down_list ul li .coupon_left dl {}
.layer_coupon_down .ly_content .coupon_down_list ul li .coupon_left dl dt {font-size:13px; color:#3a3a3a; position:relative;}
.layer_coupon_down .ly_content .coupon_down_list ul li .coupon_left dl dt:after{content:''; display:block; clear:both;}
.layer_coupon_down .ly_content .coupon_down_list ul li .coupon_left dl dt span{float:left; width:30%; text-align:right; font-weight:normal;}
.layer_coupon_down .ly_content .coupon_down_list ul li .coupon_left dl dt span:first-child{width:100%; text-align:left; font-weight:bold;}
.layer_coupon_down .ly_content .coupon_down_list ul li .coupon_left dl dt strong {color:#fa2828;}
.layer_coupon_down .ly_content .coupon_down_list ul li .coupon_left dl dd.coupon_discount {font-size:22px; font-weight:bold; letter-spacing:-0.55px; color:#3a3a3a;}
.layer_coupon_down .ly_content .coupon_down_list ul li .coupon_left dl dd .chk_img {width:13px; margin:0 5px 0 0;}
.layer_coupon_down .ly_content .coupon_down_list ul li .coupon_right {text-align:center; margin-top:10px;}
.layer_coupon_down .close_btn {position:absolute; top:0; right:0; z-index:100;}
.layer_coupon_down .coupon_issue{font-size:12px; letter-spacing:-0.5px; color:#333; width:100%; line-height:32px; border:solid 1px #d6d6d6; box-sizing:border-box; display:block;}
.layer_coupon_down .coupon_issue.wrong{color:#e90606;}
.layer_coupon_down .coupon_infor{text-align:right; margin-top:14px;}
.layer_coupon_down .coupon_infor > a{font-size:11px; letter-spacing:-0.5px; color:#333; line-height:normal; border-bottom:solid 1px #333; display:inline-block; margin-right:20px;}
.coupon_infor_layer_dim{position:fixed; top:0; left:0; width:100%; height:100%; display:none; background-color: rgba(0, 0, 0, 0.5); z-index: 10;}
.coupon_infor_layer_dim.on{display:block;}
.layer_coupon_down .coupon_infor_layer{position:absolute; top:50%; left:50%; width:calc(100% - 40px); border:solid 1px #979797; background:#fff; text-align:left; z-index:1; transform: translate(-50%, -50%);}
.layer_coupon_down .coupon_infor_layer_top{border-bottom:solid 1px #d8d8d8; position:relative;}
.layer_coupon_down .coupon_infor_layer_top > p{font-size:14px; font-weight:bold; letter-spacing:-0.35px; color:#333; padding:18px 20px 17px 20px;}
.layer_coupon_down .coupon_infor_layer_top > a{position:absolute; top:16px; right:16px;}
.layer_coupon_down .coupon_infor_layer_top > a img{width:22px; height:22px;}
.layer_coupon_down .coupon_infor_layer_cont{padding:20px;}
.layer_coupon_down .coupon_infor_layer_cont ul{margin-bottom:30px;}
.layer_coupon_down .coupon_infor_layer_cont > ul li > dl{margin:3px 0;}
.layer_coupon_down .coupon_infor_layer_cont > ul li > dl > dt{font-weight:bold;}
.layer_coupon_down .coupon_down_list > ul li{margin-top:20px;}
.layer_coupon_down .coupon_down_list > ul li:first-child{margin-top:0;}
.layer_coupon_down .coupon_down_list > ul li > dl:after{content:''; display:block; clear:both;}
.layer_coupon_down .coupon_down_list > ul li > dl > *{float:left; font-size:12px; color:#333; line-height:normal;}
.layer_coupon_down .coupon_down_list > ul li > dl > dt{font-weight:bold;}
.layer_coupon_down .coupon_down_listr > p{font-size:12px; color:#333; line-height:normal; margin-top:20px;}
.layer_coupon_down .coupon_btn_box{border-top:solid 1px #3d3d3d; padding-top:16px;}

/*** 옵션 선택 레이어 | goods/layer_option.php ***/
.st_buy_content {border-top:1px solid #999;}
.layer_option {position:relative;}
.layer_option .js_option_scroll {overflow-y:auto;height:64vh;}
.layer_option .ly_buy_info {}
/* 팝업시 닫기 */
.layer_option .close_btn {position:absolute; top:0; right:0; z-index:100;}
/* 적용하기 위치 */
.layer_option .popup_dn {position:fixed; bottom:0; left:0; width:100%;}
.layer_option .popup_dn .btn_box2 {}
.layer_option .popup_dn .btn_box2 span {display:block; margin:10px 10px 10px 10px;}
/* 세로 스크롤 고정 */
.layer_option .ly_buy_info {padding:15px 15px 0 15px;}
.layer_option .ly_buy_info .ly_opt .bn_opt {display:block; position:relative; width:100%; height:33px; border:1px solid #c7c7c7; font-size:13px; color:#777; text-align:left; text-indent:11px; z-index:100; background:#fff url('/assets/img/icon/icon_bg_select.png') no-repeat 100% 0; background-size:400px 31px;}
.layer_option .ly_buy_info .ly_opt .bn_opt.selected { border:1px solid #999;}
.layer_option .ly_buy_info .ly_opt .bn_opt:disabled { background-color:#f7f7f7; color:#bbb;}
.layer_option .ly_buy_info .ly_opt > li {margin-bottom:10px;}
.layer_option .ly_buy_info .ly_opt li .optbx {position:relative; margin:-1px 0 0 0; border:1px solid #999; z-index:1; background:#ffffff;}
.layer_option .ly_buy_info .ly_opt li .optbx .optlst {max-height:214px;}
.layer_option .ly_buy_info .ly_opt li .optbx .optlst .disabled {color:#9a9a9a !important;}
.layer_option .ly_buy_info .ly_opt li .optbx .optlst li {position:relative; min-height:42px; text-indent:10px; border-bottom:1px solid #c7c7c7; font-weight:bold; font-size:13px; color:#555; line-height:42px; vertical-align:middle;}
.layer_option .ly_buy_info .ly_opt li .optbx .optlst li:last-child {border-bottom:none;}
.layer_option .ly_buy_info .ly_opt li .optbx .optlst li > img {width:41px; height:41px;}
.layer_option .ly_buy_info .ly_opt li .optbx .optlst li em {display:block; position:relative; padding:8px 0 7px; color:#555; word-break:break-all; z-index:30;}
/* 배송비 */
.layer_option .select_box_view {padding:15px 15px 15px 15px;}
.layer_option .select_box_view .bn_opt {display:block; position:relative; width:100%; height:33px; border:1px solid #c7c7c7; font-size:13px; color:#777; text-align:left; text-indent:11px; z-index:100; background:#fff url('/assets/img/icon/icon_bg_select.png') no-repeat 100% 0; background-size:400px 31px;}
.layer_option .select_box_view .bn_opt.selected { border:1px solid #fa2828;}
.layer_option .select_box_view .optbx {position:relative; margin:-1px 0 0 0; border:1px solid #fa2828; z-index:1; background:#ffffff;}
.layer_option .select_box_view .optbx .optlst {}
.layer_option .select_box_view .optbx .optlst li {position:relative; min-height:42px; text-indent:10px; border-bottom:1px solid #c7c7c7; font-weight:bold; font-size:13px; color:#555; line-height:42px; vertical-align:middle;}
.layer_option .select_box_view .optbx .optlst li:last-child {border-bottom:none;}
.layer_option .select_box_view .optbx .optlst li > img {width:41px; height:41px;}
.layer_option .select_box_view .optbx .optlst li em {display:block; position:relative; padding:8px 0 7px; color:#555; word-break:break-all; z-index:30;}
/* 찜리스트 */
.layer_option .btn_wish_box {display:table; width:100%; padding:0 0 4px 0;}
.layer_option .btn_wish_box li {display:table-cell; width:50%;}
.layer_option .btn_wish_box li:nth-child(1) {padding:0 2px 0 0;}

/* 멀티옵션 */
.layer_option .ly_buy_info .ly_opt li.multi_option_on {position:absolute; top:15px; left:0; z-index:103; width:calc(100% - 30px); padding:0 15px; background:#fff;}
/* 싱글옵션 */
.layer_option .ly_buy_info .ly_opt li.singel_option_on {position:absolute; top:15px; left:0; z-index:103; width:calc(100% - 30px); padding:0 15px; background:#fff;}
/* 추가옵션 */
.layer_option .ly_buy_info .ly_opt li.add_option_on {position:absolute; top:15px; left:0; z-index:103; width:calc(100% - 30px); padding:0 15px; background:#fff;}
/* 텍스트 입력 필드 */
.layer_option .ly_buy_info .ly_opt li .option_input input {width:100%; height:34px; border:1px solid #c7c7c7; text-indent:10px; box-sizing:border-box;}
/* 총 합계 */
.total_price_box {padding:15px 0; margin:0 15px; text-align:right; border-top:1px solid #2d2d2d;}
.total_price_box ul {display:inline-block;}
.total_price_box ul li {}
.total_price_box ul li dl {display:table; width:100%;}

.total_price_box ul li dl dt {display:table-cell; width:90px !important; font-size:13px; text-align:left; vertical-align:middle;float:none !important;}
.total_price_box ul li dl dd {display:table-cell; font-size:15px; font-weight:bold; text-align:right; vertical-align:middle;float:none !important;width:auto !important;}
.total_price_box ul li.total dl dt {font-weight:bold; font-size:13px; letter-spacing:-0.8px; color:#333;}
.total_price_box ul li.total dl dd {font-size:22px; font-weight:bold; letter-spacing:-1px; color:#333;}
.total_price_box ul li.total dl dd b{font-size:16px; letter-spacing:normal; margin-left:1px;}
/* 팝업창일때 하단 버튼 간격 */
.popup_price {padding-bottom:65px;}
/* 옵션 선택 */
.view_order_goods {background: #f5f5f5;position:relative;padding: 15px 10px;margin: 5px 0;border: 1px solid #e8e8e8;}
.view_order_goods dl dt {font-size:12px; font-weight:bold;}
.view_order_goods dl dd em {font-style:normal;}
.view_order_goods dl dd .option {font-size:13px; color:#333; line-height:1.54; letter-spacing:-0.5px; margin-bottom:10px;}
.view_order_goods dl dd .price_info {display:table; width:100%;}
.view_order_goods dl dd .price_info .count {display:table-cell; width:125px; padding:5px 0 0 0; vertical-align:top;}
.view_order_goods dl dd .price_info .count button {vertical-align:middle;}
.view_order_goods dl dd .price_info .count input[type=number] {width:50px; height:34px; border:solid #c9c9c9; border-width:1px 0; font-weight:bold; text-align:center; vertical-align:middle; box-sizing:border-box;}
.view_order_goods dl dd .price_info .right {display:table-cell; text-align:right; vertical-align:middle;}
.view_order_goods dl dd .price_info .right > *{vertical-align:middle;}
.view_order_goods dl dd .price_info .right .btn_wrap {padding:5px 0 0 0;}
.view_order_goods dl dd .price_info .right .btn_wrap ul {text-align:right;}
.view_order_goods dl dd .price_info .right .btn_wrap ul li {display:inline-block;}
.view_order_goods dl dd .price_info .right .price {padding:5px 0 0 0; font-size:16px; font-weight:bold; text-align:right;}
.view_order_goods dl dd .price_info .right .detail_apply_del{margin-left:12px;}
.view_order_goods dl dd .option_input{margin-top:14px;}
.ly_buy_info .js_singel_option .input_content input[type=text],
.view_order_goods dl dd .option_input .input_content input[type=text] {width:100%; height:33px; text-indent:10px; border:1px solid #c3c3c3; box-sizing:border-box;}
.ly_buy_info .js_singel_option .input_content input[type=text]::placeholder,
.view_order_goods dl dd .option_input .input_content input[type=text]::placeholder{color:#9a9a9a;}
.view_order_goods dl dd .option_input .option_inputs_area {max-height:190px; overflow-y:auto; display:none;}
.view_order_goods dl dd .option_input .option_inputs_area.on{display:block;}
.view_order_goods dl dd .option_input .option_inputs_area > *{margin-top:6px;}
.view_order_goods dl dd .option_input .option_inputs_area > *:first-child{margin-top:0;}
.view_order_goods dl dd .option_input > .btn_area{text-align:right;}
.view_order_goods dl dd .option_input > .btn_area a{font-size:13px; letter-spacing:-0.58px; color:#333; margin:8px 0 0 auto; display:inline-block; background:url('/assets/img/icon/icon-arrow-down.png') right center no-repeat; background-size:10px 6px; padding-right:11px; border-bottom:solid 1px #333;}
.view_order_goods dl dd .option_input > .btn_area a.on{background-image:url('/assets/img/icon/icon-arrow-up.png');}

/* 추가상품 선택 */
.view_order_add_goods {position:relative; margin:15px 0 0 0; padding:5px 0 15px 0; background:#f9f9f9; border-bottom:1px solid #c9c9c9;}
.view_order_add_goods:first-child {border-top:1px solid #c9c9c9;}
.view_order_add_goods dl {}
.view_order_add_goods dl dt {font-size:12px; font-weight:bold; vertical-align:middle;}
.view_order_add_goods dl dt div {display:table-cell; vertical-align:middle;}
.view_order_add_goods dl dt div.addname {padding:0 0 0 5px;}
.view_order_add_goods dl dd {}
.view_order_add_goods dl dd em {font-style:normal;}
.view_order_add_goods dl dd .price_info {display:table; width:100%;}
.view_order_add_goods dl dd .price_info .count {display:table-cell; width:70%;padding:5px 0 0 0; vertical-align:top;}
.view_order_add_goods dl dd .price_info .count button {vertical-align:middle;}
.view_order_add_goods dl dd .price_info .count input[type=number] {width:44px; height:34px; border:1px solid #c9c9c9; font-weight:bold; text-align:center; vertical-align:middle; box-sizing:border-box;}
.view_order_add_goods dl dd .price_info .right {display:table-cell; width:30%; text-align:right; vertical-align:middle;}
.view_order_add_goods dl dd .price_info .right .btn_wrap {padding:5px 0 0 0;}
.view_order_add_goods dl dd .price_info .right .price {padding:5px 0 0 0; font-size:15px; font-weight:bold; text-align:right;}

/* 스크롤 고정 */
.scroll_vertical_fix::-webkit-scrollbar {width:4px;}
.scroll_vertical_fix::-webkit-scrollbar-thumb {width:4px; background-color:#a9a9a9;}
/* 기본 사이즈 */
.option_scroll {overflow-x:hidden; overflow-y:auto; min-height:200px;}
/* 쿠폰 취소 변경 */
.coupon_btn_box button {margin:2px 0 2px 0;}


/*** 배송지 관리 | mypage/layer_shipping_address_regist.html 주문 & 마이페이지 공통 ***/
.layer_shipping_address_regist {}
.layer_shipping_address_regist {position:relative; background:#fff;}
.layer_shipping_address_regist .ly_content {padding:15px 15px 15px 15px; }
.layer_shipping_address_regist .close_btn {position:absolute; top:0; right:0; z-index:100;}
.layer_shipping_address_regist td input[type=text] {width:100%; height:36px; text-indent:10px; border:1px solid #c3c3c3; box-sizing:border-box;}
.layer_shipping_address_regist .zipcode_box .zipcode_top {position:relative; padding-right:70px;}
.layer_shipping_address_regist .zipcode_box .zipcode_top .zipcode_num {}
.layer_shipping_address_regist .zipcode_box .zipcode_top .zipcode_btn_box {position:absolute; top:0; right:0; width:66px;}
.layer_shipping_address_regist .zipcode_box input {margin:0 0 5px 0;}
.layer_shipping_address_regist .inp_chk_box {padding:10px 0 0 0;}
.layer_shipping_address_regist .btn_box {display:table; width:100%; padding:10px 0 0 0;}
.layer_shipping_address_regist .btn_box li {display:table-cell;}
.layer_shipping_address_regist .btn_box li:nth-child(1) {padding:0 2px 0 0;}
.layer_shipping_address_regist .btn_box li:nth-child(2) {padding:0 0 0 2px;}

/* 장바구니 이동 레이어 및 찜리스트 이동 레이어 */
.zidx310 {z-index:310 !important; }
.zidx320 {z-index:320 !important; }
.add_cart_layer, .add_wish_layer {position:fixed; top:50%; left:50%; z-index:311; width:307px; height:218px; margin:-96px 0 0 -153px; }
.add_cart_layer .wrap, .add_wish_layer .wrap {position:relative; height:216px; background:#fff; border:1px solid #323438; }
.add_cart_layer p {margin:30px 0 0; padding:62px 0 0; background:url(/assets/img/icon/icon_mcart.png) no-repeat center top; background-size:50px 42px; color:#000000; font-size:13px; line-height:22px; text-align:center; }
.add_wish_layer p {margin:30px 0 0; padding:62px 0 0; background:url(/assets/img/icon/icon_mwish.png) no-repeat center top; background-size:50px 42px; color:#000000; font-size:13px; line-height:22px; text-align:center; }
.add_cart_layer .btn_box, .add_wish_layer .btn_box {margin:30px 10px 10px 10px; padding:0 !important; }
.add_cart_layer .btn, .add_wish_layer .btn {display:inline-block; width:138px; font-size:12px; overflow:hidden; height:42px; -webkit-box-sizing:border-box; font-weight:bold; font-style:normal; text-align:center; vertical-align:middle; line-height:36px; background:#323438; color:#ffffff; border:1px solid #323438; }
.add_cart_layer .btn_close, .add_wish_layer .btn_close {color:#323438; background:#fff; margin-right:4px; }

/*** 미확인 입금자 리스트 (PC 동일 적용) | service/ghost_depositor.php ***/
.m_ghost_depositor.pc .close_btn {position:absolute; top:0; right:0; z-index:100; display:none;}
.ly_pop .m_ghost_depositor.pc .close_btn {display:block;}
.m_ghost_depositor.pc .lys_close_btn{background:url('/assets/img/icon/icon_x5.png') no-repeat center; background-size:17px;}
.m_ghost_depositor.pc #ghost_depositor_cont .top_banner img{width:100%;}
.m_ghost_depositor.pc .datepicker_area{margin-top:10px; position:relative; z-index:1;}
.m_ghost_depositor.pc .datepicker_area > div:first-child{padding:0 15px;}
.m_ghost_depositor.pc .datepicker_area > div:first-child:after{content:''; display:block; clear:both;}
.m_ghost_depositor.pc .datepicker_area > div:first-child > div{float:right; width:48%;}
.m_ghost_depositor.pc .datepicker_area > div:first-child > div:first-child{float:left;}
.m_ghost_depositor.pc .datepicker_area > div:first-child > div strong{font-size:13px; color:#666666; display:block; margin-bottom:13px;}
.m_ghost_depositor.pc .datepicker_area > div:first-child > div input{width:100%; height:38px; border:1px solid #dbdbdb; color:#333333; text-indent:10px; box-sizing:border-box;}
.m_ghost_depositor.pc .datepicker_area > div:first-child > div:first-child input{background: url('/assets/img/icon/icon_calendar.png') no-repeat right center; background-size:36px auto;}
.m_ghost_depositor.pc .datepicker_area > .piker_search_btn{margin:10px 0 0; text-align:center;}
.m_ghost_depositor.pc .datepicker_area > .piker_search_btn button{font-size:14px; font-weight:bold; color:#fff; width:120px; height:39px; border:none; position:relative; top:0; right:0; display:inline;}
.m_ghost_depositor.pc .ghost_depositor_table{margin-top:15px;}
.m_ghost_depositor.pc .ghost_depositor_table table{text-align:center; width:100%; table-layout:fixed;}
.m_ghost_depositor.pc .ghost_depositor_table table th{padding:8px 7px;}
.m_ghost_depositor.pc .ghost_depositor_table table th{font-size:12px; font-weight:bold; color:#808080; background:#fafafa; border-bottom:1px solid #f0f0f0; border-top:1px solid #e0e0e0;}
.m_ghost_depositor.pc .ghost_depositor_table table td{padding:10px 7px; word-break:break-all;}
.m_ghost_depositor.pc .ghost_depositor_more_btn{margin:10px 0 30px; padding:0 15px;}
.m_ghost_depositor.pc .ghost_depositor_more_btn .more_btn{font-size:14px; font-weight:bold; color:#666666; background:#f0f0f0; border-color:#e0e0e0;}
.m_ghost_depositor.pc .ghost_depositor_no_list{background:url('/assets/img/icon/icon_ex.png') center 80px no-repeat; background-size:80px; padding-top:185px;}
.m_ghost_depositor.pc .ghost_depositor_no_list p{font-size:15px; font-weight:bold; color:#666666; text-align:center;}

/*** 미확인 입금자 리스트 (모바일 별도 적용) | service/ghost_depositor.php ***/
.m_ghost_depositor.mobile .ly_head{background:#54688f; border-bottom:#54688f 1px solid;}
.m_ghost_depositor.mobile .ly_head .h_tit{font-size:15px; font-weight:bold; color:#ffffff; line-height:42px;}
.m_ghost_depositor.mobile .close_btn {position:absolute; top:0; right:0; z-index:100; display:none;}
.ly_pop .m_ghost_depositor.mobile .close_btn {display:block;}
.m_ghost_depositor.mobile .lys_close_btn{background:url('/assets/img/icon/icon_x6.png') no-repeat center; background-size:17px;}
.m_ghost_depositor.mobile .datepicker_area{padding:15px 0 0; background:#54688f; position:relative; z-index:1;}
.m_ghost_depositor.mobile .datepicker_area > div:first-child{padding:0 21px;}
.m_ghost_depositor.mobile .datepicker_area > div:first-child > div{margin-top:9px;}
.m_ghost_depositor.mobile .datepicker_area > div:first-child > div:first-child{margin-top:0;}
.m_ghost_depositor.mobile .datepicker_area > div:first-child > div input{font-size:14px; color:#333333; width:100%; height:38px; border:1px solid #dbdbdb; color:#333333; text-indent:10px; background-color:#ffffff; border-radius:5px; box-sizing:border-box;}
.m_ghost_depositor.mobile .datepicker_area > div:first-child > div:first-child input{background-image:url('/assets/img/icon/icon_calendar.png'); background-repeat:no-repeat; background-position:right center; background-size:36px auto;}
.m_ghost_depositor.mobile .datepicker_area > div:first-child > div input::placeholder{color:#888888;}
.m_ghost_depositor.mobile .datepicker_area > div:first-child > div:first-child input[type="date"]:not(.has-value):before{content: attr(placeholder); color:#888888;}
.m_ghost_depositor.mobile .datepicker_area > .piker_search_btn{margin:15px 0 0; text-align:center;}
.m_ghost_depositor.mobile .datepicker_area > .piker_search_btn button{font-size:15px; font-weight:bold; color:#fff; width:100%; height:45px; border:none; position:relative; top:0; right:0; display:inline; background:#39476b;}
.m_ghost_depositor.mobile .datepicker_area > .txt_infor{padding:12px 21px; background:#f9f9f9; border-bottom:#f0f0f0 1px solid; text-align:center;}
.m_ghost_depositor.mobile .ghost_depositor_li li{border-bottom:#f0f0f0 1px solid; padding:19px 30px;}
.m_ghost_depositor.mobile .ghost_depositor_li li > div{margin-top:7px;}
.m_ghost_depositor.mobile .ghost_depositor_li li > div:first-child{margin-top:0;}
.m_ghost_depositor.mobile .ghost_depositor_li li > div:after{content:''; display:block; clear:both;}
.m_ghost_depositor.mobile .ghost_depositor_li li > div > p{font-size:12px; color:#333333; float:right; width:50%; text-align:right; line-height:1.3em; word-break:break-all;}
.m_ghost_depositor.mobile .ghost_depositor_li li > div > p:first-child{float:left; width:40%; text-align:left;}
.m_ghost_depositor.mobile .ghost_depositor_li li > div:first-child > p{font-size:16px; font-weight:bold; color:#54688f;}
.m_ghost_depositor.mobile .ghost_depositor_li li > div:first-child > p:first-child{color:#333333;}
.m_ghost_depositor.mobile .ghost_depositor_more_btn{margin:10px 0 30px; padding:0 15px;}
.m_ghost_depositor.mobile .ghost_depositor_more_btn .more_btn{font-size:14px; font-weight:bold; color:#666666; background:#f0f0f0; border-color:#e0e0e0;}
.m_ghost_depositor.mobile .ghost_depositor_no_list{background:url('/assets/img/icon/icon_ex.png') center 80px no-repeat; background-size:80px; padding-top:185px;}
.m_ghost_depositor.mobile .ghost_depositor_no_list p{font-size:15px; font-weight:bold; color:#666666; text-align:center;}

/*** 미확인 입금자 배너 이미지 ***/
.btn_ghost_depositor{display:block;}
.btn_ghost_depositor img{width:100%;}
.btn_ghost_depositor.type_pc{width:192px; margin:0 auto;}

/*** 주문취소 사유 레이어 ***/
.layer_wrap{position:fixed; width:100%; height:100%; top:0; left:0; background:rgba(0,0,0,.8); z-index:500;}
.layer_cont{width:306px; position:absolute; top:0; left:50%; margin:0 0 0 -153px; background:#fff; padding-bottom:9px;}
.layer_cont .tit h4{font-size:14px; font-weight:bold; color:#333333; text-align:center; line-height:40px; border-bottom:#e0e0e0 1px solid;}
.refund_detail_infor{background:#fafafa; padding:11px 15px; color:#333333; border-bottom:#f0f0f0 1px solid;}
.refund_detail_infor li:after{content:''; display:block; clear:both;}
.refund_detail_infor li > *{display:block; float:left;}
.refund_detail_infor li > strong{margin-right:4px;}
.refund_detail_infor li.gods_tit{max-height:36px; overflow:hidden;}
.refund_detail_infor li.gods_tit > strong{width:63px; margin-right:0;}
.refund_detail_infor li.gods_tit > span{width:210px;}
.refund_detail_txt{padding:12px 12px 0; overflow-y:auto; height:164px; }
.layer_cont .bot_btn{margin:20px 3.5% 0; width:93%;}
.layer_cont .bot_btn button{font-size:12px;}

/** 조건별 배송비 테이블 **/
.ly_dev_wrap .ly_btn_wrap{ padding:0 10px 0 10px;}
.ly_dev_wrap .ly_btn{display:table;margin:30px 0 0 0;border-collapse: collapse;width:100%;}
.ly_dev_wrap .ly_btn:first-child{margin:10px 0 0 0;}
.ly_dev_wrap .ly_btn .row{display:table-row;}
.ly_dev_wrap .ly_btn a{display: table-cell;width:50%;font-size:12px; color:#333; text-align:center;vertical-align:middle;border:1px solid #e7e7e7;box-sizing:border-box;padding:9px 10px 9px 10px;background-color:#f2f2f2;}
.ly_dev_wrap .ly_btn.three a{width:33.3px;}
.ly_dev_wrap .ly_btn a.on{position:relative;color:#fff;background-color:#2a2a2a;border:1px solid #2a2a2a;}
.ly_dev_wrap .tbl2 table{border-left:0; border-right:0;border-top:0;}
.ly_dev_wrap .tbl2 td{font-weight:normal;color:#222;padding:6px 10px 6px;}
.ly_dev_wrap .tbl2 tr:first-child td{border-top:0;}

/* 비회원 주문불가 안내 */
.cert_warning{width:100%;letter-spacing:-0.5px;padding:20px 30px 40px 30px; -webkit-box-sizing:border-box; box-sizing:border-box;}
.cert_warning .cert_warning_wrap{ padding:105px 0 0 0;  background:url('/assets/img/intro/blackout.png') no-repeat center top; background-size:95px auto;text-align:center;box-sizing:border-box;text-align:center;margin:15px 0 0 0;}
.cert_warning .cert_warning_wrap strong{font-size:13px;color:#333;}
.cert_warning .cert_warning_wrap p{display:block;font-size:12px;color:#333;padding:15px 15px 15px 15px;margin:20px 0 0 0;text-align:center;background-color:#f9f9f9;}
.cert_warning .cert_warning_wrap p span{display:block;}
.cert_warning .cert_warning_wrap p a{text-decoration:underline;font-weight:bold;}
.cert_warning .cert_warning_wrap > a{margin:30px 0 0 0;}

/* 14세 이상 동의 추가 */
.cert{background-color: #f9f9f9;border-top:1px solid #e8e8e8;text-align:center;overflow: hidden;}
.cert p{font-size:13px; color:#5e5e5e;margin:15px 0 13px 0;}
.cert .cert_btn{padding:0 10px 20px 10px;}
.cert .cert_btn ul{display:table; width:100%;}
.cert .cert_btn ul li{display:table-cell; padding:0 5px 0 5px;}
.cert .cert_btn ul li a{font-size:12px;padding: 7px 0 7px 0;}

.layer_slide_cont{height:100%;}
.layer_slide_cont > div{height:100%}
.layer_slide{height:100%;}
.layer_slide .ly_ct{height:calc(100% - 43px) !important;}

.layer_img_slide{position:relative; top:50%; transform:translateY(-50%) !important;}
.layer_img_slide > div {width: 100%;}
.layer_img_slide .slider-wrap .slick-slide{text-align:center;}
.layer_img_slide > div img,
.layer_img_slide .slick-slide img {max-width: 100%; display:inline-block;}
.layer_img_slide .slick-prev,
.layer_img_slide .slick-next {font-size: 0; line-height: 0; position: absolute; top: 50%; display: block; width: 25px; height: 48px; padding: 0; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); cursor: pointer; z-index:10; border:none; background:none;}
.layer_img_slide .slick-prev {background:#fff url("../../img/icon/icon-arrow-big-right-on.png") center center no-repeat; background-size:10px 16px; left: 0px;}
.layer_img_slide .slick-prev.slick-disabled{background-image:url('/assets/img/icon/icon-arrow-big-right-dim.png')}
.layer_img_slide .slick-next {background:#fff url("../../img/icon/icon-arrow-big-left-on.png") center center no-repeat; background-size:10px 16px; right: 0px;}
.layer_img_slide .slick-next.slick-disabled{background-image:url('/assets/img/icon/icon-arrow-big-left-dim.png')}
.layer_img_slide .slick-slide .txt_option{font-size:17px; line-height:1.28; letter-spacing:-1px; color:#333; text-align:center; margin-top:24px;}
.layer_slide .close_btn {position:absolute; top:0; right:0; z-index:100; display:none;}

.layer_simple_join {position:relative; background:#fff;}
.layer_simple_join .ly_head{text-align:left; padding:0 20px;}
.layer_simple_join .close_btn {position:absolute; top:0; right:0; z-index:100;}
.layer_simple_join .ly_content{padding: 20px 20px 25px;}
.layer_simple_join .join_form_top_txt{font-size:12px; letter-spacing:-0.5px; color:#333; line-height:normal;}
.layer_simple_join .join_form_box{margin-top:25px;}
.layer_simple_join .join_form_box table{border-collapse:collapse; table-layout:fixed; width:100%;}
.layer_simple_join .join_form_box table th,
.layer_simple_join .join_form_box table td{font-size:12px; color:#333; text-align:left; letter-sapcing:-0.3px; line-height:normal; border:solid 1px #d8d8d8; padding:12px 14px;}
.layer_simple_join .join_form_box table th{background:#fbfbfb;}
.layer_simple_join .join_form_box > div{font-size:13px; font-weight:bold; text-align:center; color:#3a3a3a; padding:57px 20px 56px; background:#f8f8f8;}
.layer_simple_join .bot_btn{border-top:solid 1px #ebebeb; margin-top:25px; padding-top:25px; text-align:center;}
.layer_simple_join .bot_btn a{font-size:14px; font-weight:bold; letter-spacing:-0.35px; color:#fff; display:inline-block; background:#454545; padding:11px 20px;}
.terms_wrap{margin-top:23px;}
.terms_wrap > div{margin-top:15px;}
.terms_wrap > div:first-child{margin-top:0;}
.join_form_agree_txt{font-size:12px; letter-spacing:-0.3px; color:#3a3a3a; line-height:1.5; text-align:center; margin-top:25px;}
.join_form_agree_txt > a{ text-decoration:underline; cursor:pointer;}


.post-search {font-family: "Apple SD Gothic Neo", "Nanum Gothic", sans-serif; font-size: 13px; background-color:#f0f0f0;}
.post-search, .post-search div, .post-search span, .post-search form, .post-search input, .post-search img, .post-search button {margin: 0; padding: 0; vertical-align: middle;}
.post-search h1 {height: 50px; margin: 0; color: #fff; font-weight: bold; font-size: 18px; background-color: #393b3f;}
.post-search .title {padding: 13px 0px 13px 0; width: 100%;text-align: center;}
.post-search .title-close {position: absolute;right: 20px;top: 16px;width: 18px;height: 18px;cursor: pointer;background: url('../../img/icon/icon_x6.png') no-repeat left top;text-indent: -100px;overflow: hidden;background-size:cover;}
.post-search #search-form {position: relative;clear: both ; padding: 30px 20px 0px 20px;}
.post-search .address_search_name {width: 100%; height: 46px;font-size: 16px;color:#333;border: 1px solid #fa2828 ; outline: none;padding:0 85px 0 15px;box-sizing: border-box;background-color: #fff!important;-webkit-appearance: none;-webkit-border-radius: 0;}
.post-search .address_search_name::-webkit-input-placeholder{font-size: 13px;letter-spacing: -0.5px;color: #b0b0b0;}
.post-search .address_search_name:-moz-placeholder{font-size: 13px;letter-spacing: -0.5px;color: #b0b0b0;}
.post-search .address_search_name::-moz-placeholder{font-size: 13px;letter-spacing: -0.5px;color: #b0b0b0;}
.post-search .address_search_name:-ms-input-placeholder{font-size: 13px;letter-spacing: -0.5px;color: #b0b0b0;}
.post-search input.button {position: absolute;right:20px;top:30px;font-size: 16px; font-weight: bold; border: none; background-color: #fa2828; color: #fff; text-align: center; width: 70px; height: 46px; line-height:44px; cursor: pointer;-webkit-appearance: none;-webkit-border-radius: 0;}

/* 우편번호 첫화면 */
.post-search .post-search-tip {margin: 20px 20px 0px 20px;padding: 35px 20px 30px 20px;background-color: #fff;letter-spacing: -0.5px;}
.post-search h2 {font-size: 18px; color: #fa2828;margin: 0;letter-spacing: 0;}
.post-search p {font-size: 14px; color: #8a8a8a;margin: 5px 0 24px 0;}
.post-search .post-search-tip dl{margin:13px 0 0 0; }
.post-search .post-search-tip dl dt {padding: 7px 0px 7px 0px;font-size: 15px;color: #222;font-weight: bold;background: url('/admin/gd_share/img/share/icon_dot.png') no-repeat left 8px;padding: 0 0 0 12px;}
.post-search .post-search-tip dl dd {padding: 7px 0px 7px 12px;font-size: 14px;color: #666;margin: 0;}

/* 검색결과가 많습니다. */
.post-search .search-over {padding: 15px 20px 0px 20px; letter-spacing: -0.5px; display:none;}
.post-search .search-over span{font-size: 14px; color: #7a7a7a;}
.post-search .search-over span.ex{color:#4889f4;}

/* 검색결과가 없습니다. */
.post-search .search-empty {padding: 15px 20px 0px 20px;letter-spacing: -0.5px; display:none;}
.post-search .search-empty strong{font-size: 14px;color:#5a5a5a;}
.post-search .search-empty p{font-size: 14px; color: #939393;margin: 5px 0 0 0;}
.post-search .search-empty .box{background-color: #fff;padding: 35px 20px 30px 20px;margin: 37px 0 0 0;}
.post-search .search-empty .box ul{margin: 0;padding: 0;}
.post-search .search-empty .box ul li{list-style: none;font-size: 14px; color: #666;margin: 17px 0 0 0;background: url('/admin/gd_share/img/share/icon_dot_small.png') no-repeat left 11px;padding: 0 0 0 10px;line-height: 1.8em;}
.post-search .search-empty .box ul li a{color: #3051f6;text-decoration: underline;}

/* 검색결과 */
.post-search .search-result{padding: 15px 20px 0px 20px;margin: 10px 0 20px 0;}
.post-search .search-result ul{padding: 0;margin: 0;}
.post-search .search-result ul li{position:relative;list-style: none;background: #fff;padding: 16px 85px 16px 14px;border-bottom: 1px solid #ececec;}
.post-search .search-result ul li:hover{background-color: #f9f9f9;}
.post-search .search-result ul li dl{min-height: 17px;overflow: hidden;margin: 5px 0 4px 0;}
.post-search .search-result ul li dl:first-child{margin: 4px 0 4px 0;}
.post-search .search-result ul li dl dt{float: left;font-size: 1px;}
.post-search .search-result ul li dl dt span{display: inline-block;width: 35px; height: 12px;line-height: 12px;padding: 2px 0 2px 0;font-size: 10px;color: #fff;background-color: #babcc2;text-align: center;}
.post-search .search-result ul li dl dd{font-size: 12px;color: #848484;cursor: pointer;}
.post-search .search-result ul li dl dd:hover{color:#117ef9 !important;}
.post-search .search-result ul li dl:first-child dd{color: #222;}
.post-search .search-result ul li > span{position: absolute;right:27px;top: 50%;margin: -10px 0 0 0;font-size: 13px;color: #222;}
/* 페이징 */
.post-search .pagination_wrap{text-align: center;}
.post-search .pagination {display: inline-block;
    padding-left: 0;
    margin: 0 0 20px;
    border-radius: 0;
}

.post-search .pagination > li {
    display: inline;
}

.post-search .pagination > li.front-page a{overflow: hidden;text-indent: -100px;width: 6px;}
.post-search .pagination > li.front-page.front-page-first a{background:#fff url("/admin/gd_share/img/share/icon_arrow_page_ll.png") no-repeat center center;}
.post-search .pagination > li.front-page.front-page-prev a{background:#fff url("/admin/gd_share/img/share/icon_arrow_page_l.png") no-repeat center center;}
.post-search .pagination > li.front-page.front-page-next a{background:#fff url("/admin/gd_share/img/share/icon_arrow_page_r.png") no-repeat center center;}
.post-search .pagination > li.front-page.front-page-last a{background:#fff url("/admin/gd_share/img/share/icon_arrow_page_rr.png") no-repeat center center;}

.post-search .pagination > li a img{
    vertical-align: middle;
}

.post-search .pagination > li > a,
.post-search .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #666666;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    margin-left: 4px;
}

.post-search .pagination > li:first-child > a,
.post-search .pagination > li:first-child > span {
    margin-left: 0;
    border-radius: 0;
}

.post-search .pagination > li:last-child > a,
.post-search .pagination > li:last-child > span {
    border-radius: 0;
}

.post-search .pagination > li > a:hover,
.post-search .pagination > li > span:hover,
.post-search .pagination > li > a:focus,
.post-search .pagination > li > span:focus {
    z-index: 3;
    color: #23527C;
    background-color: #FFFFFF;
    border-color: #666666;
}

.post-search .pagination > .active > a,
.post-search .pagination > .active > span,
.post-search .pagination > .active > a:hover,
.post-search .pagination > .active > span:hover,
.post-search .pagination > .active > a:focus,
.post-search .pagination > .active > span:focus {
    z-index: 2;
    color: #FFFFFF;
    background-color: #666666;
    border-color: #666666;
    cursor: default;
    font-weight: bolder;
}

.post-search .pagination > .disabled > span,
.post-search .pagination > .disabled > span:hover,
.post-search .pagination > .disabled > span:focus,
.post-search .pagination > .disabled > a,
.post-search .pagination > .disabled > a:hover,
.post-search .pagination > .disabled > a:focus {
    color: #777777;
    background-color: #FFFFFF;
    border-color: #DDDDDD;
    cursor: not-allowed;
}

.post-search .pagination-lg > li > a,
.post-search .pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 15px;
    line-height: 1.3333333;
}

.post-search .pagination-lg > li:first-child > a,
.post-search .pagination-lg > li:first-child > span {
    border-radius: 0;
}

.post-search .pagination-lg > li:last-child > a,
.post-search .pagination-lg > li:last-child > span {
    border-radius: 0;
}

.post-search .pagination-sm > li > a,
.post-search .pagination-sm > li > span {
    height: 16px;
    padding: 5px 10px;
    font-size: 11px;
    line-height: 1.5;
}

.post-search .pagination-sm > li:first-child > a,
.post-search .pagination-sm > li:first-child > span {
    border-radius: 0;
}

.post-search .pagination-sm > li:last-child > a,
.post-search .pagination-sm > li:last-child > span {
    border-radius: 0;
}

.post-search .pagination .img-page-arrow{
    padding: 4px 5px 4px 2px;
}
.post-search .page {padding-top:20px !important; text-align:center;}

/* fe custom */
.address_popup_container {
    display: flex;
    flex-direction: column;
}

.address_popup_container .post-search {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.address_popup_container .post-search .search-wrapper {
    overflow: scroll;
    padding: 0;
    margin: 15px 20px 110px;
}

.address_popup_container .post-search .search-wrapper .more_btn {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color: #fa2828;
    color: #fff;
    text-align: center;
    height: 46px;
    line-height: 44px;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}


/* ------ 공통의 메세지 레이어 팝업 -------  hslee*/
/* 센터정렬 레이어 */
.layer_wrap{overflow-y:auto; position:fixed; top:0; left:0; width:100%; height:100%; z-index:210;}
.layer_wrap .box{background:#fff; border:1px solid #d4d4d4;}
.layer_wrap .box .view{position:relative; margin:14px 20px 40px;}
.layer_wrap .box .view h2{padding:0 0 13px; border-bottom:1px solid #999999; color:#000; font-size:18px;}
.layer_wrap .box .view h2.none-bd{border:none;}
.layer_wrap .box .view h2 span{font-size:13px; color:#333; letter-spacing: -0.3px; font-weight:normal; margin-left:10px;}
.layer_wrap .box .view .tit{overflow:hidden; padding:20px 10px 10px;}
.layer_wrap .box .view .tit h3{float:left; padding:6px 0 0;}
.layer_wrap .box .view .tit .skinbtn{float:right;}
.layer_wrap .box .view .ly_wrap{text-align:center}
.layer_wrap .box .view .btn_pg_box{margin-top: 33px;display: inline-flex;}
.layer_wrap .box .view .btn_pg_box:after{content:''; display:block; clear:both;}
.layer_wrap .box .view .btn_pg_box li{ box-sizing: border-box; margin:0 7px;}
.layer_wrap .box .view .table1{padding:0 10px;}
.layer_wrap .box .view > .btn,
.layer_wrap .box .view > form > .btn{padding:30px 0 0; font-size:0; text-align:center;}
.layer_wrap .box .view > .btn.top_line,
.layer_wrap .box .view > form > .btn.top_line{margin:20px 0 0; border-top:1px solid #e6e6e6;}
.layer_wrap .box .view .close{display:block; position:absolute; top:6px; right:0; width:18px; height:18px; text-indent:-9999px; background:url('/assets/img/btn/layer-close.png') no-repeat left top;}
.layer_wrap .box .layer_cart_btn{padding-left:10px;}

/* hslee 팝업 중앙정렬을 위해 추가 */
.layer_wrap{text-align: center;}
.common_popup_body {
    min-height:125px;
    display: block;
    box-sizing: border-box;
    background: #fff;
    position: relative;
    top: auto;
    left: auto;
    margin: 10px;
}
.common_popup_body p{margin:30px 0 0; color:#222; font-size:14px; line-height:22px; /*text-align:center;*/}
.common_popup_body p.cart{padding:80px 0 0;background:url('/assets/img/common/layer/add_cart_success.png') no-repeat center top;}
.common_popup_body p.wish{padding:80px 0 0;background:url('/assets/img/common/layer/add_wish_success.png') no-repeat center top;}
.common_popup_body p.fail{padding:80px 0 0;background:url('/assets/img/common/layer/add_cart_fail.png') no-repeat center top;}
.common_popup_body .btn_box{padding:20px 0 0 0; text-align:center;}
.common_popup_body .btn_cancel {min-width:74px; padding:10px 10px 9px 10px; border:1px solid #3d3d3d; color:#3e3d3c; background:#ffffff; font-weight:bold;}
.common_popup_body .btn_cancel:hover{border:1px solid #3d3d3d; color:#3d3d3d;}
.common_popup_body .btn_confirm{min-width:74px; padding:10px 10px 9px 10px; margin:0 0 0 6px; border:1px solid #3d3d3d; color:#ffffff; background:#3d3d3d; font-weight:bold;margin-top:5px;}
.common_popup_body .btn_confirm:hover{border:1px solid #3d3d3d; background:#3d3d3d;}
.common_popup_body .inputbox{text-align: center;margin-top:5px;}

/* 딤 레이어 */
.layer_wrap .layer_wrap_cont{position:relative; border:2px solid #555555; background:#ffffff;}
.layer_wrap .ly_tit{padding:13px 15px 11px 15px;}
.layer_wrap .ly_tit h2{padding:0 30px 15px 0; font-size:18px; border-bottom:1px solid #717171;}
.layer_wrap .ly_tit h4{padding:0 30px 15px 0; font-size:18px; border-bottom:1px solid #999999; text-align:left;}
.layer_wrap .ly_tit h4 span{padding:0 0 0 5px; color:#777777; font-size:12px; font-weight:normal;}
.layer_wrap .ly_tit h4 strong{color:#323437;}
.layer_wrap .ly_cont{min-height:250px; padding:15px 15px 26px 15px;}
.layer_wrap .scroll_box{overflow-x:hidden; overflow-y:auto;max-height: 600px;}
.layer_wrap .scroll_box.bot-bor{border-bottom:1px solid #2d2d2d;}
.layer_wrap .ly_close{display:block; position:absolute; top:0px; right:0px; padding:20px;}

.popup-open {
    overflow: hidden;
}

/* text */
.ellipsis2{overflow: hidden;text-overflow: ellipsis;display: -webkit-box !important;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-break: break-word;}


/*캡챠*/
.captcha{padding:10px 0 10px 0;}
.captcha_img{display:inline-block;  border:1px solid #d6d6d6; text-align:center; vertical-align:middle;}
.captcha_reset{display:inline-block; background: #fff; padding: 10px 22px;margin-left: 10px}
.captcha_txt{margin-top:10px;}
.captcha_txt input{width:100%;text-index:10px; border: 1px solid #c3c3c3;}

/*badge*/
.badge {
	display: inline-block;
	padding: 0 3px;
	font-size: 8px;
	font-weight: lighter;
	color: white;
}
.badge.new {
	background-color: darkgrey;
}
.badge.hot {
	background-color: #666;
}

/* footer */
.payment_toss {
	display: inline-flex;
	background-color: white;
}
.payment_toss .bar {
	padding: 0 5px;
}
.payment_toss .bar:after{
	content: '|';
	color: #cecccc;
	top: 50%;
	padding: 0;
	font-size: 18px;
}
