<!--
  ~  © 2021. NHN Commerce Corp. All rights reserved.
  ~  NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  ~
  ~  @author hyeyeon-park
  ~  @since 2021.6.29
  -->

<div id="footer_wrap" class="dk-footer-wrap invisible">
    <div class="content_info_wrap">
        <div class="content_info">
            {{#with top}}
            <div class="ft_top_con">
                <div class="dk-footer-logo">
                    <span><img src="/_dbook/img/footer_logo.png" alt=""></span>
                </div>
                <div class="ft_slide">
                    <div class="cs_center">
                        <h3>고객센터</h3>
                        {{#if mall.serviceCenter}}
                        <p><strpng>{{mall.serviceCenter.phoneNo}}</strpng></p>
                        {{/if}}
                        <p>
                            평일 : 10:00~18:00  점심시간 : 12:30 ~ 13:30<br/>
                            토요일,일요일,공휴일 휴무입니다.
                        </p>
                    </div>
                </div>
            </div>
            {{/with}}
        </div>
        <!-- //content_info -->

        <div class="footer_content">
            <div>
                {{#with bottom}}
                <div class="ft_info2_box">
                    <div class="foot_cont">
                        {{#with business}}
                        <div class="ft_address">
                            대표 : {{serviceBasicInfo.representativeName}} <br />
                            {{serviceBasicInfo.companyName}} {{serviceBasicInfo.address}} {{serviceBasicInfo.addressDetail}} <br />
                            사업자등록번호 : {{businessRegistration.no}}
                            <a href="{{businessRegistration.url}}" class="btn_licensee_info" target="_blank">사업자번호조회</a>
                            <br />
                            통신판매업신고번호 : {{serviceBasicInfo.onlineMarketingBusinessDeclarationNo}} <br />
                            개인정보처리책임자 : {{serviceBasicInfo.privacyManagerName}} <br />
                            대표번호 : {{serviceBasicInfo.representPhoneNo}} <br />
                            팩스번호 : {{serviceBasicInfo.faxNo}} <br />
                            메일 :
                            <a href="mailto:{{serviceBasicInfo.representEmail}}" class="btn_email">{{serviceBasicInfo.representEmail}}</a>
                            <br />
                            호스트제공 : 엔에이치엔커머스(주) <br />
                        </div>
                        {{#if since}}
                        <address class="ft_copy">Copyright {{since}} {{companyName}} all rights reserved.</address>
                        {{/if}}
                        <div class="foot_certify">
                            {{#if termsConfig}} {{img termsConfig.fairLogoUrl}} {{/if}} {{#ifEq orderConfig.pgType "INICIS"}} {{{orderConfig.escrow.logo}}}
                            {{/ifEq}} {{#ifEq orderConfig.pgType "TOSS_PAYMENTS"}}
                            <a
                                class="payment_toss"
                                href="https://pgweb.uplus.co.kr/ms/escrow/s_escrowYn.do?mertid={{orderConfig.escrow.escrowInfoKey}}"
                                target="_blank"
                            >
                                <img src="/assets/img/payments/toss.png" alt="토스" />
                                <span class="bar"></span>
                                <img src="/assets/img/payments/escrow.png" alt="에스크로" />
                            </a>
                            {{/ifEq}} {{#ifEq orderConfig.pgType "KCP"}}
                            <a href="https://admin.kcp.co.kr/Modules/escrow/kcp_pop.jsp?site_cd={{orderConfig.escrow.escrowInfoKey}}" target="_blank">
                                <img src="/assets/img/payments/kcp.png" alt="kcp" />
                            </a>
                            {{/ifEq}} {{#if mallSSLSeal}} {{{mallSSLSeal}}} {{/if}}
                        </div>
                        {{/with}}
                    </div>
                    <div class="foot_list">
                        <ul class="ft_menu">
                            <li>
                                <a href="/pages/service/guide.html"><strong>이용안내</strong></a>
                            </li>
                            <li>
                                <a href="/pages/service/privacy-policy.html"><strong>개인정보처리방침</strong></a>
                            </li>
                            <li>
                                <a href="/pages/service/use-terms.html"><strong>이용약관</strong></a>
                            </li>
                            <li>
                                <a href="#none"><strong>제휴문의</strong></a>
                            </li>
                        </ul>
                    </div>
                    <!-- //foot_list -->
                </div>
                {{/with}}
            </div>
        </div>
    </div>
    <!-- //content_info_wrap -->
</div>
<script type="text/javascript" src="/js/components/footer.js"></script>
