@charset "utf-8";
/*───────────────────────────────────────────────────────────

	 공통 (주문/장바구니)

───────────────────────────────────────────────────────────*/
/* 추가상품 */
.add_goods_box {}
.add_goods_box .add_title {font-weight:bold;}
.add_goods_box .add_goods_list {}
.add_goods_box .add_goods_list li {padding:8px 0; border-bottom:1px solid #dfdfdf;}
.add_goods_box .add_goods_list li:last-child {border-bottom:none;}
.add_goods_box .add_goods_list li .add_goods_img {display:table-cell; width:60px;}
.add_goods_box .add_goods_list li .add_goods_img img {width:60px;}
.add_goods_box .add_goods_list li .add_goods_content {display:table-cell; padding:0 0 0 15px; vertical-align:middle;}
.add_goods_box .add_goods_list li .add_goods_content .title {display:block; padding:0 0 3px 0; font-size:12px; color:#5e5e5e;}
.add_goods_box .add_goods_list li .add_goods_content .add_goods_option {color:#a9a9a9;}
.add_goods_box .add_goods_list li .add_goods_content .add_goods_text {display:table; width:100%;}
.add_goods_box .add_goods_list li .add_goods_content .add_goods_text .goods_number {display:block; font-size:11px; color:#9d9d9d;}
.add_goods_box .add_goods_list li .add_goods_content .add_goods_text .goods_number em {font-style:normal;}
.add_goods_box .add_goods_list li .add_goods_content .add_goods_text .goods_price {display:block; font-size:14px; color:#323438;}
.add_goods_box .add_goods_list li .add_goods_content .add_goods_text .goods_price em {font-size:12px; font-weight:bold; font-style:normal;}

/*** 장바구니 | mobile/order/cart.php ***/
.cart {background:#f7f7f7;}
.cart .cart_content_box {background:#fff;}
.cart .cart_content_box .allchk {margin:0; padding:14px 20px; position:relative; background:#f7f7f7;}
.cart .cart_content_box .btn_cart_del{font-size:12px; color:#3d3d3d; letter-spacing:-0.5px; padding:5px 10px 9px 12px; position:absolute; top:7px; right:10px; border:solid 1px #d4d4d4; border-radius:2px; background:#fff;}
.cart .cart_content_box .my_goods {padding:0 20px;}
.cart .cart_content_box .my_goods > li {position:relative; padding:20px 0; background:#fff; border-bottom:solid 1px #e8e8e8;}
/* 상품 버튼 */
.my_goods li .btn_list {position:relative; display:block; padding:0px 0 10px 0; font-size:0;}
.my_goods li .btn_list .coupon_btn {display:inline-block;}
.my_goods li .btn_list .coupon_btn button {display:inline-block; margin:0 5px 0 0; font-size:13px;}
.my_goods li .btn_list .option_btn {display:inline-block;}
.my_goods li .btn_list .option_btn button {display:inline-block; margin:0 5px 0 0; font-size:13px;}
.my_goods li .select_del_box {position:absolute; top:0px; right:0px;}
.my_goods li .select_del_box .btn_cart_del{position:relative; top:auto; right:auto;}
.my_goods li .mid_box {}
.my_goods li .mid_box .left_box {display:table-cell; padding:13px 0 10px 0; font-size:0; vertical-align:top;}
/* 상품정보 */
.cart .cart_content_box .my_goods li .mid_box .right_box {width:100%; padding:0; vertical-align:top;}
.cart .cart_content_box .my_goods li .mid_box .right_box .info {display:table; width:100%; padding:10px 0 0 0;}
.cart .cart_content_box .my_goods li .mid_box .right_box .info > a {display:inline-block; width:100%; margin:0 10px 0 0px;}
.cart .cart_content_box .my_goods li .mid_box .right_box .info .itemhead {display:table-cell; vertical-align:top;}
.cart .cart_content_box .my_goods li .mid_box .right_box .info .itemhead .thmb_box {position:relative; line-height:0; }
.cart .cart_content_box .my_goods li .mid_box .right_box .info .itemhead .thmb_box .thmb {width:90px; height:90px; line-height:0; font-size:0; position:relative;}
.cart .cart_content_box .my_goods li .mid_box .right_box .info .itemhead .thmb_box .thmb img {max-width:100%; max-height:100%; position:absolute; top:50%; left:50%; transform: translate(-50%, -50%);}
.cart .cart_content_box .my_goods li .mid_box .right_box .info .itemhead .thmb_box .timesale_box {position:absolute; bottom:0; left:0; width:100%; padding:10px 0 10px 0; text-align:center; background:rgba(0,0,0,0.5);}
.cart .cart_content_box .my_goods li .mid_box .right_box .info .itemhead .thmb_box .timesale_box img {width:15px; height:15px; vertical-align:-3px;}
.cart .cart_content_box .my_goods li .mid_box .right_box .info .itemhead .thmb_box .timesale_box .timetext {margin:0 0 0 4px; color:#fff; font-size:12px;}
.cart .cart_content_box .my_goods li .mid_box .right_box .info .itembody {display:table-cell; padding:0 0 0 10px; vertical-align:middle;}
.cart .cart_content_box .my_goods li .mid_box .right_box .info .itembody p {font-size:12px; line-height:16px; color:#9d9d9d;}
.cart .cart_content_box .my_goods li .mid_box .right_box .info .itembody p.name {padding:0 0 3px 0; font-weight:bold; color:#333;}
.cart .cart_content_box .my_goods li .mid_box .right_box .info .itembody p.excl {padding: 0 0 3px 0;}
.cart .cart_content_box .my_goods li .mid_box .right_box .info .itembody .prc{display:block; padding:10px 0 0 0; font-size:15px; color:#323438; font-weight:bold;}
.cart .cart_content_box .my_goods li .mid_box .right_box .info .itembody .prc del{font-size:13px; font-weight:normal; letter-spacing:-0.3px; color:#d0d0d0; margin-left:8px;}
/* 아이콘 느낌표 */
.cart .cart_content_box .my_goods li .mid_box .right_box .info .icon_exclamationmark {display:inline-block;background: url('/assets/img/icon/icon_exclamationmark.png') no-repeat 1px 3px;background-size:10px;padding-left: 18px;}
/* 구매 이용 조건 안내 */
.cart .cart_content_box .my_goods li .mid_box .right_box .info .order_possible_list{width:100%;color:#333; min-height:30px; }
.cart .cart_content_box .my_goods li .mid_box .right_box .info .order_possible_list .inner_title {position:relative; width:100%; line-height:22px;}
.cart .cart_content_box .my_goods li .mid_box .right_box .info .order_possible_list .inner_title strong {padding:0 0 0 2px;}
.cart .cart_content_box .my_goods li .mid_box .right_box .info .order_possible_list .inner_title ul {margin:0 0 10px 0;}
.cart .cart_content_box .my_goods li .mid_box .right_box .info .order_possible_list .inner_title ul li {padding:5px 5px 5px 5px; border-bottom:1px solid #f2f3f3; }
.cart .cart_content_box .my_goods li .mid_box .right_box .info .order_possible_list .inner_title ul li.title {margin:10px 0 0 0; font-weight:bold; background:#f2f3f3; }
.cart .cart_content_box .delivery_money{font-size:13px; letter-spacing:-0.5px; line-height:36px; color:#333; text-align:center;}
/* 구매 이용 조건 안내 더보기 버튼 */
.pm_more_btn{position:absolute; top:0; right:0px; width:24px; height:24px; border:none; font-size:0; background:url('/assets/img/icon/icon_box_arrow.gif') no-repeat center; background-size:24px;}
.pm_more_btn.active {background:url('/assets/img/icon/icon_box_arrow_on.gif') no-repeat center; background-size:24px;}

/* 하단 버튼 */
.cart .btn_wish_bx {padding:0;}
.cart .btn_wish_bx ul {display:table; width:100%; padding:0 0 4px 0;}
.cart .btn_wish_bx ul li {display:table-cell; width:50%;}
.cart .btn_wish_bx ul li:nth-child(1) {padding:0 2px 0 0;}
.cart .btn_wish_bx ul li:nth-child(2) {padding:0 0 0 2px;}
.cart .no_data {text-align:center; padding:50px 0;}

/* 추가상품 */
.cart .add_goods_box {width:100%; padding:15px 0 0 0; margin:15px 0 0 0; border-top: 1px solid #cccccc; }

/* 주문정보1 */
.cart .cart_content_box .supplier_total {border-bottom:2px solid #323438; padding:10px;line-height:1.4em; font-size:14px; color:#333; font-weight: normal;}
.cart .cart_content_box .supplier_total .total{font-size:15px; }
/* 주문정보2 */
.cart .my_buy {padding:20px 20px 30px; margin-top:10px; background:#fff;}
.cart .my_buy dl {display:table; width:100%; margin:0 0 15px 0;}
.cart .my_buy dl dt {display:table-cell; width:50%; font-size:13px; color:#9a9a9a;}
.cart .my_buy dl dd {display:table-cell; width:50%; text-align:right; font-size:13px; color:#333333;}
.cart .my_buy dl dd span{font-size:16px; margin-right:1px;}
.cart .my_buy dl.total {padding:15px 0 0 0; border-top:1px solid #2d2d2d; display:block; text-align:right; margin:0;}
.cart .my_buy dl.total dt{color:#333; width:auto; display:inline-block; vertical-align: middle; margin-right:18px;}
.cart .my_buy dl.total dd{color:#323438; font-size:16px; width:auto; display:inline-block; vertical-align: middle;}
.cart .my_buy dl.total dd span{font-size:24px;}
/* 데이터가 없을경우 */
.cart .no_data {padding:170px 0 110px 0;font-size:15px; color:#222222; text-align:center; background:url('/assets/img/icon/icon_ex.png') no-repeat center 70px; background-size:80px;}

/*** 주문서 작성 | order/order.html ***/
.order {margin-top:-1px;}
.order .order_tit {border-top:1px solid #cccccc; background:#f7f7f7; color:#333333; font-size:14px; line-height:48px; padding-left:15px;}
.order .order_tit span {}
.order .order_tit > span img {width:18px; vertical-align:middle;}
.order .order_tit > div img{height:18px;}
.order .pay {}
/* 주문 상품 */
.order .pay .my_goods_box{background:#f7f7f7;}
.order .pay .my_goods {padding:0 20px; background:#fff; margin-top:10px;}
.order .pay .my_goods:first-child{margin-top:0;}
.order .pay .my_goods > li {position:relative;  border-top:solid 1px #e8e8e8;}
.order .pay .my_goods > li:first-child{border-top:none;}
.order .pay .my_goods li .info {display:table; width:100%; padding:20px 0; box-sizing:border-box;}
.order .pay .my_goods li .info > a {display:inline-block; margin:0 10px 0 0px;}
.order .pay .my_goods li .info .select_del_box {position:absolute; top:3px; right:3px;}
.order .pay .my_goods li .info .itemhead {display:table-cell; vertical-align:top;}
.order .pay .my_goods li .info .itemhead .thmb_box {position:relative; line-height:0; }
.order .pay .my_goods li .info .itemhead .thmb_box .thmb {line-height:0; font-size:0; width:90px; height:90px; position:relative;}
.order .pay .my_goods li .info .itemhead .thmb_box .thmb img {max-width:100%; max-height:100%; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);}
.order .pay .my_goods li .info .itemhead .thmb_box .timesale_box {position:absolute; bottom:0; left:0; width:100%; padding:10px 0 10px 0; text-align:center; background:rgba(0,0,0,0.5);}
.order .pay .my_goods li .info .itemhead .thmb_box .timesale_box img {width:15px; height:15px; vertical-align:-3px;}
.order .pay .my_goods li .info .itemhead .thmb_box .timesale_box .timetext {color:#fff; font-size:12px; margin-left:3px;}
.order .pay .my_goods li .info .itembody {display:table-cell; padding:0 0 0 15px; vertical-align:middle;}
.order .pay .my_goods li .info .itembody p {font-size:12px; line-height:16px; color:#9d9d9d;}
.order .pay .my_goods li .info .itembody p.name {padding:0 0 4px 0; font-weight:bold; color:#333; font-size:13px; line-height:1.38; letter-spacing:-0.8px;}
.order .pay .my_goods li .info .itembody p.excl {padding: 0 0 3px 0;}
.order .pay .my_goods li .info .itembody .prc {font-size:13px; font-weight:bold; color:#333; margin-top:8px; }
.order .pay .my_goods li .info .itembody .prc span {font-size:16px; letter-spacing:-0.5px;}
.order .pay .my_goods li .info .itembody .prc del{font-size:13px; font-weight:normal; letter-spacing:-0.3px; color:#d0d0d0; margin-left:8px;}
.order .order_box {padding:0 0 25px 0;}
.order .order_box fieldset {}
.order .order_box fieldset legend {display:none;}
.order .pay .my_goods > li.delivery_money{text-align:right; padding:8px 0 11px;}
.order .pay .my_goods > li.delivery_money p{font-size:13px; letter-spacing:-0.5px; color:#333; position:relative; padding-left:10px; display:inline-block}
.order .pay .my_goods > li.delivery_money p:after{content:''; display:block; position:absolute; top:50%; left:0; margin-top:-2px; width:4px; height:4px; background:#9a9a9a;}
.order .pay  .my_goods_box .delivery_money {font-size: 13px; letter-spacing: -0.5px; line-height: 36px; color: #333; text-align: center; background:#fff; padding:0 20px;}
.order .pay  .my_goods_box .delivery_money p{border-top:solid 1px #e8e8e8;}
/* 수집동의 */
.order .order_box .guest_info {}
.order .order_box .guest_info .g_content {overflow:hidden; overflow-y:scroll; height:120px; margin:10px 0 10px 0; padding:5px 15px 5px 15px;}
.order .order_box .guest_info .inp_chk {padding:10px 15px 0 15px; border-top:1px solid #ccc;}
/* input 박스 */
.order .order_box input:not([type="radio"]):not([type="checkbox"]) {width:100%; height:31px; padding:0 10px 0 10px; font-size:13px; color:#333333; background:#ffffff; border:none; box-sizing:border-box; border: solid 1px #d6d6d6;}
.order .order_box input:not([type="radio"]):not([type="checkbox"])::placeholder{color:#bbb;}
input.text_input {width:100%; height:31px; padding:0 10px 0 10px; font-size:13px; color:#333333; background:#ffffff; border:none; box-sizing:border-box; border: solid 1px #d6d6d6;}
input.text_input::placeholder{color:#bbb;}
.order .order_box .cell_bx{position:relative;}
.order .order_box .cell_bx:after {content:''; display:block; clear:both;}
.order .order_box .cell_bx .cell:first-child {float:left;}
.order .order_box .cell_bx .cell{float:right; width:46%;}
.order .order_box .cell_bx .unit{position:absolute; top:50%; left:50%; transform: translate(-50%, -50%);}
/* 배송지 정보 */
.order .order_box .delivery_box {}
.order .order_box .delivery_box .tab_menu {}
.order .order_box .delivery_box .tab_menu ul {display:table; width:100%;}
.order .order_box .delivery_box .tab_menu ul li {display:table-cell; width:33.3%; border:1px solid #e4e4e4; border-left:none; background:#f7f7f7; vertical-align:middle;}
.order .order_box .delivery_box .tab_menu ul li a {display:block; padding:15px 7px; color:#888; text-align:center;  border-left:none; box-sizing:border-box;}
.order .order_box .delivery_box .tab_menu ul li:first-child{border-left:1px solid #c7c7c7}
.order .order_box .delivery_box .tab_menu ul li.active{background:#fff; border-bottom-color:#fff;}
.order .order_box .delivery_box .tab_menu ul li.active a {color:#333; font-weight:bold;}
.order .order_box .delivery_box .form_element{vertical-align: middle;}
.order .order_box .delivery_box .form_element label{margin-right:10px;}
.order .order_box .delivery_box .btn_gray_list{display: inline-block; vertical-align: middle;}
.order .order_box .delivery_box .btnManageAddress{background:#fff; border:solid 1px #dbdbdb; display:inline-block; line-height: 26px;}
/* 라디오 탭. author : kimjongkeun */
.radio_tab {
    display: flex;
    flex-wrap: wrap;
}
.radio_tab .item {
    flex-grow: 1;
    width: 33%;

    position: relative;
    text-align: center;
    border:1px solid #e4e4e4;
    border-left-width: 0;
    border-bottom-width: 0;

}
.radio_tab .item input[type="radio"]{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    opacity: 0;
    cursor: pointer;
}
.radio_tab .item label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    border-bottom:1px solid #e4e4e4;
    background:#f7f7f7;
    color: #888;
}
/* active style */
.radio_tab .item input:checked + label {
    border-bottom-color: transparent;
    background-color: #fff;
    color: #333;
    font-weight: bold;
}

/* 정보 반영 체크 */
.order .order_box .tab_guest {padding:0 0 10px 0;}
.order .order_box .member_chk_box {padding:13px 20px; font-weight:bold;}
.order .order_box .member_chk_box1 {padding:29px 20px 0; text-align:right;}
.order .order_box .tab_box {display:none;}
.order .order_box .show {display:block;}
.order .order_box #tab1 .table_style4,
.order .order_box #tab2 .table_style4,
.order .order_box #tab3 .table_style4{border-top:none;}
/* 우편번호 */
.order .order_box .zipcode_box .zipcode_top {position:relative; padding-right:70px;}
.order .order_box .zipcode_box .zipcode_top .zipcode_num {}
.order .order_box .zipcode_box .zipcode_top .zipcode_btn_box {position:absolute; top:0; right:0; width:66px;}
.order .order_box .zipcode_box input {margin:0 0 5px 0;}
.order .order_box .delivery_list_add {display:block; width:90%; margin:0 auto; padding:15px 15px 10px 15px;}
.order .order_box .delivery_list_add li {display:inline-block; width:calc(25% - 4px); margin:0px 2px 4px 2px; box-sizing:border-box; font-size:0;}
.order .order_box .delivery_list_add li a {overflow:hidden; white-space:nowrap; word-wrap:normal; text-overflow:ellipsis; font-size:12px;}
.order .order_box .delivery_list .no_shipping {padding-left:20px;}
.order .order_box .member_address .zipcode_box .zipcode_top{padding-right:100px;}
.order .order_box .member_address .zipcode_box .zipcode_top .zipcode_btn_box{width:95px;}
/* 마일리지 & 예치금 */
.order .order_box .table_box {}
.order .order_box .table_box .layer_delivery_tit{padding:20px 20px 0;}
.order .order_box .table_box .layer_delivery_tit + table{border-top:none;}
.order .order_box .table_box_guest {padding-top:10px;}
.order .order_box .table_box .all_money_box {display:table; width:100%;}
.order .order_box .table_box .all_money_box .money_left {display:table-cell; width:53%;}
.order .order_box .table_box .all_money_box .money_right {display:table-cell; padding-left:10px;}
.order .order_box .table_box .point_view {padding:5px 0 0 0; font-size:12px; color:#5e5e5e; line-height:1.4; }
.order .order_box .table_box .point_view p span {color:#323438;}
.order .order_box .table_box .tx {font-weight:bold; color:#323438;}
/* 최종 결제 금액 */
.order .order_box .sum_prc_wrap {text-align:right}
.order .order_box .sum_prc_wrap dl {display:inline-block; margin:0 15px 0 0;}
.order .order_box .sum_prc_wrap dl dt {display:inline-block; font-size:15px; font-weight:bold;}
.order .order_box .sum_prc_wrap dl dd {display:inline-block; margin:0 0 0 10px; font-size:15px; font-weight:bold;}
/* 결제 수단 */
.order .order_box .pay_mth {padding:0 15px 0 15px; display: flex; align-items: center; flex-flow: wrap;}
.order .order_box .pay_mth li {margin-top:0;}
.order .order_box .pay_mth li > .inp_rdo{padding:15px 0 7px 0; align-items: center; display: flex;}
/* 결제 정보 */
.order .order_box .pay_notice {padding:5px 15px 5px 15px;}
.order .order_box .payco_notice {margin:15px 15px 15px 15px; padding:8px 8px 8px 8px; border:1px solid #e1e1e1; color:#535353; font-size:11px; line-height:16px;}
.order .order_box .re_confirm {padding:10px 15px 0 15px; font-weight:bold; color:#333333; font-size:13px;}
/* 결제 하기 */
.order .btn_pay_wrap {padding:5px 15px 15px 15px;}
.order .btn_pay_wrap .caution_msg1 {padding:5px 0 8px 0; text-align:center; font-weight:bold; color:#333333; font-size:13px;}
/* 추가상품 */
.order .add_goods_box {padding:15px 0 0 0; margin:15px 0 0 0; border-top: 1px solid #cccccc;}
/* 주문하기  사은품 */
.order .gift_choice {padding:10px 0 10px 0;}
.order .gift_choice > p { padding:0 10px 0 10px; }
.order .gift_choice > p > span {color:#ff573b;}
.order .gift_choice > ul {margin:-35px 0 0 -10px; padding:10px 10px 10px 10px; font-size:0; box-sizing: border-box;}
.order .gift_choice > ul > li { display:inline-block; height:auto; margin:35px 0 35px 0; padding:0 0 0 10px; width:33.334%; font-size:13px; text-align:center; vertical-align:top; box-sizing: border-box;}
.order .gift_choice > ul > li .inp_chk{display:block; right:initial; top:initial; margin:0;}
.order .gift_choice > ul > li label {display:block }
.order .gift_choice > ul > li img {display:block; max-width:100%; width:auto; height:auto; margin:0 auto; border:1px solid #cccccc; box-sizing:border-box;}
.order .gift_choice > ul > li span {display:block; width:93px; margin: 0 auto; padding:5px 0 5px 0; word-break:keep-all;}
/* 세금계산서 초기화 */
.order .tax_info_init {display:inline-block; width:50px; height:25px; padding:10px 0 10px 0; text-align:center; background:#323438; border:1px solid #323438; color:#ffffff; font-weight:bold; box-sizing:border-box; line-height:7px; margin-top:6px; font-size:12px;}

.pay_mth.block li{float:none; width:auto; }
.pay_mth {overflow:hidden; padding:8px 0 9px 15px}
.pay_mth li {float:left; width:50%; margin-top:8px}
.pay_mth li label{display:inline; font-size:13px; color:#494949; line-height:20px; vertical-align:top;}
.pay_mth li label.payco{display:inline-block; width:88px; height:17px; margin:1px 0 0 7px; background-position:0 -435px; line-height:999px}
.pay_mth_payco {overflow:hidden; padding:10px 30px 20px 30px; }
.pay_mth_payco li {float:left; width:50%; }
.pay_mth_payco li span.payco {padding:5px; }
.pay_mth_payco .payco input {display:none; }

.pay_mth span.line_br{display:inline-block; margin-left:29px;}

/*** PG사 결제 페이지 호출 | order/pg_gate.php ***/
.pg_gate {position:fixed; top:0; left:0; right:0; bottom:0; display:-webkit-box; height:100%; -webkit-box-orient:vertical; -webkit-box-pack:center; z-index:3000; background:rgba(0,0,0,.7); vertical-align:middle; text-align:center}
.pg_gate .pg_buy_info {position:relative; margin:0 10px; background:#ffffff;}
.pg_gate .pg_buy_info .pg_bx {padding:28px 30px 30px 30px; border-top:1px solid #c3c3c3;}
.pg_gate .pg_buy_info .pg_bx .tx {margin:0 0 12px 0; font-size:12px; color:#333;}
.pg_gate .pg_buy_info .pg_bx .tx strong { display:block; margin:0 0 2px 0; font-size:14px; color:#3e3d3c;}
.pg_gate .pg_buy_info .pg_bx .btn_wish_bx {padding:0 10px 10px 10px}
.pg_gate .pg_buy_info .pg_bx .btn_wish_bx .btn_bx {display:block;}
.pg_gate .pg_buy_info .pg_bx .btn_wish_bx .btn_bx li {display:inline-block;}
.pg_gate .pg_buy_info .pg_bx .btn_wish_bx .cart_btn_box {padding:10px 0 0 0;}

/*** 주문완료 | order/order_end.html ***/
.order_end {}
.order_end .order_end_box {position:relative; margin:15px 15px 5px 15px; padding:20px 0 20px 0; background:#f3f3f3; border:1px solid #e1e1e1; border-radius:2px; text-align:center}
.order_end .order_end_box h2 {padding:0 0 10px 0; font-size:13px;color:#333333;}
.order_end .order_end_box h2 strong{font-size:14px}
.order_end .order_end_box .tx {font-size:12px; line-height:16px; color:#5e5e5e;}
.order_end .order_end_box .tx ul {display:inline-block; margin:0 auto;}
.order_end .order_end_box .tx ul li {text-align:left; color:#5e5e5e;}
.order_end .order_end_box .tx ul li .prc {font-size:14px; color:#323438; font-weight:bold;}
.order_end .order_end_box .tx ul li strong {font-size:14px;}
.order_end .tx2 {margin:0 0 11px 0; padding:20px 0 0 0; font-size:12px; text-align:center; line-height:17px; color:#5e5e5e;}
.order_end .tx2 span {display:inline-block; text-align:left}
.order_end .tx2 strong {color:#323438;}
.order_end .btn_pay_wrap {display:table; width:100%; padding:15px 15px 15px 15px; box-sizing:border-box;}
.order_end .btn_pay_wrap li {display:table-cell;}
.order_end .btn_pay_wrap li:first-child {width:50%; padding:0 1px;}
.order_end .btn_pay_wrap li:last-child {padding:0 1px;}
/*** 쿠폰적용 레이어 | order/layer_coupon_apply.html ***/
.layer_coupon_apply {}
.layer_coupon_apply .ly_coupon_list {}
.layer_coupon_apply .ly_coupon_list .ly_coupon_content {}
.layer_coupon_apply .ly_coupon_list .ly_coupon_content dl {display:table; width:100%; padding:20px 0 20px 0; border-bottom:1px solid #cccccc;}
.layer_coupon_apply .ly_coupon_list .ly_coupon_content dl dt {display:table-cell; width:43%; vertical-align:middle; font-weight:bold;}
.layer_coupon_apply .ly_coupon_list .ly_coupon_content dl dd {display:table-cell; width:43%; padding:0 0 0 10px; vertical-align:middle; color:#9d9d9d;}
.layer_coupon_apply .ly_coupon_list .ly_coupon_content dl dd.c_chk {width:14%; text-align:center; vertical-align:middle;}
.layer_coupon_apply .close_btn {position:absolute; top:0; right:0; z-index:100;}
.layer_coupon_apply .btn_box {position:fixed; bottom:0; left:0; width:100%; background:#fff; border-top:1px solid #cccccc;}
.layer_coupon_apply .btn_box span {display:block; padding:10px;}

/*** 주문쿠폰적용 레이어 | order/layer_coupon_apply_order.html ***/
.layer_coupon_apply_order {}
.layer_coupon_apply_order .notice_box {width:100%; padding:20px 0 20px 0; background:#ffffff;}
.layer_coupon_apply_order .notice_box p {font-size:11px; line-height:15px; color:#9d9d9d; text-align:center;}
.layer_coupon_apply_order .ly_content {overflow-y:scroll; height:100%; box-sizing:border-box; -webkit-overflow-scrolling:touch; background:#fff;}
.layer_coupon_apply_order .ly_content .ly_coupon_list {padding:0 0 150px 0;}
.layer_coupon_apply_order .ly_content .ly_coupon_list h2 {padding:10px 10px 10px 10px; border-top:1px solid #ccc; box-sizing:border-box; background:#f2f3f3; color:#333; font-size:14px;}
.layer_coupon_apply_order .ly_content .ly_coupon_list dl {display:table; width:100%; padding:20px 0 20px 0; border-bottom:1px solid #cccccc;}
.layer_coupon_apply_order .ly_content .ly_coupon_list dl dt {display:table-cell; width:43%; vertical-align:middle; font-weight:bold;}
.layer_coupon_apply_order .ly_content .ly_coupon_list dl dd {display:table-cell; width:43%; padding:0 0 0 10px; vertical-align:middle; color:#9d9d9d;}
.layer_coupon_apply_order .ly_content .ly_coupon_list dl dd.c_chk {width:14%; text-align:center; vertical-align:middle; font-size:0;}
.layer_coupon_apply_order .close_btn {position:absolute; top:0; right:0; z-index:100;}
.layer_coupon_apply_order .btn_box {position:fixed; bottom:0; left:0; width:100%; background:#fff; border-top:1px solid #cccccc;}
.layer_coupon_apply_order .btn_box span {display:block; padding:10px;}
.layer_coupon_apply_order .no_data {padding:130px 0 60px 0; font-size:15px; color:#222222; text-align:center; background:url('/assets/img/icon/icon_ex.png') no-repeat center 40px; background-size:80px;}

.pay-benefits span span {display:inline !important;}

.cart_option_modi_area{margin-top:20px;}
.cart_option_modi_top:after{content:''; display:block; clear:both;}
.cart_option_modi_top > *{float:right;}
.cart_option_modi_top > *:first-child{float:left;}
.btn_cart_option_modi{font-size:12px; letter-spacingt:-0.5px; color:#333; line-height:34px; height:34px; border: solid 1px #d4d4d4; background:#fff; padding:0 11px 0 13px; box-sizing:border-box;}
.btn_cart_option_modi.on{border-color:#3d3d3d; color:#fff; background-color: #323438}
.cart_options_area{margin-top:20px; display:block;}
.cart_options_area .inp_sel:nth-child(n+1){margin-top:10px;}
.cart_options_area input[type=text]{width:100%; height:33px; text-indent:10px; border:1px solid #c3c3c3; box-sizing:border-box;}
.cart_options_area input[type=text]::placeholder{color:#9a9a9a;}
.cart_options_area_btn{text-align:center; margin-top:15px;}
.cart_options_area_btn > a{font-size:12px; color:#333; letter-spacing: -0.5px; display:inline-block; width:108px; line-height:40px; text-align:center; box-sizing:border-box;}
.cart_options_area_btn > a.btn_option_cancel{border: solid 1px #3d3d3d;}
.cart_options_area_btn > a.btn_option_comp{color:#fff; background:#3d3d3d; margin-left:6px; border: solid 1px #3d3d3d;}

/* 수량 선택 */
.goods_qty{display:flex; position:relative; text-align: center;}
.goods_qty .text{padding:0 5px; width:52px; outline:none; height:34px; border: none; border-top:1px solid #ccc; border-bottom:1px solid #ccc; background:#fff; color:#3f3f3f; font-size:12px; line-height:34px; text-align:center; box-sizing: border-box;}
.goods_qty .up{background:url('/assets/img/btn/btn_count_up.png') no-repeat left top; background-size:34px 34px; top:0; right:0;}
.goods_qty .down{background:url('/assets/img/btn/btn_count_down.png') no-repeat left top; background-size:34px 34px; top:0; left:0;}
.goods_qty .up:disabled{background:url('/assets/img/btn/btn_count_up_d.png') no-repeat left top; background-size:34px 34px; top:0; right:0;}
.goods_qty .down:disabled{background:url('/assets/img/btn/btn_count_down_d.png') no-repeat left top; background-size:34px 34px; top:0; left:0;}
.goods_qty button{display:block; width:34px; height:34px; text-indent:-9999px; border: none}

.my_delivery_list li{border-bottom:solid 1px #e4e4e4;}
.my_delivery_list li > div{padding:30px 86px 24px 44px; position:relative;}
.my_delivery_list li > div .inp_rdo{position:absolute; top:28px; left:10px;}
.my_delivery_list li > div label p{font-size:14px; color:#313133; letter-spacing:-0.35px; margin-top:10px;}
.my_delivery_list li > div label p.delivery_user{font-weight:bold; margin-top:0;}
.my_delivery_list li > div label p.delivery_user .basics_delivery{font-size:11px; font-weight:normal; letter-spacing:-0.27px; color:#fff; line-height:18px; padding:0 4px; background:#666; display:inline-block; margin-right:10px;}
.my_delivery_list li > div label p.delivery_address{line-height: 1.57; margin-top:2px;}
.my_delivery_list .btn_my_delivery_list{position:absolute; top:50%; right:20px; width:40px; height:58px; margin-top:-29px;}
.my_delivery_list .btn_my_delivery_list a{font-size:11px; letter-spacing:-0.46px; color:#3d3d3d; line-height:26px; text-align:center; margin-top:6px; display:block; border-radius:2px; border:solid 1px #d4d4d4; background-color: #fff;}
.my_delivery_list .btn_my_delivery_list a:first-child{margin-top:0;}
.my_delivery_list .btn_my_delivery_comp{font-size:14px; font-weight:bold; letter-spacing:-0.35px; color:#fff; text-align:center; line-height:42px; background:#454545; display:block; width:165px; margin:20px auto 0;}

.pcc_num{font-size:12px; letter-sapcing:-0.3px; color:#3a3a3a; margin-top:6px;}
.pcc_num > a{color:#fa2828; margin-left:10px;}

.couponList h2{padding:10px 20px; font-size:15px; color:#333;}

.btn_apply_product_coupon.on + .apply_product_coupon_box{display:block;}
.btn_apply_product_coupon.on::after { transform: rotate(180deg); }
.apply_product_coupon_box{display:none;}
.apply_product_coupon > div{display:flex; justify-content: space-between; align-items:center; width:100%; min-height:51px; border-top:solid 1px #d4d4d4; border-bottom:solid 1px #d4d4d4; background:#f8f8f8; padding:0 20px; box-sizing: border-box;}
.apply_product_coupon > div > p{font-size:13px; font-weight:bold; letter-spacing: -0.3px; color:#333; margin:0;}
.apply_product_coupon > div > p span{font-weight:normal;}
.apply_product_coupon > div.apply_product_coupon_title{display:block; padding:5px 20px;}
.apply_product_coupon > div.apply_product_coupon_title p{float: none; width: 100%;}
.apply_product_coupon > ul > li{border-top:solid 1px #ebebeb; padding:16px 0 15px;}
.apply_product_coupon > ul > li:first-child{border-top:none;}
.apply_product_coupon > ul > li > div{padding:0 20px;}
.apply_product_coupon > ul > li > div:after{content:''; display:block; clear:both;}
.apply_product_coupon > ul > li > div > div:first-child{ width:calc(100% - 10px);}
.apply_product_coupon > ul > li > div > div .form_element{max-width:calc(100% - 40px);}
.apply_product_coupon > ul > li > div > div .form_element label{display:inline-block; width:calc(100% - 20px); cursor:pointer;}
.coupon_use_limit{display:inline-block; vertical-align:top; margin-left:5px; position:relative;}
.coupon_use_limit_box{position:absolute; top:26px; left:-180px; width:280px; background:#fff; border:solid 1px #d4d4d4; box-sizing:border-box; z-index:2; display:none;}
.coupon_use_limit > a.on + .coupon_use_limit_box{display:block;}
.coupon_use_limit_box .coupon_use_limit_box_tit{padding:14px 20px; background:#f8f8f8; border-bottom:solid 1px #d4d4d4;}
.coupon_use_limit_box .coupon_use_limit_box_tit p{font-size:15px; line-height:1.33; letter-spacing:-0.28px; color:#3a3a3a; margin:0;}
.coupon_use_limit_box .coupon_use_limit_box_tit .btn_close_coupon_use_limit{position:absolute; top:17px; right:20px;}
.coupon_use_limit_box .coupon_use_limit_box_tit .btn_close_coupon_use_limit img{width:13px;}
.coupon_use_limit_box .coupon_use_limit_box_con{padding:15px 15px 15px 20px;}
.coupon_use_limit_box .coupon_use_limit_box_con li{font-family: 'Noto Sans KR', sans-serif; font-weight:400; font-size:13px; line-height:1.38; letter-spacing:-0.3px; color:#5a5a5a; position:relative; padding-left:7px; margin-top:5px;}
.coupon_use_limit_box .coupon_use_limit_box_con li:after{content:''; position:absolute; top:8px; left:0; width:3px; height:3px; background:#bbb;}
.coupon_use_limit_box .coupon_use_limit_box_con li:first-child{margin-top:0;}
.apply_product_coupon_infor_txt{font-size:12px; color:#f7444e; line-height:1.5; letter-spacing:-0.28px; text-align:right;}
.order_coupon_total_box{margin:30px 0;}
.order_coupon_total_box:after{content:''; display:block; clear:both;}
.order_coupon_total_box > dl{float:left; width:33.3334%; text-align:center; position:relative;}
.order_coupon_total_box > dl:nth-of-type(2):after,
.order_coupon_total_box > dl:nth-of-type(3):after{content:''; position:absolute; top:50%; left:-10px; width:20px; height:20px; margin-top:-10px;}
.order_coupon_total_box > dl:nth-of-type(2):after{background:url('/assets/img/icon/order_price_plus_2.png') left top / 100% no-repeat;}
.order_coupon_total_box > dl:nth-of-type(3):after{background:url('/assets/img/icon/order_price_total_2.png') left top / 100% no-repeat;}
.order_coupon_total_box > dl > *{font-size:15px; font-weight:bold; color:#333; letter-spacing:-0.62px;}
.order_coupon_total_box > dl > dd{font-size:16px; letter-spacing:-0.75px;}
.order_coupon_total_box > dl > dd > strong{font-size:20px; letter-spacing:-1px; margin-right:3px;}
.btn_box .btn_cancel{display:inline-block; width:100%; text-align:center; background:#ffffff; border:1px solid #9f9f9f; color:#494949; font-weight:bold; box-sizing:border-box; font-size:15px;}
.btn_box .btn_confirm{display:inline-block; width:100%; text-align:center; background:#323438; border:1px solid #323438; color:#ffffff; font-weight:bold; box-sizing:border-box; font-size:15px;}
.btn_apply_product_coupon{font-size:16px; font-weight:bold; line-height: 58px; letter-spacing: -0.34px; color: #3a3a3a; display:block; background:#e5e5e5; padding:0 60px 0 20px; position:relative; margin-bottom:10px;}
.btn_apply_product_coupon:after{content:''; position:absolute; top:24px; right:30px; width:18px; height:10px; background:url('/assets/img/icon/btn_order_product_coupon_arrow.png') right top no-repeat;}

.naver_pay {
    background-color: #fff;
    padding: 10px 0;
}

.cart_cont_list .order_tit {
    display: block;
    position: relative;
    width: 100%;
    border-width: 1px 0 0;
    text-align: left;
    font-weight: bold;
}

.cart_cont_list .order_tit::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    width: 18px;
    height: 10px;
    background: url('/assets/img/icon/btn_order_product_coupon_arrow.png') no-repeat left center;
}

.cart_cont_list .order_tit.on::after {
    transform: translateY(-50%) rotate(180deg);
}

.cart_cont_list .order_tit + .cart_cont_list {
    display: none;
}

.cart_cont_list .order_tit.on + .cart_cont_list {
    display: block;
}

/* 환불정보 이미지 */
.claimInfo__btn {
    padding: 0;
    width: 60px;
    height: 60px;
    border: 0;
}

.claimInfo__btn img {
    max-width: 100%;
    pointer-events: none;
}

.claimInfo-callout {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}

.claimInfo-callout__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}
.claimInfo-callout__inner dl, .claimInfo-callout__inner dt, .claimInfo-callout__inner dd{display:inline-block;}
.claimInfo-callout p {
    margin-bottom: 5px;
    font-weight: bold;
}

.claimInfo-callout em {
    font-style: normal;
}

.claimInfo-callout ul {
    margin-bottom: 10px;
}

.claimInfo-callout button {
    padding: 5px 0;
    width: 100%;
    border: 0;
    background-color: #3a3a3a;
    color: #fff;
}
/* 취소 수량선택 */
.order-claim-info__order-cnt {
    display: inline-flex;
}

.cancel-toggle {
    position: relative;

}

.cancel-toggle [type="checkbox"] {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;
}

.cancel-toggle__txt {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 10px;
    margin-right: 10px;
    height: calc(100% - 2px);
    border-radius: 5px;
    border: solid 1px #c9c9c9;
}

.cancel-toggle__txt::before {
    content: '✓';
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.cancel-toggle [type="checkbox"]:checked + .cancel-toggle__txt {
    background-color: rgba(69, 69, 69, .5);
    color: #fff;
}

.order-claim__count {
    position: relative;
    display: inline-flex;
    justify-content: center;
}

.order-claim__count::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .5);
}

.order-claim__count [type="number"] {
    width: 50px;
    border: solid #c9c9c9;
    border-width: 1px 0;
    text-align: center;
}

.order-claim__count [type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.order-claim__count.is-active::before {
    content: none;

}

.ly_pop .btn_box .total_coupon_amount {
    display: inline-block;
    padding: 0;
}
