@charset "utf-8";

/*** 작성 | board/skin/qa/write.html ***/

.write_qa {position:relative;}
.write_qa .write_wrap {}
.write_qa .write_wrap dl {display:table; width:100%; padding:5px 0; border-bottom:1px solid #e1e1e1;}
.write_qa .write_wrap dl dt {display:table-cell; width:90px; vertical-align:middle;}
.write_qa .write_wrap dl dt label {font-size:14px; color:#333333; padding-left:10px; display:inline-block;}
.write_qa .write_wrap dl dd {display:table-cell; height:31px; padding:0 10px 0 0; font-size:14px;  box-sizing:border-box;}
.write_qa .write_wrap dl dd input {width:100%; height:31px; font-size:14px; border:none; box-sizing:border-box; color:#333;}
.write_qa .write_wrap dl dd input::placeholder{color:#9a9a9a; font-weight:normal;}
.write_qa .write_wrap dl dd input[type="file"]{position:absolute;top:0;left:0;height:100%;opacity:0}
.write_qa .write_wrap dl.b_content {display:inline-table; padding-bottom:0;}
.write_qa .write_wrap dl.b_content dt {position:relative; display:inline-table; width:100%; padding:5px 0 5px 0;}
.write_qa .write_wrap dl.b_content dt .b_content_chk {position:absolute; top:5px; right:10px;}
.write_qa .write_wrap dl.b_content dd {display:inline-table; width:100%; padding-right:0;}
.write_qa .write_wrap dl.b_content dd .textarea_box {padding:5px 10px 15px 10px;}
.write_qa .write_wrap dl.b_content dd .textarea_box textarea {width:100%; height:150px; border:none; font-size:14px; box-sizing:border-box; resize:none;}
.write_qa .write_wrap dl.b_content dd .textarea_box .textarea_box_length{font-size:12px; letter-spacing:-0.3px; color:#999; text-align:right;}
.write_qa .write_wrap dl.vertiT > *{padding-top:5px; padding-bottom:5px; vertical-align: top;}
.write_wrap dl .select_item_info{display:inline-block;}
.write_wrap dl .select_item_info > * {display:block;}
/* 평가 */
.write_qa .write_wrap .choice_box {border:1px solid #c3c3c3;}
.write_qa .write_wrap .choice_box .bn_opt { width:100%; height:31px; padding:0 33px 0 6px; border:0; border-radius:0; box-shadow:none; vertical-align:top;  background: url('/assets/img/icon/icon_bg_select.png') no-repeat 100% 0; background-size:400px 31px; font-size:14px; color:#333333; font-weight:bold; }
.write_qa .write_wrap .choice_box .choice_rating {border-top:1px solid #c3c3c3;}
.write_qa .write_wrap .choice_box .choice_rating li {padding:5px;}
.write_qa .write_wrap .choice_box span.rating {display:block; width:77px; height:13px; font-size:0; background:url('/assets/img/icon/icon_star.png') no-repeat left top; background-size:77px 13px;}
.write_qa .write_wrap .choice_box span.rating span {display:block; height:13px; background:url('/assets/img/icon/icon_star_on.png') no-repeat left top; background-size:77px 13px;}
.write_qa .rating_star{position:relative;width: 138px;background: url("/assets/img/icon/icon_star.png") no-repeat left center;vertical-align:middle;text-indent:-9999px;height: 22px;background-size: cover;}
.write_qa .rating_star li{position:absolute;width:20%;}
.write_qa .rating_star li.on{background:url("/assets/img/icon/icon_star_on.png") no-repeat left center;background-size: cover;}
.write_qa .rating_star li:nth-child(1){left:0;}
.write_qa .rating_star li:nth-child(2){left: 29px;}
.write_qa .rating_star li:nth-child(3){left: 58px;}
.write_qa .rating_star li:nth-child(4){left: 86px;}
.write_qa .rating_star li:nth-child(5){left: 115px;}

/* 상품선택 */
.write_qa .write_wrap .itemselect {position:relative; min-height:21px;} 
.write_qa .write_wrap .itemselect .item_select_btn_box {} 
/* 파일 첨부 */
.write_qa .write_wrap .b_file {padding:10px 10px 0 10px;}
/* 상품 선택 / 주문선택 */
.write_qa .selected_goods_wrap {padding:0 10px; border-bottom:1px solid #ddd; background:#f8f8f8;}
.write_qa .selected_goods_wrap .selected_goods {display:table; width:100%; table-layout:fixed;}
.write_qa .selected_goods_wrap .selected_goods .goods_item_cell{display:table-cell; vertical-align:middle;}
.write_qa .selected_goods_wrap .selected_goods .goods_item_cell.cell_img{width:50px; padding:10px 10px 10px 0;}
.write_qa .selected_goods_wrap .selected_goods .goods_item_cell.cell_img .goods_img{display:block; border:1px solid #e5e5e5;}
.write_qa .selected_goods_wrap .selected_goods .goods_item_cell.cell_img .goods_img img{ width:100%; vertical-align:top; }
.write_qa .selected_goods_wrap .selected_goods .goods_item_cell.cell_info{font-size:14px; padding:10px 0;}
.write_qa .selected_goods_wrap .selected_goods .goods_item_cell.cell_price{text-align:right; font-size:14px;}
.write_qa .selected_goods_wrap .selected_goods .goods_item_cell.cell_delete {text-align:center; width:40px;}
.write_qa .selected_goods_wrap .selected_goods .goods_item_cell.cell_delete button {display:block; height:20px; background:none; border:none;}
/* 보안코드 */
.write_qa .input_wrap {padding:0 10px; box-sizing:border-box;}
.write_qa .input_wrap .capcha {display:table; min-width:300px; margin:0 auto; padding:10px 0 10px 0;}
.write_qa .input_wrap .capcha .capcha_img {display:table-cell; text-align:center; vertical-align:middle; border:1px solid #d6d6d6; }
.write_qa .input_wrap .capcha .capcha_img span {display:table-cell; width:188px; height:100px; vertical-align:middle;}
.write_qa .input_wrap .capcha .capcha_img span img {}
.write_qa .input_wrap .capcha .capcha_body {display:table-cell; padding:0 0 0 10px;}
.write_qa .input_wrap .capcha .capcha_body .capcha_text {padding:0 0 10px 0;}
.write_qa .input_wrap .capcha .capcha_body .capcha_input {padding:0 0 10px 0;}
.write_qa .input_wrap .capcha .capcha_body .capcha_input input {width:100%; height:26px; border:1px solid #d0d0d0; text-indent:10px; box-sizing:border-box;}
/* 비회원 글작성에 대한 개인정보 수집 및 이용동의 */
.write_qa .write_wrap dl.b_guest {display:inline-table; padding-bottom:0;}
.write_qa .write_wrap dl.b_guest dt {position:relative; display:inline-table; width:calc(100% - 20px); padding:5px 10px 5px 10px; text-indent:0;}
.write_qa .write_wrap dl.b_guest dt label {font-size:13px;}
.write_qa .write_wrap dl.b_guest dd {display:inline-table; width:100%; padding-right:0;}
.write_qa .write_wrap dl.b_guest dd .textarea_box {padding:5px 10px 5px 10px;}
.write_qa .write_wrap dl.b_guest dd .textarea_box textarea{width:100%; height:120px; padding:10px; font-size:12px; box-sizing:border-box; resize:none;}
.write_qa .write_wrap dl.b_guest dd .textarea_box .textarea_box_scroll{width:100%; height:120px; padding:10px; font-size:12px; box-sizing:border-box; border:solid 1px #ccc; overflow-y:auto; margin-bottom:10px;}
/* 버튼 위치 */
.write_qa .btn_box {display:table; width:100%; padding:10px 0 10px 0;}
.write_qa .btn_box li {display:table-cell; width:50%;}
.write_qa .btn_box li:nth-child(1) {padding:0 2px 0 10px;}
.write_qa .btn_box li:nth-child(2) {padding:0 10px 0 2px;}
/* 닫기 */
.write_qa .close_btn {position:absolute; top:0; right:0; z-index:100; display:none;}
.ly_pop .write_qa .close_btn {display:block;}

/* 게시판 글쓰기 이메일 */
.board_input_email {border:1px solid #c3c3c3 !important; width:50% !important; padding:0 5px;}
.board_email_select_box {float:right; width:calc(100% - 51.3%); display:inline-block; vertical-align: middle;}
.board_email_select {height:31px; width:100%; padding:0 0 0 5px; border:1px solid #c3c3c3; background: #fff url(/assets/img/icon/icon_bg_select.png) no-repeat 100% 0; background-size: 376px auto;}

.add_file_area{padding:0 10px;}
.add_file_area ul:after{content:''; display:block;clear:both;}
.add_file_area li{float:left; margin-right:7px; margin-bottom:7px}
.add_file_area li > div{position:relative;}
.add_file_area li.item {position:relative;overflow:hidden; display:inline-block; width:64px; height:64px; border:solid 1px #f0f0f0; box-sizing:border-box;}
.add_file_area li.item button.file_face { width:100%; height:100%; border:none; background:url('/assets/img/icon/icon_add_file_plus.png') center center no-repeat; background-size:20px 20px; font-size:0;}
.add_file_area li.item button.file_face.preview {border:none; background-size:100% auto; }
.add_file_area li.item input.file_hidden {margin-bottom:-20px; opacity:0;}
.add_file_area li.vis_mode > div{width:64px; height:64px; box-sizing:border-box; overflow:hidden; border:solid 1px #d4d4d4;}
.add_file_area li.vis_mode > div > img{max-width:100%;}
.add_file_area li.vis_mode > div .del,
.add_file_area li.vis_mode > div .view{position:absolute; bottom:0; right:0; display:block; font-size:0;}
.add_file_area li.text_mode > div{font-size:11px; color:#333; line-height:64px; vertical-align:middle; display:inline-block;}
.add_file_area li.text_mode > div *{vertical-align:middle; line-height:1em; display:inline;}
.add_file_area li.text_mode > div .file{display:inline-block; border-bottom:solid 1px #333;}
.add_file_area li.text_mode > div .del{margin-left:5px;}
/*.add_file_area li.vis_mode + li.text_mode{margin-left:15px;}*/
.file_upload_sec + .add_file_area{border-top:none; margin-top:10px;}

.write_qa .write_wrap dl dd .inp_chk_box span{margin-left:40px;}
.write_qa .write_wrap dl dd .inp_chk_box span:first-child{margin-left:0;}
.write_qa .write_wrap dl dd .inp_chk_box input {width:20px; height:20px; box-sizing:border-box;}
.write_qa .write_wrap dl dd .inp_chk_box label {font-size:14px; color:#3a3a3a; letter-spacing: -0.35px;}
.write_qa .write_wrap dl dd .inp_chk_box + .inp_chk_box_bot_txt{margin-top:12px;}
.inp_chk_box_bot_txt{font-size:12px; color:#9a9a9a; letter-spacing:-0.3px;}

.lock_type_txt{font-size:12px; color:#6a6a6a; border-bottom:1px solid #e1e1e1; padding:15px 10px;}
.lock_type_txt > img{vertical-align:text-top; margin-right:6px;}