<!--
  ~  © 2021. NHN Commerce Corp. All rights reserved.
  ~  NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  ~
  ~  @author hyeyeon-park
  ~  @since 2021.7.6
  -->

<script id="addBoardArticlePopupTemplate" type="text/x-handlebars-template">
    <div class="layer_wrap dimed">
        <div class="box common_popup_body" style="width: 600px">
            <div class="view" style="text-align: left;">
                <h2 class="boardTitle">{{boardInfo.name}}</h2>
                <div class="board_write_box">
                    <table class="board_write_table">
                        <colgroup>
                            <col style="width:23%">
                            <col style="width:77%">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th scope="row">작성자</th>
                            <td>

                                <div class="element_box">
                                    {{#ifLogined}}
                                        <input type="text" class="writerName js_text_length_check_input" name="writerName" maxlength="20" value="{{writer}}" disabled>
                                        <span class="text_length js_text_length">{{ writer.length }}/20</span>
                                    {{else}}
                                        <input type="text" class="writerName js_text_length_check_input" name="writerName"  value="{{writer}}" maxlength="20">
                                        <span class="text_length js_text_length">{{#if writer}}{{writer.length}}{{else}}0{{/if}}/20</span>
                                    {{/ifLogined}}
                                </div>
                            </td>
                        </tr>

                        {{#ifLogined}}{{else}}
                            <tr>
                                <th scope="row">비밀번호</th>
                                <td><input type="password" class="password" name="password" minlength="4" maxlength="20" data-pattern="password"></td>
                            </tr>
                        {{/ifLogined}}

                        <tr>
                            <th scope="row">제목</th>
                            <td>
                                <div class="element_box">
                                    <input type="text" class="js_text_length_check_input" name="title" value="{{articles.title}}" maxlength="50" data-pattern="articles">
                                    <span class="text_length js_text_length">{{#if articles}}{{articles.title.length}}{{else}}0{{/if}}/50</span></div>
                            </td>
                        </tr>
                        <tr class="form_element" style="display: table-row">
                            <th scope="row">내용</th>
                            <td class="write_editor">
                                <div class="element_box">
                                    <textarea id="editor" name="content" cols="30" rows="10" maxlength="1000" data-pattern="articles">{{articles.content}}</textarea>
                                    <span class="text_length">{{#if articles}}{{articles.content.length}}{{else}}0{{/if}}/1000</span>
                                </div>
                                {{#if boardInfo.secretPostingUsed}}
                                <div>
                                    <input type="checkbox" name="secreted" id="secreted" {{#if articles.secreted}}checked{{/if}}>
                                    <label for="secreted" class="check_s">비밀글</label>
                                </div>
                                {{/if}}
                            </td>
                        </tr>

                        <tr id='attachmentBox'>
                            <th scope="row">첨부파일</th>
                            <td id="uploadBox">
                                <div class="file_upload_sec">
                                    <div class="btn_upload_box">
                                        <button type="button" class="btn_upload" title="찾아보기"><em>파일찾기</em>
                                        </button>
                                        <input type="file" id="attach1" name="upfiles" class="file" title="파일찾기"
                                               accept="image/png,image/jpeg,image/gif,image/jpg,image/bmp" multiple>
                                    </div>
                                </div>
                                <div id="attachImages" class="add_file_area" data-template-id="attachmentsTemplate">
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="board_write_agree">
                        {{#ifLogined}}{{else}}
                        <div class="board_commen_agree">
                            <div class="form_element">
                                <div class="agree_choice_box">
                                    <input type="checkbox" name="private" value="y" id="acceptTerms">
                                    <label for="acceptTerms" class="check_s">비회원 글작성에 대한 개인정보 수집 및 이용동의 (필수)</label>
                                </div>
                                <div class="guest_terms_contents"  id="guestArticleTerms"></div>
                            </div>
                        </div>
                        {{/ifLogined}}
                    </div>

                    <div class="btn_box">
                        <button type="button" class="btn_cancel btnClosePopup" data-action-type="negative"><span>취소</span>
                        </button>
                        <button type="button" id="btnWriteArticle" class="btn_confirm" data-action-type="positive"><span>저장</span>
                        </button>
                    </div>
                </div>
            </div>
            <a href="#close" class="ly_close btnClosePopup" data-action-type="negative" style="outline: 0"><img
                    src="/assets/img/mypage/icon-layer-close.png" alt="닫기"></a>
        </div>
    </div>
</script>
<script id="attachmentsTemplate" type="text/x-handlebars-template">
    <div id='attachImages' class='add_file_area' data-template-id='attachmentsTemplate'>
        <ul>
            {{#each attachedImages}}
                <li class='vis_mode' data-image-id="{{@index}}">
                    <div>
                        {{img imageUrl}}
                        <a id='deleteAttachImage' class='del' href='#'>
                            <img src='/assets/img/board/icon_del_add_file.png' alt='삭제' />
                        </a>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
</script>

<script type="text/javascript" src="/js/components/popup/board-article.js"></script>
