<!--
  ~  © 2021. NHN Commerce Corp. All rights reserved.
  ~  NHN Corp. PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  ~  
  ~  @author choisohyun
  ~  @since 2021.7.23
  ~
  -->

<script id="cancelMessagePopupTemplate" type="text/x-handlebars-template">
    <div class='layer_wrap dimed'>
        <div class='box common_popup_body'>
            <div class='view' style='text-align: left;'>
                <div class='scroll_box'>
                    <p>
                        주문에 포함된 상품을 즉시 전체취소하시겠습니까?
                        <br />
                        일부 상품만 부분취소하시겠습니까?
                    </p>
                </div>
                <div class='btn_box'>
                    <button type='button' class='btn_confirm btnCloseMessage' data-action-type='positive' data-cancel-type='all'>
                        <span>
                            즉시 전체 취소
                        </span>
                    </button>
                    <button type='button' class='btn_confirm btnCloseMessage' data-action-type='positive' data-cancel-type='part'>
                        <span>
                            선택 부분 취소
                        </span>
                    </button>
                </div>
            </div>
            <a href='javascript:void(0)' class='ly_close btnCloseMessage' data-action-type='negative'>
                <img src='/assets/img/mypage/icon-layer-close.png' alt='닫기' />
            </a>
        </div>
    </div>
</script>
<script type="text/javascript" src="/js/components/popup/cancel-message.js"></script>
