<script id="inquiryContentsTemplate" type="text/x-handlebars-template">
    <table class="board_write_table" id="inquiryContents" data-template-id="inquiryContentsTemplate">
          <colgroup>
              <col style="width: 23%;" />
              <col style="width: 77%;" />
          </colgroup>
          <tbody>
          <tr>
              <th>문의유형</th>
              <td>
                  <select name="type"  {{#if inquiryTypesDisabled}}disabled{{/if}}>
                      {{#each inquiryTypes}}
                          <option value="{{inquiryTypeName}}" data-type="{{inquiryTypeNo}}" {{#ifEq ../inquiryType key}}selected{{/ifEq}}>{{inquiryTypeName}}</option>
                      {{/each}}
                  </select>
              </td>
          </tr>
          <tr>
              <th scope="row">제목</th>
              <td>
                  <div class="element_box">
                      <input type="text" class="js_text_length_check_input" name="title" value="{{title}}" maxlength="50" data-pattern="article">
                      <span class="text_length js_text_length"><span class="textLength">{{title.length}}</span>/50</span></div>
              </td>
          </tr>
          <tr class="form_element" style="display: table-row">
              <th scope="row">내용</th>
              <td class="write_editor">
                  <div class="element_box">
                      <textarea id="editor" name="content" cols="30" rows="10" maxlength="1000" data-pattern="article">{{content}}</textarea>
                      <span class="text_length"><span class="textLength">{{content.length}}</span>/1000</span>
                  </div>
                  <div class="text_infor">해당글은 비밀글로만 작성이 됩니다.</div>
              </td>
          </tr>

          {{#if hasAttachment}}
              <tr>
                  <th scope="row">첨부파일</th>
                  <td id="uploadBox">
                      {{#if attachmentUsed}}
                          <div class="file_upload_sec">
                              <div class="btn_upload_box">
                                  <button type="button" class="btn_upload" title="찾아보기"><em>파일찾기</em>
                                  </button>
                                  <input type="file" id="attach1" name="upfiles[]" class="file" title="파일찾기"
                                         accept="image/png,image/jpeg,image/gif,image/jpg,image/bmp" multiple>
                              </div>
                          </div>
                      {{/if}}
                      <div class="add_file_area" id="attachmentImage">
                          <ul>
                              {{#each imageUrls}}
                                  <li class='vis_mode' data-image-id="{{@index}}">
                                      <div>
                                          {{img this}}
                                          <a class='del deleteAttachImage' href='javascript:void(0)' data-type="delete">
                                              <img src='/assets/img/board/icon_del_add_file.png' alt='삭제' data-type="delete"/>
                                          </a>
                                      </div>
                                  </li>
                              {{/each}}
                          </ul>
                      </div>
                  </td>
              </tr>
          {{/if}}

          {{#if hasAnswerNotifications}}
              <tr>
                  <th scope="row">답변등록 알림</th>
                  <td class="text-pad">
                      <div class="form_element">
                          {{#if hasSmsNotification}}
                              <div class="agree_choice_box dis_inlineB">
                                  <input type="checkbox" name="agree_sns_email" value="y" id="smsAgree" {{#if answerSmsSend}}checked{{/if}}>
                                  <label for="smsAgree" class="check_s">SMS 수신</label>
                              </div>
                          {{/if}}
                          {{#if hasEmailNotification}}
                              <div class="agree_choice_box dis_inlineB">
                                  <input type="checkbox" name="agree_sns_email" value="y" id="emailAgree" {{#if answerEmailSend}}checked{{/if}}>
                                  <label for="emailAgree" class="check_s">이메일 수신</label>
                              </div>
                          {{/if}}
                          <div class="text_infor">답변등록 시 회원정보에 등록한 휴대폰번호/이메일로 안내가 발송됩니다.</div>
                      </div>
                  </td>
              </tr>
          {{/if}}
          </tbody>
      </table>
</script>

<script id="inquiryPopupTemplate" type="text/x-handlebars-template">
    <div class='layer_wrap dimed' id='inquiryWrap'>
        <div class='box common_popup_body' style='width: 600px;'>
            <div class='view' style='text-align: left;'>
                <h2 class='boardTitle'>
                    {{name}}
                </h2>
                <div class='board_write_box'>
                    <table class='board_write_table' id='inquiryContents' data-template-id='inquiryContentsTemplate'>
                    </table>
                    <div class='btn_box'>
                        <button type='button' class='btn_cancel' data-type='negative'>
                            <span data-type='negative'>
                                취소
                            </span>
                        </button>
                        <button type='button' class='btn_confirm' data-type='positive'>
                            <span data-type='positive'>
                                저장
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <a href='#close' class='ly_close' data-action-type='negative' style='outline: 0;'>
                <img src='/assets/img/mypage/icon-layer-close.png' alt='닫기' data-type='negative' />
            </a>
        </div>
    </div>
</script>
<script type="text/javascript" src="/js/components/popup/inquiry.js"></script>
