<template id="myShippingListPopupTemplate" type="text/x-handlebars-template">
    <div class="layer_wrap dimed">
        <div id="myShippingListLayer" class="layer_wrap delivery_add_list_layer">
            <div class="layer_wrap_cont" style="position: absolute; margin: 0px; top: 276px; left: 583px;">
                <div class="ly_tit">
                    <h4>나의 배송지 관리</h4>
                </div>
                <div class="ly_cont address_list">
                    <div class="scroll_box">
                        <h5>배송지 목록</h5>
                        <div class="delivery_add_list" id="deliveryAddList">
                            <div id="shippingList" data-template-id="shippingListTemplate"></div>
                            <a href="#deliveryAddLayer" class="btn_ly_add_shipping btn_open_layer btnAddAddress new" id="addShipping">+ 새 배송지 추가</a>
                        </div>
                        <!-- //delivery_add_list -->
                        <div id="component-shippingbook-pagination">
                            <div class="pagination" id="pagination"></div>
                        </div>
                    </div>
                    <!-- //scroll_box -->
                </div>
                <!-- //ly_cont -->
                <a href="#close" class="ly_close layer_close btnClosePopup" data-action-type="negative"
                    ><img src="/assets/img/mypage/icon-layer-close.png" alt="닫기"
                /></a>
            </div>
            <!-- //layer_wrap_cont -->
        </div>
    </div>
</template>

<script type="text/x-handlebars-template" id="shippingListTemplate">
    <div class='top_table_type'>
        <table>
            <colgroup>
                <col style='width: 10%;' />
                <!-- 선택 -->
                <col style='width: 13%;' />
                <!-- 배송지이름 -->
                <col style='width: 12%;' />
                <!-- 받으실 분 -->
                <col />
                <!-- 주소 -->
                <col style='width: 20%;' />
                <!-- 연락처 -->
                <col style='width: 12%;' />
                <!-- 수정/삭제 -->
            </colgroup>
            <thead>
                <tr>
                    <th>
                        선택
                    </th>
                    <th>
                        배송지이름
                    </th>
                    <th>
                        받으실분
                    </th>
                    <th>
                        주 소
                    </th>
                    <th>
                        연락처
                    </th>
                    <th>
                        수정/삭제
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each displayShippingAddress}}
                    <tr>
                        <td>
                            <span class='btn_gray_list'>
                                <a href='#' class='btn_gray_mid btnChoiceAddress btnClosePopup' data-action-type='positive'>
                                    <span data-address-no="{{addressNo}}">
                                        선택
                                    </span>
                                </a>
                            </span>
                        </td>
                        <td>
                            {{#ifEq defaultYn 'Y'}}
                                <span>
                                    (기본배송지)
                                </span>
                            {{/ifEq}}

                            <strong>
                                {{addressName}}
                            </strong>
                        </td>
                        <td>
                            {{receiverName}}
                        </td>
                        <td class='td_left'>
                            <span>
                                {{receiverZipCd}}
                            </span>
                            {{receiverAddress}} {{receiverDetailAddress}}
                        </td>
                        <td class='td_phone'>
                            <span>
                                휴대폰 : {{receiverContact1}}
                            </span>
                            <span>
                                전화번호 : {{receiverContact2}}
                            </span>
                        </td>
                        <td>
                            <span class='btn_gray_list'>
                                <a
                                    href='#deliveryAddLayer'
                                    class='btn_gray_small btn_open_layer btnAddAddress'
                                    id='modifyAddress'
                                    data-address-no="{{addressNo}}"
                                >
                                    <span data-address-no="{{addressNo}}">
                                        수정
                                    </span>
                                </a>
                            </span>
                            <span class='btn_gray_list'>
                                <a href='#' class='btn_gray_small js_delete btnDeleteAddress' data-address-no="{{addressNo}}" data-default-fl='y'>
                                    <span data-address-no="{{addressNo}}">
                                        삭제
                                    </span>
                                </a>
                            </span>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</script>

<script src="/js/components/popup/my-shipping-list.js" />
