<script id="payProcessTemplate" type="text/x-handlebars-template">
    <div id='pgSettlementApplyLayer' class='layer_wrap pg_layer'>
        <div class='layer_wrap_cont' style='position: absolute; margin: 0px; top: 178.5px; left: 663px; z-index: 10405;'>
            <div class='ly_tit'>
                <h4>
                    결제 진행중
                </h4>
            </div>
            <div class='ly_cont'>
                <div class='escrow_cont'>
                    <p>
                        잠시후 결제창이 자동으로 열리게 됩니다.
                        <br />
                        결제창이 열리지 않으면 아래 결제창 열기를 눌러주세요.
                    </p>
                    <div class='btn_center_box'>
                        <button type='button' class='btn_pg_go' id='openPgBtn'>
                            <em>
                                결제창 열기
                            </em>
                        </button>
                    </div>
                </div>
                <div class='btn_pg_box'>
                    <a href="/pages/order/order.html?ordersheetno={{orderSheetNo}}" class='btn_pg_cancel' id='cancelPgBtn'>
                        <em>
                            결제 취소
                        </em>
                    </a>
                    <a href='/pages/order/cart.html' class='btn_pg_cartmove' id='cartMoveBtn'>
                        <em>
                            장바구니 이동
                        </em>
                    </a>
                </div>
            </div>
            <a href="/pages/order/order.html?ordersheetno={{orderSheetNo}}" class='ly_close layer_close btnClosePopup'>
                <img src='/assets/img/common/layer/btn_layer_close.png' alt='닫기' />
            </a>
        </div>
    </div>
</script>

<script src="/js/components/popup/pay-process.js" />
